<div class="cta-skin">
  <div class="container text-center">
      <h3>SantaCruzEQ6 Available Now</h3>
      <h4>SantaCruzEQ12 coming soon</h4>
      <p><strong>• SantaCruzEQ6; <strike>MSRP $189</strike>, Introductory Price: $149<br>
      • SantaCruzEQ12; <strike>MSRP $259</strike>, PreRelease: $209</strong></p>
    
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-xl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Purchase Now
        </button>
        <div class="dropdown-menu dropdown-hack" aria-labelledby="btnGroupDrop1">
          <a href="<%= current_page.data.avangate.buy12 %>" class="dropdown-item">SantaCruzEQ12</a>
          <a href="<%= current_page.data.avangate.buy6 %>" class="dropdown-item">SantaCruzEQ6</a>
        </div>
      </div>
      <a href="<%= current_page.data.avangate.trial %>" class="btn btn-xl btn-white-omas-special-style-border">Try It Now</a>
    </div>
  </div>
</div>