<div class="cta-skin">
  <div class="container text-center">
    <h3>SantaCruzEQ6 Available Now</h3>
    <h4>SantaCruzEQ12 coming soon</h4>
    <p><strong>• SantaCruzEQ12: $209<br>
    • SantaCruzEQ6: $149</strong></p>

    <div class="btn-group">
      <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-xl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Buy It Now</button>
      <div class="dropdown-menu dropdown-hack" aria-labelledby="btnGroupDrop1">
        <a href="<%= current_page.data.avangate.buy12 %>" class="dropdown-item">SantaCruzEQ12</a>
        <a href="<%= current_page.data.avangate.buy6 %>" class="dropdown-item">SantaCruzEQ6</a>
      </div>
    </div>

    <div class="btn-group">
      <button id="btnGroupDrop3" type="button" class="btn btn-white-omas-special-style-border btn-xl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Try It Now</button>
      <div class="dropdown-menu dropdown-hack" aria-labelledby="btnGroupDrop3">
        <a href="https://www.maat.digital/dl/SCEQ-macos.zip" class="dropdown-item">Installer for macOS</a>
        <a href="https://www.maat.digital/dl/SCEQ-windows.zip" class="dropdown-item">Installer for Windows</a>
      </div>
    </div>
  </div>
</div>
