<div class="cta-skin">
  <div class="container text-center">
    <h3>Order SantaCruzEQ Now</h3>
    <p><strong>• SantaCruzEQ12: $259<br>
    • SantaCruzEQ6: $189</strong></p>

    <div class="btn-group">
      <button id="btnGroupDrop1" type="button" class="btn btn-xl btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Buy It Now <i class="ion-play"></i></button>
      <div class="dropdown-menu dropdown-hack" aria-labelledby="btnGroupDrop1">
        <a data-fsc-item-path-value='<%= current_page.data.fastspring.buy12 %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">SantaCruzEQ12</a>
        <a data-fsc-item-path-value='<%= current_page.data.fastspring.buy6 %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">SantaCruzEQ6</a>
      </div>
    </div>

    <div class="btn-group">
      <button id="btnGroupDrop3" type="button" class="btn btn-white-omas-special-style-border btn-xl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Try It Now</button>
      
      </div>
          <a href="https://www.maat.digital/support/#installers" class="btn btn-xl btn-white-omas-special-style-border">Try It Now</a>
      </div>
      
    </div>
  </div>
</div>
