<section class="features-bg">
  <div class="container">
    <div class="center-title">
     <h2>Speeds & Feeds</h2>
     <p>Downloads, Features & Specifications</p>
     <h3>Stay Current</h3>
     <p>Looking for the latest version of your software? Just <a href="https://www.maat.digital/support/#installers" target="_blank">download</a> and install the demo! The installer will update everything and your license will take over when you next use the product.</p>
    </div>

    <div class="center-title">
      <h3>Downloads</h3>
      <p><b>• Download the user manual</b> for SantaCruzEQ <strong><a href="https://website-maat-digital-downloads.s3.eu-west-1.amazonaws.com/public/docs/SantaCruzEQ_UM.pdf" target="_blank">here</a></strong>…</p>
      <p><b>• Download Understanding EQ Architectures </b><strong><a href="https://website-maat-digital-downloads.s3.eu-west-1.amazonaws.com/public/docs/Understanding_EQ_Architectures.pdf" target="_blank">here</a></strong>…</p>
    </div>

<div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-paper"></i>
          </div>
          <div class="content">
            <h4>Features</h4>
            <ul>
            <li>Fully parametric minimum phase EQ for complete control</li>
            <li>80 bit internal precision blows away the competition for sound quality</li>
            <li>Up to twelve unique idealized architectures, derived from analog circuitry</li>
            <li>Broad choice of cut, shelf and bell topologies</li>
            <li>AutoGain for effortless A/B comparisons</li>
            <li>Proprietary oversampling for “analog” sound at 44.1 and 48k</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-document-text"></i>
          </div>
          <div class="content">
            <h4>Supporting</h4>
            <ul>
            <li>AAX (Pro Tools 10.3.10 and newer), AU, VST 2, VST 3</li>
            <li>Sample rates from 44.1 to 384 kHz</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="center-title">
      <h4>VST</h2>
      <p>VST PlugIn Interface Technology by Steinberg Media Technologies GmbH</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-briefcase"></i>
          </div>
          <div class="content">
            <h4>License</h4>
            <ul>
            <li>Perpetual: One–Time Buyout…<br>
            &nbsp; — SantaCruzEQ6 [Architectures No. 1-6]<br>
            &nbsp; — SantaCruzEQ12 [Architectures No. 1-12]
            </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-android-laptop"></i>
          </div>
          <div class="content">
            <h4>Requirements</h4>
            <ul>
            <li>macOS 10.8 and newer, Catalina–ready</li>
            <li>Windows 7 and newer, 32 & 64 bit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>