<section class="testimonials grey-bg">
    <div class="space-60"></div>
  </div>
  <div class='space-90'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Reviews & Testimonials</h3>
          <h5>Peter “Minimalistix” Bellaert – producer, composer & arranger</h5>
          <p><em>“Your SantaCruzEQ and thEQorange kill ProQ and many other EQs!! You’ve got the best EQ I ever heard, really!!”</em></p>
          <h5>Thomas Joren Nielsen, composer & engineer</h5>
          <p><em>“The high end on SantaCruzEQ is something of the gods. 10x better than oversampling on FabFilter Pro-Q3. And Neutron3 can kiss my ass. I really like having the algorithm (Architecture) options available too. Seriously, most plugins only have two “Digital Q or Analog Q” so this is something that really sets it apart. Will def be implementing this all over my mixes.”</em></p>
          <h5>Arnold “DJ Kodi/Purple Avenue” Toutain</h5>
          <p><em>“MAAT SantaCruz EQ : Blown away !<br>
          I saw today a promo for SantaCruz EQ so gave it a chance & demoed it. For the moment it's the most incredible EQ that I had the opportunity to work with…<br>
          I mostly work in Pro Tools with PSP Neon (transparent), EQuilibrium (Swiss army knife) and stock Eq most of the time. I don't say that I will never ever use these plugins as I think they sound very well. But this thing…never heard such transparency or clarity in an EQ plugin for cleaning a mix or giving some air.<br>
          Tested SantaCruz against SSL X-EQ (supposed to be Algorithmix based) with Hofa A/B: I would say that Maat EQ sounds clean in a good way & never alter stereo image (solid sides). the SSL sounded great but changed the "panorama" of the songs.<br>
          Last but not least: Software is authorized via Code Meter on my macbook so no need for a Wibu CM dongle!<br>
          Pros: The sound!<br>
          Cons : No meter, no analyzer & no mid/side processing<br></em></p>
          <p><em>…this plugin is simply the purest EQ I had the opportunity to test. I bought it!”</em></p>
          <h5>Don Gunn, (Death Cab, Frampton, Soundgarden, King Crimson)</h5>
          <p><em>“I purchased <%= link_to 'RSPhaseShifter', 'https://www.maat.digital/rsphaseshifter/', target: '_blank' %> and SantaCruzEQ this week and I'm EXTREMELY pleased with my decision; these are truly excellent sounding tools that are already making me question some of my other plugin choices...”</em></p>
          <h5>Trevon, Steady Sounds Music Group (via GearSlutz)</h5>
          <p><em>“I was at a studio today and i was mixing a track, but the song had alot of mud and resonance to it. No matter what I used I couldn't make it get clarity. I tried all my normal tools, but it either went harsh or lost some dimension. My buddy came in and said user maat eq and I tried it and with in minutes clarity and dimension…It is worth the hype they claim. Im buying tomorrow. Just other worlds better then the tools I was using before. Even Gullfoss couldn't help me.”</em></p>
          <h4>SantaCruzEQ leverages the power of thEQblue, with the same exceptional clarity and color. Here are some thoughts on thEQb for your consideration…</h4>
          <h5>Stephan Mathieu, Schwebung Mastering</h5>
          <p><em>“thEQorange became my unrivaled critical EQ from day one on, period. Now that I’ve added thEQblue to my strictly selected palette of ITB processors, I can say that I’ve found my absolute dream team. So very well done, and I can’t wait for your version of the LP SplitComp to arrive, which most likely means that I’ll be able do all my ITB work with those three products. Maximal minimalism, my dream for 25 years coming true.<br>
          You know, the last 3 days I found the time to really deal with blue, and yesterday I started to become really excited with the MAAT EQ team. Not like having found a new toy, but having found a solution. I’m working all day with plugins since ’96 and something I’ve learned quickly is that I don’t want to use most of them but try to master only a handful instead. Here I go, and thanks again for that…Keep up the brilliant work.”</em></p>
          <h5>Sean Diggins, Digital Diggo Mastering</h5>
          <p><em>“thEQblue is a sleek, blue-sky clean “curve machine.” It's always about the curves and blue has the lot.”</em></p>
          <h5>Arpad Tchiba, classical engineer</h5>
          <p><em>“…Excellent, overwhelming! and looks beautiful. Thanks very much. It was absolutely worth waiting for.”</em></p>
          <h5>Dr. Heinrich Hohl, indy engineer</h5>
          <p><em>“I have bought and tested many other EQs. Flux Epure, Sonnox EQ, DDMF, BlueCat Audio, Brainworx Hybrid, FabFilter ProQ2 and many more. None of these could really replace the Algorithmix EQs…Things have changed now with the MAAT releases. I want to thank you for giving us back these stellar EQs for work on modern operating systems. After more than 10 years of waiting, I finally have my top EQs back!”</em></p>
          <h4>SantaCruzEQ actually improves on the original Classic PEQ Blue, since it uses the same algorithms as thEQblue, with increased precision for even finer low amplitude detail.</h4>
          <h5>Here’s legendary mastering engineer Bob Olhsson discussing his beloved original, Classic PEQ Blue</h5>
          <p><em>“I still use blue and red…Blue and red remain unsurpassed sound-wise.”</em></p>
          <h5>TKFP (Gearslutz), also on the original Classic PEQ Blue</h5>
          <p><em>“You know mixing without blue, is like cereals without milk. So many good and usable EQs out there. Lets face it. Im a sucker for that good EQ tho. I really rely on it. I dont wanna see my new system running without it. That Algo stuff is still untouched. Its really good. Really good.”</em></p>
          <h4>Reviewers & Engineers! Go ahead, add your voiceover to the mix!</h4>
          <p>Head to our <%= link_to 'Contact', '/contact' %> page and give a shout…We’d love to hear what you think!</p>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
    </div>
    <div class="space-60"></div>
  </div>
</section>