<div class="cta-skin">
  <div class="container text-center">
    <h2>DROffline</h2>
    <p>Get your newly updated, one and only DR (Dynamic Range) metering plug-in!</p>
    <div class="buttons">
      <a href="https://secure.avangate.com/order/checkout.php?PRODS=4710515&QTY=1&CART=1&CARD=1"
        class="btn btn-xl btn-primary video-popup"> Buy Now <i class="ion-play"></i></a>
      <a href="https://secure.avangate.com/order/checkout.php?PRODS=4710519&QTY=1&CART=1&CARD=1"
        class="btn btn-xl btn-white-border">Try It Now</a>
    </div>
    </form>
  </div>
</div>
