<div class="cta-skin">
  <div class="container text-center">
    <h2>DROffline</br><strong>Price: $15</strong</h2>

    <div class="buttons">
      <a href="https://secure.avangate.com/order/checkout.php?PRODS=4710516&QTY=1&CART=1&CARD=1"
        class="btn btn-xl btn-primary"> Buy Now <i class="ion-play"></i></a>
    </div>
    </form>
  </div>
</div>
