<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>DROffline</h2>
      <p>
        MAAT’s DROffline is the batch measurement companion application to our official DRMeter real time DR estimator plug–in.
        
      </p>
    </div>

    <div class='space-90'></div>
    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>Truly the Only Way to Measure DR</h3>
          <p>
            MAAT’s DROffline batch measurement app is the only software that generates official DR readings. Offering essential options
            for musically justified, file–based metering, DROffline includes DR dynamic range, SPPM Peak and RMS amplitude. One file can
            be evaluated, or an entire directory can be measured in batch mode.
            
          </p>
        </div>
        <div class="col-md-4 margin-b-30">
          <div class="icon-box text-center">
            <i class="ion-thumbsup feature-sign"></i>
          </div>
        </div>
      </div>
      <div class="space-60"></div>
    </div>
</section>

<section class="showcase-section grey-bg">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-ribbon-a feature-sign"></i>
        </div>
      </div>
      <div class="col-md-8 margin-b-30">
        <h3>What is DR?</h3>
        <p class="margin-b-20">
          The DR algorithm, akin to PLR (Peak–to–Loudness Ratio) or “crest factor,” specifically measures the dynamic 
          density or lack of dynamics caused by overly aggressive dynamic compression and limiting. Although the companion DRMeter
          provides an estimate of the "official" DR Value, only the DROffline utility can generate official values, which are cumulative 
          over the entire length of a song. Only DROffline can scrub through an entire song or track, resulting in an official DR number.
          
          </br>
          The complete DR metering system, composed of the realtime DRMeter plus the DROffline batch processor, was 
          created by Friedemann Tischmeyer to address the need to generate a repeatable, easy to understand numeric value. Seeing a 
          meaningful and easy to understand indication of dynamic range inspires users to back away from hyper compression.
          </p>


      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>

<section class="showcase-section">
  <div class='space-90'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Buy It & Help</h3>
        <p>
          As an introduction to everyone in the audio community, we’re offering this rather useful utility 
          at a very reasonable price. Part of your purchase, US$5, will be donated to the PMF so they can 
          continue working toward a more dynamically exciting world of music.
        </br>
        Thanks for visiting, and stay tuned for the upcoming, upgradable DRMeterMkII, which features all modern 
        metering algorithms, including True Peak Level and Loudness Units compliant with EBU R128 and ATSC A/85.
        We hope to be working with you more in the future, drop by often to see what’s new!
	
        </p>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-happy-outline feature-sign"></i>
        </div>
      </div>
    <div class="space-60"></div>
  </div>
  <div class="space-60"></div>
  </div>
</section>



<section class="showcase-section grey-bg">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-ribbon-a feature-sign"></i>
        </div>
      </div>
      <div class="col-md-8 margin-b-30">
        <h3>Not Only The Doctor Has a Companion</h3>
        <p class="margin-b-20">
          The companion DRMeter is a plug–in that generates approximate DR 
          values when applied to the loudest passages in a track. Due to its
          realtime operation, it cannot measure official DR values, but it can 
          estimate DR while you work. To download your copy of DRMeter, head over to maat.digital/drmeter.
          
          </br>
          The MAAT DROffline release is MAAT’s second step in bringing forward the
          legacy of the PMF’s legendary TT Dynamic Range metering system, which was
          certainly the most popular metering plug—in of the last decade. DROffline 
          has be modernized to work with current version of Windows and MacOS operating systems.
          
          </p>

         </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>


<!--end showcase section-->

<!--end showcase section-->
