<section class="showcase-section" id="features">
  <div class="space-60"></div>
  <div class="container">

    <div class="center-title">
      <h2>DROffline :: Software</h2>
      <p>
        MAAT’s DROffline is the entry level batch measurement companion application to our original DRMeter real time DR estimator plug-in.
      </p>
      <h4><strong>Price: $15</strong></h4>
    </div>

    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>Official Batch Measurement for DR<em>i</em></h3>
          <p>
            MAAT’s DROffline batch measurement app is our entry level software that generates official integrated DR or DR<em>i</em> readings. Offering essential options for musically justified, file–based metering, DROffline includes official DR dynamic range, SPPM Peak and RMS amplitude. One file can be evaluated, or an entire directory can be measured in batch mode. That means you can measure true DR<em>i</em>, integrated DR Dynamic Range, in the background so you don’t have to wait.
          </p>
        </div>
        <div class="col-md-4 margin-b-30">
          <div class="icon-box text-center">
            <i class="ion-stats-bars feature-sign"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="showcase-section grey-bg">
  <div class="space-60"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-ios-help feature-sign"></i>
        </div>
      </div>
      <div class="col-md-8 margin-b-30">
        <h3>What is DR?</h3>
        <p class="margin-b-20">
          The DR algorithm, akin to PLR (Peak–to–Loudness Ratio) or “crest factor,” specifically measures the dynamic density or lack of dynamics caused by overly aggressive dynamic compression and limiting. Although the companion DRMeter provides an estimate of the DR Value, only the DROffline and the more feature–packed <a href="https://www.maat.digital/dro2/" target="_self">DROffline MkII</a> utilities can generate official values, which are cumulative over the entire length of a song. DROffline can scrub through an entire song or track, resulting in an official DR<em>i</em> number.</br>
          The original DR metering system, composed of the real time DRMeter plus the DROffline batch processor, was created by Friedemann Tischmeyer and the Pleasurize Music Foundation to address the need to generate a repeatable, easy to understand numeric value. Seeing a meaningful and easy to understand indication of dynamic range inspires users to back away from hyper compression.
        </p>

        <h3>Is there a good reason to use DR?</h3>
        <p class="margin-b-20">
        Unlike EBU R 128 and BS. 1770 meters, DR measures dynamic range from the perspective of a music engineer’s needs. In contrast, R 128 and 1770 are designed <em>to control loudness for commercials</em>, not measure dynamic range for music, especially pop music. DR isn’t designed for broadcast loudness control, it’s purpose is to gauge the amount of dynamic range reduction, or the absence of dynamic range contrast. Designed by a member of the EBU <em>ploud</em> committee, the same body that created R 128, DR informs an engineer about how much the mix is being or has been “stepped on,” dynamic range-wise, not about “will it pass through a broadcast chain without loudness reduction?”
        </p>
      </div>
    </div>
  </div>
</section>

<section class="showcase-section">
  <div class='space-60'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Why No MP3?</h3>
        <p>DROffline is functionally identical to TT DR Offline. Since MP3 and AAC et cetera use <em>lossy</em> encoding, we cannot somehow recover data that was removed during encode. The lossy encoded file retains no knowledge or history of the full fidelity parent file from which it was derived. Also, our CTO Christoph tells us, “…there is quite a bit of freedom in implementation  of ‘special’ features in (lossy) encoders. The decoder is more precisely defined.” What that translates into is: Two different encoders can produce different outputs given the same input file. Long story short: <strong><em>We do not measure lossy–encoded files.</em></strong><br>
DROffline MkII is a modern utility, with support for modern file types. Also, it’s not just for guys that scour record stores. That’s why DROffline MkII supports many, many metrics that DROffline does not.
        </p>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-happy-outline feature-sign"></i>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="showcase-section">
  <div class="space-60"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-bowtie feature-sign"></i>
        </div>
      </div>
      <div class="col-md-8 margin-b-30">
        <h3>Not Only The Doctor Has a Companion</h3>
        <p class="margin-b-20">
        The MAAT DROffline release is MAAT’s second step in bringing forward the legacy of the PMF’s legendary TT Dynamic Range metering system, which was certainly the most popular metering plug—in of the last decade. DROffline has be modernized to work with current version of Windows and macOS operating systems.</br>
        The companion DRMeter is a plug-in that generates approximate DR values in real time when applied to the loudest passages in a track. Due to its real time operation, it cannot measure official DR values, but it can estimate DR while you work. To learn more about DRMeter, head over to… <%= link_to 'DRMeter', '../drmeter', class: 'btn btn-lg btn-primary btn-rounded' %>. Also check out the updated DROffline, <a href="https://www.maat.digital/dro2/" target="_self">DROffline MkII</a>, which features all modern metering algorithms, including True Peak Level and Loudness Units compliant with EBU R128 and ATSC A/85 plus a dozen other metrics.
        </p>
      </div>
    </div>
  </div>
</section>
