<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">


    <div class="center-title">
      <h2>DROffline</h2>
      <p>A universal L/R plus MONO/DIFF monitor control and Balance/Correlation metering plug-in for stereo bus masters.</p>
    </div>
    <div class="row align-items-center">
      <div class="col-md-5 margin-b-30">
        <h3>
          Introduction </h3>
        <p>
          Available for all major plug-in formats, including VST/VST3 and AAX for MacOS and Windows plus Audio Units for Mac OS, 2BusControl
          offers five essential options for specialized monitoring modes plus highly responsive and user- friendly metering
          for left/right balance and correlation. Solo is available post-metering with a single button push. Traditional
          left/right soloing (as phantom center) can be chosen, or the equally useful MONO/DIFF(erence) or M/S (Mid/Side)
          rendering of the soloed signal. In addition, the stereo perspective can be swapped or flipped with the left and
          right channels changing places. Each solo control is a single button, allowing you to check placement and amplitude
          easily for all aspects of your mix.</p>
        <p>
          Usable metering is another essential for any engineer, and options are equally practical, with stereo balance and inter-channel
          correlation occupying the upper half of the user interface. Unlike prior products that provide similar metering
          functions, 2BusControl´s measurement and display algorithms adhere to our guiding philosophy of enhancing your
          workflow and improving ergonomics through careful attention to the way you actually work. Ballistics are meticulously
          tuned to achieve the best match between the aural impression you hear, and the optical rendering by the meters.</p>
        <p>
          All of 2BusControl´s functionality is wrapped in an information-rich yet visually unobtrusive user interface that occupies
          only a small slice of screen real estate. Likewise, the plug-in is &quot;light weight&quot; demanding a minimum
          of CPU resources so it won´t slow down your host. As an introduction to everyone in the audio community, we’re
          giving you this free and rather useful plug–in. Thanks for visiting, and we hope to be working with you more in
          the future! </p>


      </div>
      <div class="col-md-6 offset-md-1 margin-b-30">
        <%= image_tag 'shot1-2bc.png', alt: "", class: "img-fluid center-img" %>
      </div>
    </div>
    <div class="space-60"></div>
  </div>
</section>
<!--end showcase section-->

