<section class="features-section border-bottom" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-ios-lightbulb-outline"></i>
          <h4>Essential</h4>
          <p>
            2BusControl delivers indispensable monitoring controls, plus visually expressive metering.

          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3  margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-ios-cloudy-outline"></i>
          <h4>Light Weight</h4>
          <p>
            2BusControl is economical of both screen real estate and host computer resources.
          </p>
          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3  margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-ios-cog-outline"></i>
          <h4>Universal</h4>
          <p>
            2BusControl works on MacOS and Windows, across all modern plug–in formats.
          </p>
          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3 margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-key"></i>
          <h4>Low Cost</h4>
          <p>
            2BusControl is free! It’s our way of introducing you to all the good stuff we’re building at MAAT…
          </p>
        </div>
      </div>
      <!--/col-->
    </div>
  </div>
</section>
<!--end features section-->
