<section class="features-bg">
  <div class="container">
    <div class="center-title">
      <h2>Speeds and Feeds</h2>
      <p>Features & Specifications</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-android-laptop"></i>
          </div>
          <div class="content">
            <h4>Requirements</h4>
            <p>
              MacOS 10.7 and newer / Windows 7 and newer, 32 & 64 bit </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-android-options"></i>
          </div>
          <div class="content">
            <h4>Platforms</h4>
            <p>
              AAX Pro Tools 10.3.10 and newer, AU, VST2/3 M/W</p>
          </div>
        </div>
      </div>
      
      
       <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-android-laptop"></i>
          </div>
          <div class="content">
            <h4>Requirements</h4>
            <p>
              MacOS 10.7 and newer / Windows 7 and newer, 32 & 64 bit </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-android-options"></i>
          </div>
          <div class="content">
            <h4>Platforms</h4>
            <p>
              AAX Pro Tools 10.3.10 and newer, AU, VST2/3 M/W</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
