<section class="features-bg">
  <div class="container">
    <div class="center-title">
      <h2>Speeds and Feeds</h2>
      <p>Features & Specifications</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-paper"></i>
          </div>
          <div class="content">
            <h4>Features</h4>
            <p>
               with: Official DR, SPPM, RMS, Peak Hold</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-android-options"></i>
          </div>
          <div class="content">
            <h4>Platforms</h4>
            <p>
              Mac/Win</p>
          </div>
        </div>
      </div>
      
      
       <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-briefcase"></i>
          </div>
          <div class="content">
            <h4>License</h4>
            <p>
              Perpetual </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-android-laptop"></i>
          </div>
          <div class="content">
            <h4>Requirements</h4>
            <p>
              4 GB DRAM minimum, Wibu-Systems CMAct file–based licensing or 
              optional Wibu–Systems CmStick dongle–based licensing</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
