<section class="features-bg">
  <div class="container">
    <div class="center-title">
      <h2>Speeds & Feeds</h2>
      <p>Features & Specifications</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-paper"></i>
          </div>
          <div class="content">
            <h4>Features</h4>
            <p>Official DR, SPPM, RMS, File/Batch Process</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-document-text"></i>
          </div>
          <div class="content">
            <h4>Supporting</h4>
            <p>24 bit WAV, AIFF & FLAC file types<br>Sample rates from 44.1 to 384 kHz</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-briefcase"></i>
          </div>
          <div class="content">
            <h4>License</h4>
            <p>Perpetual</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-android-laptop"></i>
          </div>
          <div class="content">
            <h4>Requirements</h4>
            <p>macOS 10.8 and newer / Windows 7 and newer, 32 & 64 bit</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
