<div id="free2bc" class="cta-skin">
  <div class="container text-center">
    <h2>FREE 2BC DOWNLOAD</h2>
    <p>Download your free 2BusControl for:<br>
    <a href="https://www.maat.digital/dl/2BC-macos.zip" target="_blank">macOS</a><br>
    <a href="https://www.maat.digital/dl/2BC-windows.zip" target="_blank">Windows</a></p>
  </div>
</div>
