<div id="free2bc" class="cta-skin">
  <div class="container text-center">
    <h2>FREE 2BC DOWNLOAD</h2>
    <p>Download your free 2BusControl for:<br>
    <a href="https://website-maat-digital-downloads.s3.amazonaws.com/releases/current_third_party_newsletter/2BC/MAAT_2BusControl_Installer-1.1.2-NL-macOS.zip" target="_blank">macOS</a><br>
    <a href="https://website-maat-digital-downloads.s3.amazonaws.com/releases/current_third_party_newsletter/2BC/MAAT_2BusControl_Installer-1.1.2-NL-Windows.zip" target="_blank">Windows</a></p>
  </div>
</div>
