<div id="free2bc" class="cta-skin">
  <div class="container text-center">
    <h2>2BusControl FREE Download</h2>
    <p>Grab your free copy of 2BusControl for:<br>
    <a href="https://www.maat.digital/dl/2BC-macos.zip" target="_blank">macOS</a><br>
    <a href="https://www.maat.digital/dl/2BC-windows.zip" target="_blank">Windows</a></p>
  </div>
</div>
