<section class="features-bg">
  <div class="container">
    <div class="center-title">
      <h2>Tech Specifications</h2>
      <p>subtitel missing</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-iphone"></i>
          </div>
          <div class="content">
            <h4>System Requirements</h4>
            <p>
              MAC:OSX 10.7 and newer, 32 &amp; 64 bit / WIN: Windows 7 and newer, 32 &amp; 64 bit </p>
          </div>
        </div>
        <!--/feature icon-->

        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-copy"></i>
          </div>
          <div class="content">
            <h4>Titel missing</h4>
            <p>
              Pro Tools 10.3.10 and newer
            </p>
          </div>
        </div>
        <!--/feature icon-->
      </div>
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-social-twitter"></i>
          </div>
          <div class="content">
            <h4>Titel missing</h4>
            <p>
              4GB DRAM minimum </p>
          </div>
        </div>
        <!--/feature icon-->
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-person"></i>
          </div>
          <div class="content">
            <h4>Supported Platforms</h4>
            <p>
              AAX, AU, VST2/3 Mac, VST2/3 Win
            </p>
          </div>
        </div>
        <!--/feature icon-->

      </div>
    </div>
  </div>
</section>
