<section class="testimonials grey-bg">
  <div class='space-60'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Reviews & Testimonials</h3>
        <h5>Alan Hume (performer, composer & teacher)</h5>
        <p class="font-italic">“2BusControl is great - a simple effective tool - attractive, easy to read  - a real pleasure  -  Many thanks!”</p>
        <h5>acmusic on GearSlutz…</h5>
        <p class="font-italic">“Excellent work and spot on - thank you!”</p>
        <h5>Jeezo on GearSlutz…</h5>
        <p class="font-italic">“Simple but always useful tools…cheers”</p>
        <h5>Mike B…</h5>
        <p class="font-italic">“plugin works great…Nice GUI”</p>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
  </div>
</section>
