<div class="cta-skin">
  <div class="container text-center">
    <h2>Order Better Dithering Now</h2>
    <p><strong>• LINSurround for multichannel: $59<br>
    • LINpro for stereo: $39<br>
    • LINone for stereo: $19…coming soon</strong></p>

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-xl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Order Now</button>
        <div class="dropdown-menu dropdown-hack" aria-labelledby="btnGroupDrop1">
          <a data-fsc-item-path-value='<%= current_page.data.fastspring.linsurround %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">LINSurround</a>
          <a data-fsc-item-path-value='<%= current_page.data.fastspring.linpro %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">LINpro</a>
          <!--a data-fsc-item-path-value='<%= current_page.data.fastspring.linone %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">LINone</a-->
        </div>
      </div>
      <a href="https://www.maat.digital/support/#installers" class="btn btn-xl btn-white-omas-special-style-border">Try Them Now</a>
    </div>

  </div>
</div>
