<section class="callout">
  <div class="space-90"></div>
  <div class="container">
    <div class="center-title">
      <h1>MAAT digital</h1>
      <h4>Sound…Simply Better</h4>
    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
           <h3 class="card-title" style="letter-spacing: -1px">RSPhaseShifter</h3>
            <p class="card-text">The only digital implementation of Roger Schult/German Audio Lab’s Phase Shifter W2324 pure analog hardware.</p>
            <a href="/rsphaseshifter" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
           <h3 class="card-title" style="letter-spacing: -1px">2BusControl</h3>
            <p class="card-text">A universal L/R plus MONO/DIFF monitor control and Balance/Correlation metering plug-in for stereo bus masters.</p>
            <a href="/2buscontrol" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="space-60"></div>
    <div class="center-title">
      <h4>MAAT digital - thEQ Family</h4>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">thEQorange</h3>
            <p class="card-text">Linear phase without compromise.</p>
            <a href="/theqorange" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">thEQblue</h3>
            <p class="card-text">A dozen precision variations on “analog,” all in one EQ.</p>
            <a href="/theqblue" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <!--h3 class="card-title" style="letter-spacing: -1px">thEQred</h3>
            <p class="card-text">Linear phase for all occasions.</p>
            <a href="/theqred" class="btn btn-primary">Learn More</a-->
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px"></h3>
            <p class="card-text"></p>
            <a href="" class="btn btn-primary"></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
           <h3 class="card-title" style="letter-spacing: -1px">SantaCruzEQ</h3>
            <p class="card-text">An affordable entry into the expansive world of thEQblue.</p>
            <a href="/santacruzeq" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px"></h3>
            <p class="card-text"></p>
            <a href="" class="btn btn-primary"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="space-60"></div>
    <div class="center-title">
      <h4>MAAT digital - DR Family</h4>
    </div>

    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">DRMeter MkII</h3>
            <p class="card-text">MAAT’s DRMeter MkII is the first Loudness meter that combines high accuracy R128 and A/85 conformance with elements expressly for music production.</p>
            <a href="/drm2" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">DROffline MkII</h3>
            <p class="card-text">MAAT’s DROffline MkII is the batch measurement companion application to our official DRMeter MkII realtime DR estimator plug-in.</p>
            <a href="/dro2" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">DRMeter</h3>
            <p class="card-text">MAAT’s DRMeter is the realtime DR estimation companion plug-in to our official DROffline batch measurement utility.</p>
            <a href="/drmeter" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">DROffline</h3>
            <p class="card-text">MAAT’s DROffline is the batch measurement companion application to our official DRMeter realtime DR estimator plug-in.</p>
            <a href="/droffline" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space-60"></div>
</section>
