<section class="callout">

  <div class="container mt-5 pt-5">
    <div class="center-title">
      <h1>MAAT Labs GmbH</h1>
      <h4><em>Sound…Simply Better</em></h4>
    </div>
  </div>

<!--New Year’s insert-->

  <!--div class="container mt-5"-->
    <!--div class="row align-items-center"-->
      <!--div class="col-md-6"-->
        <!--h2>MAAT Holiday Hours</h2-->
        <!--p><strong>&#x2744;</strong>It’s been another challenging year around the world though, as usual, a busy and productive one for us with the release of our breakout <a href="https://www.maat.digital/fidef/" target="_blank">FiDef JENtwo</a> product. Now and into the New Year, we’ll be working on Universal Binary 2 versions of our equalizers, which will complete the UB2 update cycle.<br>
        <!--strong>&#x2744;</strong>We are looking forward to the new year to come, and hope you are as well. Please pitch in to make our collective future better. Until 2023 arrives, we will be on holiday to enjoy our family and friends, with a much needed vacation from the 22rd through to the 31st of December, and the 2nd of January. So please, be patient if you need something from us during that time. Our <a href='https://www.maat.digital/support/' target='_blank'>Support</a> page can answer most questions, and simply installing the current version (link below)  will solve most issues.<br>
        <!--p><strong>&#x2744;</strong>License problems? Don’t forget to try out License Central that’s installed by default. A “stale” cache is, by far, the most common problem (see the Support page) so try that first. If you still need help, our support address is your route to assistance. Have a safe, rest–filled and happy holiday time, we’ll see you next year!</p-->
      <!--/div-->
      <!--div class="col-md-5 ml-auto mr-auto"-->
        <!--%= image_tag 'xmas.jpg', alt: "Snowy Scene ©2019 vidarnm/Depositphotos.com", class: "img-fluid center-img" %-->
      <!--/div-->
    <!--/div-->
  <!--/div-->

  <!--End New Year’s insert-->


  <div class="container mt-5">
    <div class="center-title">

      <!--h4><strong>&#8611;</strong> 100% Dongle–free! <strong>&#8610;</strong></h4-->
      <!--h5>Cloud-based frameworks for easy, portable licensing…</h5-->
      <!--p>Please <a href='https://www.maat.digital/support/#installers' target='_blank'>download</a> the latest build of your MAAT products,<br>
      install it and activate it with your Product Key.</p-->

      <!-- MAAT Monthly Promo -->
      <%= image_tag 'PromoBanner_v1r1.svg', alt: "MAAT Monthly Promo", class: "img-fluid center-img" %>
      <p></p>

    </div>
  </div>

  <!-- PRODUCT ROW ONE -->
  <div class="space-60"></div>
  <div class="center-title">
    <h4>MAAT digital - EFX & More</h4>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">RSPhaseShifter</h3>
            <p class="card-text">The only digital implementation of Roger Schult/German Audio Lab’s Phase Shifter W2324 pure analog hardware…</p>
            <a href="/rsphaseshifter" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">2BC multiCORR</h3>
            <p class="card-text">Essential metrics with aural management.<br>Precision multiband correlation with integral monitor control…</p>
            <a href="/2bcmulticorr" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">MAAT<i>go</i></h3>
            <p class="card-text">A new level of control and visualization for computer audiophiles.<br>Listen your way…</p>
            <a href="/maatgo" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <!-- PRODUCT ROW TWO -->
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">LIN Family</h3>
            <p class="card-text">Dither is the missing link between distortion and clarity.<br>Our rethinking of redithering…</p>
            <a href="/lin" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">FiDef JENtwo</h3>
            <p class="card-text">Plug your audience into a more compelling experience.<br>Invoke audience ardor…</p>
            <a href="/fidef" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">MtG</h3>
            <p class="card-text"><em>The</em> unique automatic dialog, M&E editing assistant plug–in.<br>Escape the drudgery…</p>
            <a href="/mtg" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="space-60"></div>
  <div class="center-title">
    <h4>MAAT digital - thEQ Family</h4>
  </div>

  <!-- PRODUCT ROW THREE -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">thEQorange</h3>
            <p class="card-text">Linear phase without compromise…</p>
            <a href="/theqorange" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">thEQblue</h3>
            <p class="card-text">A dozen precision variations on “analog,” all in one EQ…</p>
            <a href="/theqblue" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">thEQred</h3>
            <p class="card-text">Super powered linear phase for all occasions…</p>
            <a href="/theqred" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <!-- PRODUCT ROW FOUR -->
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <!--h3 class="card-title" style="letter-spacing: -1px"></h3>
            <p class="card-text">Verbiage</p>
            <a href="" class="btn btn-primary">Learn More</a-->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">SantaCruzEQ</h3>
            <p class="card-text">An affordable entry into the expansive world of thEQblue…</p>
            <a href="/santacruzeq" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <!--h3 class="card-title" style="letter-spacing: -1px"></h3>
            <p class="card-text">Verbiage</p>
            <a href="" class="btn btn-primary">Learn More</a-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="space-60"></div>
  <div class="center-title">
    <h4>MAAT digital - DR Family</h4>
  </div>

  <!-- PRODUCT ROW FIVE -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">DRMeter MkII</h3>
            <p class="card-text">The first <em>Loudness</em> meter that combines high accuracy R128 & A/85 conformance with DR & PSR expressly for music production…</p>
            <a href="/drm2" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">DROffline MkII</h3>
            <p class="card-text">MAAT’s DROffline MkII is the batch measurement companion application to our official DRMeter MkII real time DR estimator plug-in…</p>
            <a href="/dro2" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">DRMeter</h3>
            <p class="card-text">MAAT’s DRMeter is the real time DR estimation companion plug-in to our official DROffline batch measurement utility…</p><br>
            <a href="/drmeter" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">DROffline</h3>
            <p class="card-text">MAAT’s DROffline is the batch measurement companion application to our official DRMeter real time DR estimator plug-in…</p>
            <a href="/droffline" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="space-60"></div>
  <div class="center-title">
    <h4>MAAT digital - Free Stuff</h4>
  </div>

  <!-- PRODUCT ROW SIX -->
  <div class="container">
    <div class="row">
      <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">2BusControl</h3>
            <p class="card-text">A universal L/R plus MONO/DIFF monitor control and Balance/Correlation metering plug-in for stereo bus masters…</p>
            <a href="/2buscontrol" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <!--h3 class="card-title" style="letter-spacing: -1px"></h3>
            <p class="card-text">Verbiage</p>
            <a href="" class="btn btn-primary">Learn More</a-->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">GŌN</h3>
            <p class="card-text">A sleek, sophisticated and highly adjustable take on the venerable oscilloscope, GŌN is a visualization essential…</p>
            <a href="/gon" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="space-60"></div>
</section>
