<section class="callout">
  <div class="space-90"></div>

  <div class="container">
    <div class="center-title">
      <h1>MAAT digital</h1>
      <h4>Sound…Simply Better</h4>
    </div>
  </div>

  <div class="space-60"></div>
  <div class="center-title">
    <h4><strong>&#8611;</strong> Now, 100% dongle–free! <strong>&#8610;</strong></h4>
    <h5>Cloud-based frameworks for easy, portable licensing…</h4>
    <p>Starting on April 1st, 2020,we have modernized our copy protection.
    <br>
    Please <a href='https://www.maat.digital/support/#installers' target='_blank'>download</a> the latest build of your MAAT products,
    <br>
    install it and activate it with your original Product Key before the end of June 2020. </p>
  </div>
 
 <div class="space-60"></div>
  <div class="center-title">
    <h4>MAAT digital - EFX & More</h4>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">RSPhaseShifter</h3>
          <p class="card-text">The only digital implementation of Roger Schult/German Audio Lab’s Phase Shifter W2324 pure analog hardware.</p>
          <a href="/rsphaseshifter" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">2BC multiCORR</h3>
          <p class="card-text">Essential metrics with aural management.<br>Precision multiband correlation with integral monitor control.</p>
          <a href="/2bcmulticorr" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  
    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">MtG</h3>
          <p class="card-text">The unique automatic dialog, music & EFX editing assistant plug–in.<br>Escape the drudgery…</p>
          <a href="/mtg" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  
   <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <!--h3 class="card-title" style="letter-spacing: -1px">Dummy</h3>
          <p class="card-text">Dummy</p>
          <a href="/dummy" class="btn btn-primary">Dummy</a-->
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">LINearise</h3>
          <p class="card-text">Dither is the missing link between distortion and clarity.<br>Our rethinking of redithering.</p>
          <a href="/linearise" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <!--h3 class="card-title" style="letter-spacing: -1px">Dummy</h3>
          <p class="card-text">Dummy</p>
          <a href="/dummy" class="btn btn-primary">Dummy</a-->
        </div>
      </div>
    </div>
  </div>

  <div class="space-60"></div>
  <div class="center-title">
    <h4>MAAT digital - thEQ Family</h4>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">thEQorange</h3>
          <p class="card-text">Linear phase without compromise.</p>
          <a href="/theqorange" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">thEQblue</h3>
          <p class="card-text">A dozen precision variations on “analog,” all in one EQ.</p>
          <a href="/theqblue" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">thEQred</h3>
          <p class="card-text">Superpowered linear phase for all occasions.</p>
          <a href="/theqred" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <!--h3 class="card-title" style="letter-spacing: -1px"></h3>
          <p class="card-text">Verbiage</p>
          <a href="" class="btn btn-primary">Learn More</a-->
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">SantaCruzEQ</h3>
          <p class="card-text">An affordable entry into the expansive world of thEQblue.</p>
          <a href="/santacruzeq" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <!--h3 class="card-title" style="letter-spacing: -1px"></h3>
          <p class="card-text">Verbiage</p>
          <a href="" class="btn btn-primary">Learn More</a-->
        </div>
      </div>
    </div>
  </div>

  <div class="space-60"></div>
  <div class="center-title">
    <h4>MAAT digital - DR Family</h4>
  </div>

  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">DRMeter MkII</h3>
          <p class="card-text">The first <em>Loudness</em> meter that combines high accuracy R128 & A/85 conformance with DR & PSR expressly for music production.</p>
          <a href="/drm2" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">DROffline MkII</h3>
          <p class="card-text">MAAT’s DROffline MkII is the batch measurement companion application to our official DRMeter MkII realtime DR estimator plug-in.</p>
          <a href="/dro2" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">DRMeter</h3>
          <p class="card-text">MAAT’s DRMeter is the realtime DR estimation companion plug-in to our official DROffline batch measurement utility.</p><br>
          <a href="/drmeter" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">DROffline</h3>
          <p class="card-text">MAAT’s DROffline is the batch measurement companion application to our official DRMeter realtime DR estimator plug-in.</p>
          <a href="/droffline" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="space-60"></div>
  <div class="center-title">
    <h4>MAAT digital - Free Stuff</h4>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <!--h3 class="card-title" style="letter-spacing: -1px">Dummy</h3>
          <p class="card-text">Dummy</p>
          <a href="/dummy" class="btn btn-primary">Dummy</a-->
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">2BusControl</h3>
          <p class="card-text">A universal L/R plus MONO/DIFF monitor control and Balance/Correlation metering plug-in for stereo bus masters.</p>
          <a href="/2buscontrol" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card text-center border-light mb-3">
        <div class="card-body">
          <!--h3 class="card-title" style="letter-spacing: -1px">Dummy</h3>
          <p class="card-text">Dummy</p>
          <a href="/dummy" class="btn btn-primary">Dummy</a-->
        </div>
      </div>
    </div>
  </div>

  <div class="space-60"></div>
</section>
