<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>Our worldwide partners.</h2>
    <p>Over 500,000 Musicians worldwide trust MAAT products</p>
  </div>
  <ul class="row list-unstyled partners-list">
    <li class="col-lg-3 col-md-4">
      <a href="#"><img src="/assets/images/p1.png" class="img-fluid" alt=""></a>
    </li>
    <li class="col-lg-3 col-md-4">
      <a href="#"><img src="/assets/images/p2.png" class="img-fluid" alt=""></a>
    </li>
    <li class="col-lg-3 col-md-4">
      <a href="#"><img src="/assets/images/p3.png" class="img-fluid" alt=""></a>
    </li>
    <li class="col-lg-3 col-md-4">
      <a href="#"><img src="/assets/images/p4.png" class="img-fluid" alt=""></a>
    </li>
    <li class="col-lg-3 col-md-4">
      <a href="#"><img src="/assets/images/p5.png" class="img-fluid" alt=""></a>
    </li>
    <li class="col-lg-3 col-md-4">
      <a href="#"><img src="/assets/images/p6.png" class="img-fluid" alt=""></a>
    </li>
    <li class="col-lg-3 col-md-4">
      <a href="#"><img src="/assets/images/p3.png" class="img-fluid" alt=""></a>
    </li>
    <li class="col-lg-3 col-md-4">
      <a href="#"><img src="/assets/images/p4.png" class="img-fluid" alt=""></a>
    </li>
  </ul>
</div>

<div class="space-70"></div>
