<section class="testimonials skin-bg">
  <div class="space-90"></div>
  <div class="container">
    <div class="center-title">
      <h2>Love from our customers.</h2>
      <p>Reaching over 20,000 engineers worldwide</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 margin-b-30">
        <div class="feedback-box">
          <p>
            “I love the DRMeter. It has a very clean and straightforward layout that allows me to see Peak, RMS and Dynamic Range all with a simple glance. The ballistics are perfect for keeping a close watch on the levels and overall dynamics of a mix or final master. It is far too easy, with today’s tools, to push the levels of audio past the point of musicality…This meter should be at the end of every master output for every DAW. Well done MAAT!”
          </p>
        </div>
        <div class="testi-info">
          <img src="/assets/images/avtar-MichaelR.jpg" alt="" class="rounded-circle" width="60">
          <div class="content">
            <h4>Michael Romanowski</h4>
            <em>proprietor of Coast Mastering &#38;<br>co–conspiritor of The Tape Project</em>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 margin-b-30">
        <div class="feedback-box">
          <p>
            “(I) purchased the MAAT RSPhaseShifter right after I downloaded the trial version because I was so impressed with the results. I used it on a project…that had vocal added to electronic music and found the Delta feature to be such a quick way of determining what effects I was adding with RS PhaseShifter in the mirror mode. Really a great new useful tool for mastering to help enhance the dynamics of a recording. Looking forward to the next MAAT tool!”
          </p>
        </div>
        <div class="testi-info">
          <img src="/assets/images/avtar-AndyR.png" alt="" class="rounded-circle" width="60">
          <div class="content">
            <h4>Andy Rogulich</h4>
            <em>High Fidelity Mastering, Mix Magazine’s World Class Studio of 2017</em>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 margin-b-30">
        <div class="feedback-box">
          <p>&#9618; <em>Christian Mayer (mixer extraordinaire and diehard analog guy)</em> has a new outlook on digital audio; “…seit MAAT vertrau ich auch der digitalen ebene.” (“…since MAAT I also trust digital.”)
          </p>
          <p>
            &#9618; <em>Alex Picciafuochi</em> gave MAAT 5 star on Facebook…“Very useful, affordable and reliable set of audio tools for both mastering and sound engineers.”
          </p>
          <p>
            &#9618; <em>Virgulino Lampiao</em> via e-mail…“You have good products, good service and good price.”
          </p>
          <p>
            &#9618; <em>Jeezo</em> on GearSlutz…“Simple but always useful Tools …cheers”
          </p>
        </div>
        <div class="testi-info">
          <img src="/assets/images/avtar-Customers.png" alt="" class="rounded-circle" width="60">
          <div class="content">
            <h4>Kudos</h4>
            <em>from our customers</em>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space-60"></div>
</section>
