---
title: "MAAT News"
image: "bg2.jpg"
---

<div class="container margin-b-30">
  <div class="space-30"></div>

  <div class="card-deck">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="/assets/images/img3.jpg" alt="">
      <div class="card-body">
        <p class="card-text"><small class="text-muted">2017/09/01</small></p>
        <h4 class="card-title">Happy Hour</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...</p>
      </div>
      <div class="card-footer text-right">
        <a href="/news/2017/happy-hour" class="card-link">Read more</a>
      </div>
    </div>

    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="/assets/images/img1.jpg" alt="">
      <div class="card-body">
        <p class="card-text"><small class="text-muted">2017/08/21</small></p>
        <h4 class="card-title">New DRMeter Release</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...</p>
      </div>
      <div class="card-footer text-right">
        <a href="/news/2017/new-drmeter-release" class="card-link">Read more</a>
      </div>
    </div>

    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="/assets/images/img5.jpg" alt="">
      <div class="card-body">
        <p class="card-text"><small class="text-muted">2017/08/01</small></p>
        <h4 class="card-title">Summer Sale</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...</p>
      </div>
      <div class="card-footer text-right">
        <a href="/news/2017/summer-sale" class="card-link">Read more</a>
      </div>
    </div>

    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="/assets/images/img4.jpg" alt="">
      <div class="card-body">
        <p class="card-text"><small class="text-muted">2017/07/01</small></p>
        <h4 class="card-title">Website Renewal</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...</p>
      </div>
      <div class="card-footer text-right">
        <a href="/news/2017/website-renewal" class="card-link">Read more</a>
      </div>
    </div>
  </div>

  <!--masonry row end-->
  <!--nav aria-label="Page navigation example" class="clearfix">
    <ul class="pagination float-right">
      <li class="page-item active"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav-->
</div>

