<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>DRMeter</h2>
      <p>
        MAAT’s DRMeter is the universal realtime level metering plug–in
        companion to our official DROffline batch measurement utility.<br>
        <strong>Price: $35</strong>, MATT is committed to supporting the further work of the PMF with $5 from each DRM sale.
      </p>
    </div>

    <div class='space-90'></div>
    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>The Only Way to Measure DR</h3>
          <p>
            The MAAT DRMeter offers essential options for musically responsive,
            realtime level metering. These include graphical and numeric
            measurement of DR dynamic range, SPPM Peak and RMS amplitude, plus
            digital overs and “digital black.” The MAAT DRMeter release is
            MAAT’s first step in bringing forward the legacy of the PMF’s
            legendary TT Dynamic Range Meter, which was certainly the most
            popular metering plug—in of the last decade. Inspiring music
            producers and artists worldwide for more dynamic music releases,
            this “micro” version will soon be followed by its big brother. The
            upcoming, upgradable DRMeterMkII features all modern metering
            algorithms, including True Peak Level and Loudness Units compliant
            with EBU R128 and ATSC A/85. MAAT paid particular attention to the
            DRMeter’s ballistics, which contributed to the original’s broad
            acceptance. We have tested the new DRMeter again and again against
            the original TT DR Meter to ensure a consistent user experience. In
            addition, DRMeter is modern, supporting all major plug–in formats
            including VST/VST3 and AAX for MacOS and Windows plus Audio Units
            for Mac.
          </p>
        </div>
        <div class="col-md-4 margin-b-30">
          <div class="icon-box text-center">
            <i class="ion-thumbsup feature-sign"></i>
          </div>
        </div>
      </div>
      <div class="space-60"></div>
    </div>
</section>



<section class="showcase-section grey-bg">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-ribbon-a feature-sign"></i>
        </div>
      </div>
      <div class="col-md-8 margin-b-30">
        <h3>MAAT To The Rescue</h3>
        <p class="margin-b-20">
          The DR meter is back! In conjunction with the PMF, the geeks at MAAT
          have sweated the details, testing and tweaking to make sure that you
          get the same familiar and much loved ballistics of the original TT DR
          Meter tool, which has already helped to preserve dynamics for
          thousands of modern pop releases and multimillions of records sold.
          The only difference between the original and new DR meters is the
          removal of Correlation metering and the Mono Button. That was done, in
          response to user requests, to reduce UI height so the new DRMeter
          takes up less screen real estate. We have implemented those functions
          in a free plug–in, the MAAT 2BusControl, which also includes solo
          buttons for L, R, MONO & DIFF, plus a left-right flip button and a
          useful Balance meter. Usable metering is an essential for any
          engineer, and the DRMeter´s measurement and display algorithms adhere
          to our guiding philosophy of enhancing your workflow and improving
          ergonomics through careful attention to the way you actually work.
          Ballistics are meticulously tuned to achieve the best match between
          the aural impressions you hear, and the optical rendering by the
          meters. Likewise, the plug-in is "light weight" demanding a minimum of
          CPU resources so it won´t slow down your host.
        </p>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>



<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div id="accordion" class="card-accrodions" role="tablist" aria-multiselectable="true">
                <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Built To Perform 
                                    </a>
                                </h5>
                        </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-block">
                            The MAAT DRMeter is a worthy companion for daily mixing and mastering
                              tasks, enabling fast, accurate and easy mix and mastering decisions.
                              For fine tuning peak excursions, and properly setting your limiter
                              with the fast and responsive peak meter bar, DRMeter is unmatched. An
                              “Overs” alert warns you to tweak your limiter in order to prevent
                              unwanted distortion on playback. The adjacent RMS loudness bar graphs
                              have more relaxed or damped ballistics, so you get a good sense of the
                              perceptual loudness. This conveys a sense of proper level staging
                              without overly hectic meter movement. The green -18 dBRMS tick mark
                              indicates 0 LU, a widely agreed upon amplitude for hitting your
                              outboard gear’s sweet spot. It also helps to manage gain staging for
                              ITB or In–The–Box workflows. The legendary DR bar graph can be
                              operated as independent channels, or coupled for a summed left/right
                              response. Our DR bar graph visually informs the user through a
                              familiar “traffic light” green/yellow/red color coding scheme. The
                              blue -∞ indicator informs you when your DAW is delivering “digital
                              black” or null AES data. If you’ve inserted some noise generating
                              plug-in or outboard within a project, you’ll instantly see that.
                              Complementing the new BS.1770 metering standards, including Loudness
                              Range (LRA) which was designed to reflect the macro dynamics of
                              broadband audio with a focus on broadcasting, the importance and
                              spirit of the DR measurement system for music is unbroken. LRA was
                              designed for controlling the perceived loudness range of motion
                              picture soundtracks and television programs. Whereas the DRMeter’s
                              algorithm looks at the loudest 20% of the instantaneous signal, LRA
                              purposefully ignores the top 5% of a track’s dynamic deviation, making
                              it unsuitable for the evaluation of the dynamics of music.
                                </div>
                                </div>
                </div>
                       
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        The Backstory
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-block">
                                   The DR algorithm, akin to PLR (Peak–to–Loudness Ratio) or “crest factor,” specifically measures the dynamic 
                                   density or lack of dynamics caused by overly aggressive dynamic compression and limiting. When the loudest 
                                   spots of a song are measured, it gives the user an estimate for the "official" DR Value, measured with the 
                                   companion DROffline. Seeing a meaningful and easy to understand indication of dynamic range inspires users to
                                    back away from hyper compression. The complete DR metering system, composed of the realtime DRMeter plus the
                                     DROffline batch processor, was created by Friedemann Tischmeyer to address the need to generate a repeatable, easy
                                      to understand numeric value. In response to the broadly publicized “Loudness Wars,” the PMF worked to raise awareness 
                                      that oppressively compressed dynamics in pop music are not only counterproductive, but sound often like crap! Now legendary,
                                       the PMF’s TT DR Meter and its offline companion was created to provide a deterministic benchmark, and was used by thousands 
                                       of engineers and consumers to measure and log the dynamic range of popular music releases around the world. Alas, as with
                                        all things digital, the TT DR Meter grew old. An update was needed…
                                 </div>
                            </div>
                        </div>
                       
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                       DRMeter is Only Half the Story
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-block">
                            The DRMeter is a plug–in that generates approximate DR values when applied to the loudest passages in a track. Due to realtime operation, it cannot measure official DR values, which are cumulative over the entire length of a song. Only the companion DROffline batch measuring utility can scrub through an entire song or track, resulting in an official DR number. To download your copy of the DROffline utility, head over to...
                                   <a href="#" class="btn btn-lg btn-primary btn-rounded">DRoffline.</a>
                                   </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>



<section class="showcase-section">
  <div class='space-90'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Buy It & Help</h3>
        <p>
          As an introduction to everyone in the audio community, we’re offering this rather useful plug–in at a very reasonable price. 
          Your purchase includes a US$5 donation to the PMF so they can continue working toward a more dynamically exciting world of music. 
          Thanks for visiting, and stay tuned for the DROffline batch measuring utility, the only software that generates official DR readings. 
          We hope to be working with you more in the future, drop by often to see what’s new!
        </p>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-happy-outline feature-sign"></i>
        </div>
      </div>
    <div class="space-60"></div>
  </div>
  <div class="space-60"></div>
  </div>
</section>



<!--end showcase section-->

<!--end showcase section-->
