<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>DRMeter :: Cross–platform Plug–in</h2>
      <p>
        MAAT’s DRMeter is the universal realtime level metering plug-in
        companion to our official DROffline batch measurement utility.
      </p>
      <h4><strong>Price: $35</strong></h4>
    </div>

    <div class='space-90'></div>
    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>The Only Way to Estimate DR</h3>
          <p>
            The MAAT DRMeter offers essential options for musically responsive,
            realtime level metering. These include graphical and numeric
            estimation of DR dynamic range, plus measurement of SPPM Peak, RMS amplitude,
            digital overs and “digital black.” The MAAT DRMeter release was
            MAAT’s first step in bringing forward the legacy of the PMF’s
            legendary TT Dynamic Range Meter, certainly the most
            popular metering plug—in of the last decade and one that inspired many inaccurate imitators. Inspiring music
            producers and artists worldwide for more dynamic music releases,
            DRMeter’s carefully tuned ballistics contributed 
            to the original’s broad acceptance. We have tested the new DRMeter 
            again and again against the original TT DR Meter to ensure a consistent 
            user experience. In addition, DRMeter is modern, supporting all major 
            plug-in formats including VST/VST3 and AAX for macOS and Windows plus 
            Audio Units for Mac.
          </p>
          <p>
            Our groundbreaking follow–on to DRMeter, 
            <a href="https://www.maat.digital/drm2/" target="_self">DRMeterMkII</a> 
            features all modern metering algorithms, including true DR<em>i</em> and all EBU R128 and 
            ATSC A/85–mandated metrics along with some new thinking and measurements 
            from the AES designed for specifically for music mixers. 
          </p>
        </div>
        <div class="col-md-4 margin-b-30">
          <div class="icon-box text-center">
            <i class="ion-thumbsup feature-sign"></i>
          </div>
        </div>
      </div>
      <div class="space-60"></div>
    </div>
</section>

<section class="showcase-section grey-bg">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-ribbon-a feature-sign"></i>
        </div>
      </div>
      <div class="col-md-8 margin-b-30">
        <h3>MAAT To The Rescue</h3>
        <p class="margin-b-20">
          The DR meter is back! In conjunction with the PMF, the geeks at MAAT
          have sweated the details, testing and tweaking to make sure that you
          get the same familiar and much loved ballistics of the original TT DR
          Meter tool, which has already helped to preserve dynamics for
          thousands of modern pop releases and multimillions of records sold.
          The only difference between the original and new DR meters is the
          removal of Correlation metering and the Mono Button. That was done, in
          response to user requests, to reduce UI height so the new DRMeter
          takes up less screen real estate. We have implemented those functions
          in a free plug-in, our handy <a href="https://www.maat.digital/2buscontrol/" 
          target="_self">2BusControl</a>, which also includes solo
          buttons for L, R, MONO & DIFF, plus a left-right flip button and a
          useful Balance meter. Accurate, easy to understand metering is an essential for any
          engineer, and the DRMeter´s measurement and display algorithms adhere
          to our guiding philosophy of enhancing your workflow and improving
          ergonomics through careful attention to the way you actually work.
          Ballistics are meticulously tuned to achieve the best match between
          the aural impressions you hear, and the optical rendering by the
          meters. Likewise, the plug-in is "light weight," demanding a minimum of
          CPU resources so it won´t slow down your host.
        </p>

        <%= partial "./accordeon" %>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>

<section class="showcase-section">
  <div class='space-90'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Buy It & Help Us Grow</h3>
        <p>
          As an introduction to DR metering and the ability to accurately gauge the 
          dynmaic density of your work, we’re offering this
          rather useful plug-in at a very reasonable price. Thanks for visiting, and
          don’t forget our <a href="https://www.maat.digital/droffline/" 
          target="_self">DROffline</a> measuring utility, the only batch processor
          that generates official DR readings. We hope to be working with you more
          in the future, drop by often to see what’s new!
        </p>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-happy-outline feature-sign"></i>
        </div>
      </div>
    <div class="space-60"></div>
  </div>
  <div class="space-60"></div>
  </div>
</section>



<!--end showcase section-->

<!--end showcase section-->
