<section class="features-bg">
  <div class="container">
    <div class="center-title">
      <h2>Tech Specifications</h2>
      <p>subtitel missing</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-iphone"></i>
          </div>
          <div class="content">
            <h4>System Requirements</h4>
            <p>
              4 GB DRAM minimum; Wibu-Systems CMAct file–based licensing or
              optional Wibu–Systems CmStick dongle–based licensing </p>
          </div>
        </div>
        <!--/feature icon-->

        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-copy"></i>
          </div>
          <div class="content">
            <h4>License</h4>
            <p>
              Perpetual
            </p>
          </div>
        </div>
        <!--/feature icon-->
      </div>
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-social-twitter"></i>
          </div>
          <div class="content">
            <h4>Platforms</h4>
            <p>
              AAX, AU, VST2/3 Mac/Win </p>
          </div>
        </div>
        <!--/feature icon-->
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-person"></i>
          </div>
          <div class="content">
            <h4>Supported Hosts</h4>
            <p>
              Ableton Live, Cubase, Logic, Nuendo, Pro Tools, Sequoia, Studio One, Wavelab
            </p>
          </div>
        </div>
        <!--/feature icon-->

      </div>
    </div>
  </div>
</section>
