<section class="testimonials grey-bg">
  <div class='space-60'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Reviews & Testimonials</h3>
        <p>Since the dark days of the Loudness Wars, the TT DR Meter and now our DRMeter have been beacons of light in the gloom…</p>

        <h5> Alan Silverman (educator & mastering engineer at Arf! Digital)</h5>
        <p class="font-italic">“The DRMeter is a great tool which I also use to teach my students at NYU to get a better sense for dynamics and meaningful loudness management.”</p>
        
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
  </div>
</section>
