<section class="app-section bg-faded" id="download">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-6 margin-b-30">
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="854" height="480" src="https://www.youtube.com/embed/8zxj-6smeVA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-md-5 offset-md-1">
        <h3>Learn more...</h3>
        <p class="margin-b-20">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus
          magna a lacinia tempor. Fusce et turpis posuere, imperdiet
          orci et, tempus ex. Nunc vitae pellentesque ipsum. Quisque id magna
          a nisl vestibulum ullamcorper.
        </p>
        <!--<div class="buttons">
        <a href="#" class="btn btn-xl btn-primary ">Get 2BC Now: Free Download <i class="ion-play"></i></a>
        <!-- <a href="#" class="btn btn-xl btn-white-border">Learn More</a> -->
      </div>
    </div>-->

  </div>
  </div>
  <div class="space-60"></div>
</section>
