<div class="container popup-container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>MAAT gallery</h2>
  </div>
  <div class="row">
    <div class="col-md-4 margin-b-30">
      <a href="/assets/images/img1.jpg">
        <img src="/assets/images/img1.jpg" alt="" class="img-fluid">
      </a>
    </div>
    <div class="col-md-4 margin-b-30">
      <a href="/assets/images/img2.jpg">
        <img src="/assets/images/img2.jpg" alt="" class="img-fluid">
      </a>
    </div>
    <div class="col-md-4 margin-b-30">
      <a href="/assets/images/img3.jpg">
        <img src="/assets/images/img3.jpg" alt="" class="img-fluid">
        </a>
    </div>
  </div>
  <div class="space-50"></div>
</div>
