<section class="callout">
  <div class="space-90"></div>
  <div class="container">
    <div class="center-title">
      <h1>MAAT digital</h1>
      <h4>Sound…Simply Better</h4>
    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
           <h3 class="card-title" style="letter-spacing: -1px">RSPhaseShifter</h3>
            <p class="card-text">The only digital implementation of Roger Schult/German Audio Lab’s Phase Shifter W2324 pure analog hardware.</p>
            <a href="/rsphaseshifter" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
           <h3 class="card-title" style="letter-spacing: -1px">2BusControl</h3>
            <p class="card-text">A universal L/R plus MONO/DIFF monitor control and Balance/Correlation metering plug-in for stereo bus masters.</p>
            <a href="/2buscontrol" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="space-60"></div>
    <div class="center-title">
      <h4>MAAT digital - DR Family</h4>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">DRMeter MkII</h3>
            <p class="card-text">MAAT’s DRMeter MkII is the realtime DR estimation companion plug-in to our official DROffline batch measurement utility.</p>
            <a href="/drm2" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">DRMeter</h3>
            <p class="card-text">MAAT’s DRMeter is the realtime DR estimation companion plug-in to our official DROffline batch measurement utility.</p>
            <a href="/drmeter" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center border-light mb-3">
          <div class="card-body">
            <h3 class="card-title" style="letter-spacing: -1px">DROffline</h3>
            <p class="card-text">MAAT’s DROffline is the batch measurement companion application to our official DRMeter realtime DR estimator plug-in.</p>
            <a href="/droffline" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space-60"></div>
</section>
