<section class="app-section bg-faded" id="download">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6 margin-b-30">
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/GCYI5scuV4I" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>

      <div class="col-lg-5 ml-auto">
      <h3>Watch our video tutorials</h3>
        <p class="margin-b-20">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus magna a lacinia tempor. Fusce et turpis posuere, imperdiet
          orci et, tempus ex. Nunc vitae pellentesque ipsum. Quisque id magna a nisl vestibulum ullamcorper.
        </p>

        <a href="#" class="btn btn-lg btn-primary">More tutorials</a>
      </div>

    </div>
  </div>
  <div class="space-60"></div>
</section>
