<section class="app-section bg-faded" id="download">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6 margin-b-30">
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/GCYI5scuV4I" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>

      <div class="col-lg-5 ml-auto">
      <h3>Watch our Tutorials</h3>
        <p class="margin-b-20">
          MAAT has an ever expanding collection of content for your dancing and entertasinment pleasure. From RSPhaseShifter hacks to metering basics with 2BusController, we”ve got short and informative clips that will make for more interesting engineering.
        </p>

        <a href="#" class="btn btn-lg btn-primary">Head to Tutorials</a>
      </div>

    </div>
  </div>
  <div class="space-60"></div>
</section>
