<section class="grey-bg">
  <div class="space-90"></div>
  <div class="container">
    <div class="center-title">
      <h2>Why MAAT?</h2>
      <p>Three good reasons…First off, we’re a small company with deep roots. Second, we are unequivocal in our search for quality. Third; we only do audio.</p>
    </div>
    <div class="row">
      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <h1>01</h1>
          <p>Deep roots…Between the four of us, we have a century and and a half of pro and CE audio experience. We’ve worked for the Big Boys, including Sony and Universal, Sennheiser and Lexicon, Apple and Studer, as well as small mom and pop outfits, labels and artists who are just as dedicated to quality product as we are.</p>
        </div>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <h1>02</h1>
          <p>Speaking of quality, we’ve all spent our careers working for and with the top echelon of manufacturers and engineering compatriots. Quality isn’t simply a marketing slogan around here, it’s what we strive for every day. More importantly, we have the knowledge and experience to pull it off.</p>
        </div>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <h1>03</h1>
          <p>We mentioned that we only do audio. That’s an understatement. We live, breath and eat audio. O.K., maybe not that last one but in between sips of imperial IPA or amaro, we really can’t shut up about audio. Music is our life, and we hope yours too. Please join us in our pursuit of the ultimate in fidelity and performance.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="space-60"></div>
</section>
