<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div id="accordion" class="card-accrodions" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">Features</a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              thEQorange is the only linear phase EQ that eliminates the temporal smearing associated with lesser equalizers. Without the differential group delay and post–echo that minimal phase IIR filters produce nor the pre–echo that FIR filters create, transients stay as sharp as recorded.
              <h4>Details</h4>
              <ul>
                <li>Equal delay at all frequencies regardless of filter settings; perfectly preserves the time relationship of harmonics in original signal</li>
                <li>Absence of pre or post–echo; does not disperse signal over time, no transient smear</li>
                <li>Unique construction results in no unwanted sonic coloration or artifacts; more clarity, transparence, and definition</li>
                <li>Operates at up to 384 kHz sampling rate; suitable for high resolution DSD or DXD post–production</li>
                <li>Extended resonant or center frequencies up to 174.14 kHz; for processing in ultrasonic and near ultrasonic range for all HRA production and post</li>
                <li>12 sections with five freely assignable parametric filter types; bell, low shelf, high shelf, low cut, and high cut</li>
                <li>Proprietary algorithms result in extremely low noise and vanishingly small nonlinear distortion</li>
                <li>Adjustable Q for bell and high/low cut filters make musical adjustments easy</li>
                <li>Adjustable slope for shelving filters improve precision in the pass and stopbands</li>
                <li>Double the stopband attenuation (ripple) compared to other filter implementations</li>
                <li>Additional low and high cut filter can be overlapped to achieve high “brickwall” slopes</li>
                <li>Special oversampling for analog–like filter characteristics when working with baseband sample rates (44.1 & 48 kHz)</li>
                <li>No coloration or amplitude bumps even at very low frequencies</li>
                <li>In–built tone generator makes for quick location of trouble spots</li>
                <li>SORT function eliminates need for busy, distracting UI elements</li>
                <li>TUNE function aligns center frequencies to Western tunings and popular hardware choices</li>
                <li>AutoGain for effortless A/B comparisons</li>
                <li>Resizable frequency response display for easy, high precision adjustments</li>
              </ul>
               <h4>Extras</h4>
              <ul>
                <li>All internal calculations are 80 bit double precision floating point</li>
                <li>A choice of parametric editing via numerical fields or directly on the graphical display</li>
                <li>Complete setup exchange among several simultaneously opened plug–ins</li>
                <li>Automatic latency compensation with all modern DAWs</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">Applications</a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              With all the features and functionality of Algorithmix’s beloved original LP PEQ Orange, the feature packed thEQorange brings so much more. Use its powerful processing for:
              <ul>
                <li>Mastering and re–mastering tasks on complex and high fidelity mixes</li>
                <li>Equalizing of instrumental group sub–mixes</li>
                <li>Clarifying and rescuing dense mixes</li>
                <li>Addressing resonances and peaky instruments without messing up the tone</li>
                <li>Removing unwanted ultrasonic content from HRA recordings</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">Essentials</a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
            thEQorange fits in with all modern workflows
              <ul>
                <li>Supports LPCM sample rates up to 384k for DSD and high end postproduction</li>
                <li>All standard formats: AU, VST & AAX Mac/Win</li>
                <li>Compatible with standard OSs; macOS, Windows</li>
                <li>Low fatigue visual design</li>
                <li>Resizable user interface for every screen resolution</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
