<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div id="accordion" class="card-accrodions" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">Features</a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              thEQorange is the world’s only linear phase EQ software that eliminates temporal smearing to the greatest possible degree.
              <h4>Details</h4>
              <ul>
                <li>Equal delay at all frequencies regardless of filter settings, perfectly preserving the time relationship of harmonics in the original signal</li>
                <li>Absence of discernable pre or post–echos; does not disperse signal over time. Transients remain clear and sharp, perceptually true to the original recording.</li>
                <li>Unique construction results in no perceptable unwanted sonic coloration (processing artifacts well below -100 dBFS) — work with clarity, transparency, and definition</li>
                <li>Operates at up to 384 kHz sampling rate, suitable for high resolution audio (HRA), DSD or DXD production and post</li>
                <li>Extended resonant or center frequencies up to 174.14 kHz, for processing in ultrasonic and near ultrasonic for all HRA production and post</li>
                <li>12 sections with 5 freely assignable parametric filter types; bell, low shelf, high shelf, low cut, and high cut</li>
                <li>5 freely assignable Panorama modes; stereo, mono (sum), L-R (difference), left–only and right–only</li>
                <li>4 monitor modes help you to aurally keep track of your progress</li>
                <li>Proprietary algorithms result in extremely low noise and vanishingly small nonlinear distortion</li>
                <li>Adjustable Q for bell and high/low pass filters make musical adjustments easy</li>
                <li>Adjustable slope for shelving filters improve precision in the pass and stopbands</li>
                <li>Double the stopband attenuation (ripple) compared to other filter implementations</li>
                <li>Additional low and high pass filters can be overlapped to achieve steep “brickwall” slopes</li>
                <li>Special oversampling for analog–like filter characteristics when working with baseband sample rates (44.1 & 48 kHz)</li>
                <li>No coloration or amplitude bumps even at very low frequencies</li>
                <li>Inbuilt tone generator makes for quick location of trouble spots</li>
                <li>SORT function eliminates the need for busy, distracting UI elements</li>
                <li>TUNE function aligns center frequencies to Western tunings</li>
                <li>Grid snap toggles between surgical and musical applications, emulating popular hardware resonant frequency choices, including Maselec and Manley</li>
                <li>AutoGain for effortless A/B comparisons</li>
                <li>Resizable frequency response display for easy, high precision adjustments</li>
                <li>The tightest Low Cut in the universe!</li>

              </ul>
               <h4>Extras</h4>
              <ul>
                <li>Exclusive dual view, monochrome/color real time spectrogram with user adjustable temporal wiper let’s you choose “when” to transition to low clutter monochrome</li>
                <li>Ultimate fidelity with all 80 bit, double precision floating point internal calculations</li>
                <li>Choice of parametric editing via numerical fields or directly on the graphical display</li>
                <li>Complete setup exchange across multiple simultaneously opened plugins</li>
                <li>Automatic latency compensation with all modern DAWs</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">Applications</a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              With all the features and functionality of Algorithmix’s beloved original LP PEQ Orange, the feature–packed thEQorange brings so much more. Use its powerful processing and double precision I/O for:
              <ul>
                <li>Mastering and remastering tasks on complex, high fidelity mixes</li>
                <li>Equalizing of instrumental group stereo sub–mixes</li>
                <li>Clarifying and rescuing dense mixes</li>
                <li>Addressing resonances and peaky instruments without tonal degradation</li>
                <li>Removing unwanted ultrasonic content from HRA recordings</li>
                <li>Identifying resonances with ease when sweeping, due to the low inherent ringing</li>
                <li>Giving any mix the light touch it deserves</li>
                <li>Tightening up loose or crowded mixes</li>
              </ul>
              What not to use thEQorange for is mixing! thEQorange is a low channel count plug–in, designed for the master buss and mastering. Due to the insane complexity of the algorithm, thEQorange has a high CPU demand. It is <em>not</em> a “light weight”!
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">Essentials</a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
            thEQorange fits in with all modern workflows:
              <ul>
                <li>Supports LPCM sample rates up to 384k for DSD and high–end postproduction</li>
                <li>All standard formats: AU, VST 2 and 3, AAX</li>
                <li>Compatible with macOS and Windows</li>
                <li>Low fatigue visual design</li>
                <li>Resizable user interface for every screen resolution</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
