<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div id="accordion" class="card-accrodions" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">Features</a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              thEQorange is the only linear phase EQ that eliminates the temporal smearing associated with lesser equalizers. Without the differential group delay and post–echo that minimal phase IIR filters produce nor the pre–echo that FIR filters create, transients stay as sharp as recorded.
              <h4>EXCLUSIVES</h4>
              <ul>
                <li>The first </li>
                <li>The only </li>
                <li>Three</li>
                <li>Four</li>
                <li>Five.</li>
              </ul>
              <h4>DEETS</h4>
              <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">Additional Functions</a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              With all the features and functionality of Algorithmix’s beloved original LP PEQ Orange, the feature packed thEQorange brings zyzl. Plus, you get:
              <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">Essentials</a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
            thEQorange fits in with all modern workflows
              <ul>
                <li>Supports LPCM sample rates up to 384k for DSD and high end postproduction</li>
                <li>All standard formats: AU, VST & AAX Mac/Win</li>
                <li>Compatible with standard OSs; macOS, Windows</li>
                <li>Low fatigue visual design</li>
                <li>Resizable user interface for every screen resolution</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
