<div class="cta-skin">
  <div class="container text-center">
    <h2>Order thEQblue Now</h2>
    <p><strong>• thEQblue12: $389<br>
    • thEQblue6: $239<br>
    • Upgrade from thEQblue6 to thEQblue12: $189</strong></p>

    <div class="btn-group">
      <button id="btnGroupDrop1" type="button" class="btn btn-xl btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Purchase Now <i class="ion-play"></i></button>
      <div class="dropdown-menu dropdown-hack" aria-labelledby="btnGroupDrop1">
        <a data-fsc-item-path-value='<%= current_page.data.fastspring.buy12 %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">Lifetime Purchase</a>
        <a data-fsc-item-path-value='<%= current_page.data.fastspring.buy6 %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">Annual Subscription</a>
      </div>
    </div>

    <div class="btn-group">
      <a href="https://www.maat.digital/support/#installers" class="btn btn-xl btn-white-omas-special-style-border">Try It Now</a>
    </div>

  </div>
</div>