<div class="cta-skin">
  <div class="container text-center">
    <h2>thEQorange</h2>
    <p><strong>• Perpetual License: $589<br>
    • Subscription: $9.92 per month ($119 Annual Renewal)</strong></p>

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop0" type="button" class="btn btn-primary btn-xl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Order Now</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop0">
              <a data-fsc-item-path-value='<%= current_page.data.fastspring.buy12 %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">thEQblue12</a>
              <a data-fsc-item-path-value='<%= current_page.data.fastspring.buy6 %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">thEQblue6</a>
            </div>
        </div>
          <a href="https://www.maat.digital/support/#installers" class="btn btn-xl btn-white-omas-special-style-border">Try It Now</a>
    </div>
    
  </div>
</div>
