<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>thEQorange</h2>
      <p>
        <b>When purity is paramount.</b><br>A linear phase EQ with unparalleled clarity. For
        mastering ears, and other discerning engineers.
      </p>
      <h4><strong>One Month Introductory Price: $890, $990 List</strong></h4>
    </div>

    <div class='space-30'></div>
    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/thEQo/thEQo-PanoDetail.web.jpg", alt: "thEQorange", class: "img-fluid center-img" %>
        </div>
        <div class="col-md-8 margin-b-30">
          <h3>In A Class By Itself</h3>
          <p>
            There are many cheap and cheerful EQs out there. Most sound like…well, you get what you pay for, right? Even in the relatively rarefied world of “linear phase” (LP) equalizers, you have well over a dozen to choose from. Our thEQorange is special, with a clarity and “rightness” you have to hear to believe.
          </p>
          <p>
            Whether you’re looking for surgically precise repair, colorless correction, or simply baggage–free spectral contouring, thEQorange has no equal. Our proprietary, precision algorithm delivers on the promise of linear phase correction.
          </p>
        </div>
      </div>
      <div class="space-60"></div>
    </div>

    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>Unobtrusive Power</h3>
          <p>
            thEQorange’s powerful features hide behind its clean and simple UI. Eye candy is great for newbies, but
            thEQo ain’t your typical budget filter: thEQorange packs all the advanced features you need into one
            resizable window that’s easy on the eyes. Not only does the UI “get out of the way” so you can be more
            productive, we’ve incorporated industry–first features that speed your workflow, neatly packaged to make
            thEQorange easy and intuitive to use.
          </p>
          <h4>Subtle Functionality</h4>
          <p>
            We’ve brought pristine fidelity and innovative user interface design to what used to be an unremarkable
            product category. With four monitoring modes, an ergonomic and uncluttered interface, intelligent auto–gain plus crazy good sound, you’ve got to try thEQorange for yourself.
          </p>
        </div>
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/thEQo/thEQo-Power.png", alt: "thEQorange", class: "img-fluid center-img" %>
        </div>
      </div>
      <div class="space-30"></div>
    </div>
  </div>
</section>

<section class="showcase-section grey-bg">
  <div class="space-60"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <%= image_tag "products/thEQo/thEQo-Matrix&TopoDetail.web.png", alt: "thEQorange", class: "img-fluid center-img" %>
      </div>

      <div class="col-md-8 margin-b-30">
        <h3>Better By Design</h3>
        <p class="margin-b-20">
          Pure EQ, with no audible downside. Bring the power and purity of thEQorange to bear for all your equalizing
          tasks.
        </p>
        <%= partial "./accordeon" %>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>

<section class="showcase-section">
  <div class='space-60'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 margin-b-30">
        <h3>Filter Facts</h3>
        <p>Filters or equalizers are hardware or software that provide frequency–dependent gain or loss. The name
          “equalizer” is a legacy term inherited from when telephones and telegraph were analog tech. High frequency
          line losses over long distances were compensated for or “equalized” with passive and later active LCR
          circuits.<br>
          In the analog world, there are only IIR or Infinite Impulse Response filters. IIR filters exhibit
          frequency–dependent group delay or phase shift. This inherent characteristic of IIR filters is part of the
          coloration or “sound” that each brand imparts. Though a few analog filters intended for mastering
          applications are designed for minimal coloration, most impart some amount of coloration, especially at
          extreme settings.<br>
          In the digital domain, alongside IIR filters, a filter type not seen in the real world is possible: FIR or
          Finite Impulse Response filters. FIR filters also exhibit group delay but, unlike IIR filters, with
          appropriately designed FIR, the delay can be made constant at all frequencies. Thus, it is “pure” or
          frequency–independent, constant delay.
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h4>More Color?</h4>
        <p>Another coloration present in most all filters is echo, where a lower amplitude delayed version of the
          signal arrives before or after the signal itself. Wait, <em>before</em> the signal? In the digital world,
          “linear phase” filters are possible where an echo can appear at the output before the direct signal itself.
          This is called pre–echo and, to the human ear is both unnatural and unpleasant. Think of “print through” in
          the analog tape domain…not good.<br>
          While LP FIR filters exhibit pre–echo, IIR filters have post–echo where the duplicated audio is hidden at low
          amplitude or masked “under” the signal itself. In nature, post-echo is common since it’s what we all assume
          when we think of echo. In the real world, echo always appears after the direct sound. Consider how, in a
          highly reverberant environment (reverb being a very large number of echoes clustered together in time),
          speech intelligibility is degraded. This is an extreme example of the perceptual defocusing that post–echo
          does to a direct signal.
        </p>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-android-color-palette feature-sign"></i>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-12 margin-b-30">
        <h4>And Now For Something Completely Different</h4>
        <p>thEQorange <em>is</em> different. By applying advanced theory to the problem of EQ color, we have created a
          highly complex algorithm that eliminates audible pre–echo and post–echo to the highest degree, and offers
          constant group delay at all frequencies. No audible echo to blur transient detail, and no temporal stretching
          or smearing across the audio passband due to differential delaying of frequencies as you find with
          conventional IIR–based equalizers.<br>
          Bottom line: <em>no color</em>. Only the purest frequency–selective gain adjustment you have ever heard. Use
          other tools for appropriate coloration, but reach for thEQorange when purity is essential.
        </p>
      </div>
    </div>
    <div class="space-30"></div>
</section>
