<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>thEQorange</h2>
      <p>
        <b>When purity is paramount.</b><br>A linear phase EQ with unparalleled clarity. For
        mastering ears, and other discerning engineers.
      </p>
      <h4>• Perpetual License: <strike>MSRP: $989</strike>, Limited Time Offer: $589<br>
      • Subscription: $9.92 per month billed annually ($119 Annual Renewal)</h4>
    </div>

    <div class='space-30'></div>
    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/thEQo/thEQo-PanoDetail.web.jpg", alt: "thEQorange", class: "img-fluid center-img" %>
        </div>
        <div class="col-md-8 margin-b-30">
          <h3>A Dream Come True</h3>
          <p>Many mastering engineers, including MAAT founder Friedemann Tischmeyer, were fans of Algorithmix’s legendary original Linear Phase PEQ Orange. Unfortunately, the Algorithmix EQs were available only as 32 bit VSTs for PC and our workstations and our industry has evolved since then. Tischmeyer’s students repeatedly asked for alternatives, which caused him to scan the market for other high class EQs. Colleague Bob Katz recommended EQuilibrium, an insanely versatile tool, which Tischmeyer used for teaching. However, he could not find a satisfying alternative which would take the place of his original PEQ Orange.
          </p>
          <p>The idea was born to reissue this masterpiece and make it available as 64 bit in all common formats and for macOS. An agreement with Algorithmix was made, and MAAT started up in mid–2017. Algorithmix fans heard of that and reached out to us, saying “…just redo it as it is; no extras, no nothing. We just want to have it back in 64 bit and for Mac.” That was encouraging. As a power user, Tischmeyer had some other ideas in mind regarding the UI. He wanted to make it more flexible and faster to use because there is no other tool in the mastering chain an engineer spends so much setup time with. The result? “I think we have achieved that. The UI allows super fast setup and has a number of unique features which help to do so: The positive & negative Contribution function including absolute difference, the adjustable sonogram which makes detecting energy spots you want to clean up easy, and the possibility to play a note on the piano you have in your head and just push the respective frequency to the active band section with one right click are just a few of the new features. What I like too is that I have an overview of all Sections as opposed to just one Section at a time.” In order to not end up with a strange Section order when using many filters, we also added the SORT button so you always have your Sections in ascending order.
          </p>
        </div>
      </div>
      <div class="space-60"></div>
    </div>

    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>Unobtrusive Power</h3>
          <p>
            thEQorange’s powerful features hide behind its clean and simple UI. Eye candy is great for newbies, but
            thEQo isn’t your typical filter: thEQorange packs all the advanced features you need into one
            resizable window that’s easy on the eyes. Not only does the UI “get out of the way” so you can be more
            productive, we’ve incorporated industry–first features that speed your workflow, neatly packaged to make
            thEQorange easy and intuitive to use.
          </p>
          <h4>Subtle Functionality</h4>
          <p>
            We’ve brought pristine fidelity and innovative user interface design to what used to be an unremarkable
            product category. With four monitoring modes, an ergonomic and uncluttered interface, intelligent monitor auto–gain plus crazy good sound, you’ve got to try thEQorange for yourself.
          </p>
        </div>
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/thEQo/thEQo-Power.png", alt: "thEQorange", class: "img-fluid center-img" %>
        </div>
      </div>
      <div class="space-30"></div>
    </div>
  </div>
</section>

<section class="showcase-section grey-bg">
  <div class="space-60"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <%= image_tag "products/thEQo/thEQo-Matrix&TopoDetail.web.png", alt: "thEQorange", class: "img-fluid center-img" %>
      </div>

      <div class="col-md-8 margin-b-30">
        <h3>Better By Design</h3>
        <p class="margin-b-20">
          Whether you’re looking for surgically precise repair, colorless correction, or simply baggage–free spectral contouring, our proprietary, precision algorithm delivers on the promise of linear phase correction. Bring the power and purity of thEQorange to bear for all your surgical equalizing tasks.
        </p>
        <%= partial "./accordeon" %>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>

<section class="showcase-section">
  <div class='space-60'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 margin-b-30">
        <h3>My Go To</h3>
        <p>Tischmeyer says: “The Algorithmix Orange was an essential part of my chain for more than 15 years. It was my ‘to go’ tool when I needed to remove annoying frequencies and resonances or when the midrange was simply cluttered by too many events with too much energy. The same applies to our thEQorange. The magic of thEQo is that I can remove frequencies without having the feel that I have applied a drastic EQ. I simply don’t hear the EQ. The result sounds natural, and suddenly the stereo image opens up — not as a side effect of the EQ but rather more as a result of creating space so that everything falls into the right place instead of fighting against each other. Furthermore, I use it as my preferred low cut to go. Yes, despite it is being a linear phase EQ. Most mastering engineers would not do that because of the fear of pre–ringing artifacts. For me, it is always a question of trade offs when it comes to the choice of a proper low cut in mastering. A minimal phase (IIR or Infinite Impulse Response) EQ comes with a high risk of destroying the master in the time domain due to its phase behavior. This can create a kind of transient smearing because different frequency components of the same transient event do not appear at the same time any longer (known as Group Delay). This could be a very tiny delay but enough to create an unnatural sense which is why I tend to avoid minimal phase EQs for low cutting. Also, a first order 6 dB per octave low cut is no alternative because it just does an inefficient job. On the other hand, a linear phase equalizer comes with the risk of smearing the transient with pre-ringing. However, with reasonable settings of the low cut, like a Q of 0.78 at 25 Hz, the ringing is so irrelevant and unnoticeable that I achieve a far tighter and apparently time correct result. This is why we say that thEQorange has no smearing effect on transients, if it is applied with real world, sensible settings so that pre-ringing is kept to a minimum.<br>
In many cases, when I control too much low end in a mix, the kick suddenly goes from distracting low end artifacts to appearing more punchy and sometimes seeming to have more bass which is not logical but subjectively so since there’s less clutter. I can just explain it another way: It seems like more bass because the bass has a legitimate ‘pocket.’ It also translates better on the monitor system because it is delivered as a correct, time–aligned pulse together with the high frequency components.”
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-12 margin-b-30">
        <h3> If One is Good & Two is Better…</h3>
        <p> People have asked us why we haven’t included alternative modes like minimal phase and all the other options you find in competing products. Our goal as plug-in designers is to create tools from the user prospective, offering just enough flexibility with a carefully chosen set of options so the user can focus on the job at hand. It would be easy to add dozens of additional options to the preferences window but why? As a mastering engineer, you need specialized tools which do a particular job in the fastest and best possible manner.<br>
thEQorange is a perfect example of just such a tool. It offers everything you need to declutter a messed up mix, and we mastering engineers certainly receive such challenges more often as we would want. To arrive quickly at an optimal solution, we intentionally didn’t include parameter settings that are more hindrance than helpful. An example is the lack of choice between the whole range of windowing options like triangular, Blackman or Hamming, because it simply won’t improve your deliverable. Including all those options, mostly coming from a universal DSP library, does not mean they will help you get better results. They are needless, confusing complication, wasting your time with experimentation.<br>
thEQorange was tuned by Dr.s Musialik and Hatje, who have already worked through an extensive refinement process. When asked about this, Musialik stated that “…the optimization and refinement of our algorithms was a very long, tedious and iterative procedure between research, development and feedback from experienced mastering engineers. Unfortunately, in high res audio, not everything is measurable or provable by numbers. This is especially true for the measurement of dynamic behavior and reactions to real–world, complex signals.”<br>
Musialik emphasizes that “There is no ‘best’ audio tool for everybody.” His advice: Perform your own listening tests, then select which additions you want to include in your kit.
        </p>
      </div>
    </div>
    <div class="space-30"></div>
</section>