<section class="testimonials">
  <div class="space-30"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Learn More</h3>

        <h4>This video from Friedemann provides an overview of thEQorange</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kw50GbrYLbY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>Watch it directly on <%= link_to 'YouTube', 'https://youtu.be/kw50GbrYLbY', target: '_blank' %></p>

        <h4>Download — thEQorange User Manual</h4>
        <p>The user manual <%= link_to 'PDF', 'https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/thEQorange_UM.pdf', target: '_blank' %> includes mucho useful info, check it out…</p>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
  </div>
</section>
