<section class="features-bg">
  <div class="container">
    <div class="center-title">
      <h2>Speeds & Feeds</h2>
      <p>Downloads, Features & Specifications</p>
      <h3>Stay Current</h3>
      <p>Looking for the latest version of your software? Just <a href="https://www.maat.digital/support/#installers" target="_blank">download</a> and install the demo! The installer will update everything and your license will take over when you next use the product.</p>
    </div>

    <div class="center-title">
      <h3>Downloads</h3>
      <p><b>• Download the user manual</b> for thEQorange <strong><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/thEQorange_UM.pdf" target="_blank">here</a></strong>…</p>
      <p><b>• Listen for yourself</b> to some thEQorange samples by downloading this (62 MB) <strong><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/PR/thEQorange_Samples02.zip">ZIP file</a></strong>. It contains four samples, corrected for equal loudness. Besides an unprocessed original version, you will find a file with only thEQorange processing and no other changes. Also included is a screenshot displaying all setup parameters, along with a thEQo preset file.<br>
          <b><em>Important!</em></b> Consider that the sample files were created from a mastering engineer’s perspective, where a number of specialized tools and EQs would be applied one after the other, somewhat like a jigsaw puzzle being fitted together. Applying thEQorange would only be first in a series of subsequent steps.<br>
          A typical approach is to first remove resonances and clutter without degrading the audio quality, in this case utilizing thEQorange. Subsequently, other equally specialized tools would be applied downstream for additional subjective improvements. We would recommend thEQblue to fill in additional warmth, and employ thEQred for high frequencies correction and added “air.” In other words, these audio file examples address only the first step in a chain of tools, rather than an unmastered/mastered A/B example. These thEQorange examples are aimed at decluttering the mix to get the audio ready for subsequent treatment.</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-paper"></i>
          </div>
          <div class="content">
            <h4>Features</h4>
            <ul>
            <li>Fully parametric linear phase EQ</li>
            <li>Free of group delay</li>
            <li>Exclusive Contribution Control</li>
            <li>Optional live spectrogram</li>
            <li>AutoGain for effortless A/B comparisons</li>
            <li>Variable resonant ƒ tunings for common Western scales</li>
            <li>Inbuilt tone generator for quick spectral navigation</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-document-text"></i>
          </div>
          <div class="content">
            <h4>Supporting</h4>
            <ul>
            <li>AAX (Pro Tools 10.3.10 and newer), AU, VST 2, VST 3</li>
            <li>Sample rates from 44.1 to 384 kHz</li>
            <li><img src="https://www.tracktion.com/wp/wp-content/uploads/2018/11/logo-pluginval_3x.png" alt="pluginval_logo" height="12">&nbsp Verified by <em>pluginval</em>, passing with a score of 10 (the highest strictness level)
             </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="center-title">
      <h4>VST</h2>
      <p>VST PlugIn Interface Technology by Steinberg Media Technologies GmbH</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-briefcase"></i>
          </div>
          <div class="content">
            <h4>License</h4>
            <ul>
            <li>Perpetual: One–Time Buyout</li>
            <li>Subscription: Annual</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-android-laptop"></i>
          </div>
          <div class="content">
            <h4>Requirements</h4>
            <ul>
            <li>macOS 10.8 and newer, Catalina–ready</li>
            <li>Windows 7 and newer, 32 & 64 bit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
