<section class="features-bg">
  <div class="container">
    <div class="center-title">
      <h2>Speeds & Feeds</h2>
      <p>Features & Specifications</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-paper"></i>
          </div>
          <div class="content">
            <h4>Features</h4>
            <ul>
            <li>Fully parametric linear phase EQ <strong>+</strong></li>
            <li>Free of temporal and phase distortion</li>
            <li>Live spectrogram and spectrograph</li>
            <li>AutoGain for effortless A/B comparisons</li>
            <li>Variable resonant ƒ tunings for common Western scales</li>
            <li>Inbuilt tone generator for quick spectral navigation</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-document-text"></i>
          </div>
          <div class="content">
            <h4>Supporting</h4>
            <ul>
            <li>AAX (Pro Tools 10.3.10 and newer), AU, VST2/VST3</li>
            <li>Sample rates from 44.1 to 384 kHz</li>
            <li>Verified by pluginval & passing with a score of 10, the highest strictness level 
            <img src="https://www.tracktion.com/wp/wp-content/uploads/2018/11/logo-pluginval_3x.png" alt="pluginval_logo" height="32"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="center-title">
      <h4>VST</h2>
      <p>VST PlugIn Interface Technology by Steinberg Media Technologies GmbH</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-briefcase"></i>
          </div>
          <div class="content">
            <h4>License</h4>
            <ul>
            <li>Perpetual: One–Time Buyout</li>
            <li>Subscription: Annual</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-android-laptop"></i>
          </div>
          <div class="content">
            <h4>Requirements</h4>
            <ul>
            <li>macOS 10.8 and newer</li>
            <li>Windows 7 and newer, 32 & 64 bit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>