<section class="features-bg">
  <div class="container">
    <div class="center-title">
      <h2>Speeds & Feeds</h2>
      <p>Features, Specifications & Downloads</p>
    </div>

    <div class="center-title">
      <h3>Downloads</h3>
      <p>Download the user manual for thEQorange <a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/thEQorange_UM.pdf" target="_blank">here</a>…</p>
      <p>If you own thEQorange, grab a copy of the current build for <a href="https://s3-eu-west-1.amazonaws.com/website-maat-digital-downloads/releases/current/EQO/MAAT_thEQorange_Installer-1.1.1-macOS.zip" target="_blank">macOS</a> or <a href="https://s3-eu-west-1.amazonaws.com/website-maat-digital-downloads/releases/current/EQO/MAAT_thEQorange_Installer-1.1.1-Windows.zip" target="_blank">Windows</a>…</p>
      <p>If you want to A/B compare our thEQorange samples, please download the <a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/PR/thEQorange_Samples01.zip">ZIP file</a> (51 MB). This file contains three samples, corrected for equal loudness. Besides an unprocessed “original mix,” you will also find a file with only thEQorange processing without any other change. For your reference, you will find a screenshot of thEQorange with all setup information along with a preset file if you already own thEQorange.<br>
Important! Please consider that the setup was done from a mastering engineer’s mindset using a number of specialized tools and EQs which work together like a perfect jigsaw puzzle. A typical approach is to remove resonances and clutter and subsequently fill in some warmth with a broader EQ which is specialized to do this job. I would go for thEQblue to fill in the warmth and use thEQred for the high frequencies and “air.” In other words, these examples address only the first step in a chain of tools, rather than an unmastered/mastered A/B example. These thEQorange examples are aimed at decluttering the mix to get ready for subsequent treatment.</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-paper"></i>
          </div>
          <div class="content">
            <h4>Features</h4>
            <ul>
            <li>Fully parametric linear phase EQ <strong>+</strong></li>
            <li>Free of group delay</li>
            <li>Exclusive Contribution Control</li>
            <li>Live spectrogram and spectrograph</li>
            <li>AutoGain for effortless A/B comparisons</li>
            <li>Variable resonant ƒ tunings for common Western scales</li>
            <li>Inbuilt tone generator for quick spectral navigation</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-document-text"></i>
          </div>
          <div class="content">
            <h4>Supporting</h4>
            <ul>
            <li>AAX (Pro Tools 10.3.10 and newer), AU, VST 2, VST 3</li>
            <li>Sample rates from 44.1 to 384 kHz</li>
            <li><img src="https://www.tracktion.com/wp/wp-content/uploads/2018/11/logo-pluginval_3x.png" alt="pluginval_logo" height="12">&nbsp Verified by <em>pluginval</em>, passing with a score of 10 (the highest strictness level)
             </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="center-title">
      <h4>VST</h2>
      <p>VST PlugIn Interface Technology by Steinberg Media Technologies GmbH</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-briefcase"></i>
          </div>
          <div class="content">
            <h4>License</h4>
            <ul>
            <li>Perpetual: One–Time Buyout</li>
            <li>Subscription: Annual</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-android-laptop"></i>
          </div>
          <div class="content">
            <h4>Requirements</h4>
            <ul>
            <li>macOS 10.8 and newer</li>
            <li>Windows 7 and newer, 32 & 64 bit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
