<section class="testimonials grey-bg">
  <div class='space-60'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Reviews & Testimonials</h3>
        <h5>Bob Katz — Digital Domain reviewing in Resolution Magazine</h5>
        <p><em>“<strong>Listening and Use Tests</strong><br>
        …I’ve measured the MAAT HP (high pass) slope as 24dB/octave at Q 0.72, and there’s zero ripple in the passband, a sign of good, clean coding. This steep slope is extremely effective at reducing mud yet staying below the fundamentals of bass and bass drum.<br>
        I had always avoided using steep high pass filters in LP because of my experience with less well-specified Linear Phase plug-ins, which performed poorly at low frequencies. I decided to try high pass in LP again with thEQorange EQ. In a rock mix with muddy, heavy bass and bass drum, an MP (minimum phase) equaliser’s steep high pass sounded incoherent, but with the MAAT, the bass instrument retained impressive body and punch. I was so astonished that I had to confirm the two equalisers had identical frequency response — yes, all the audible problems were due to time domain anomalies. Now I’m going to try LP during more projects.<br>
        <strong>Linear Phase Royalty</strong><br>
        thEQorange EQ is a premium EQ, with a premium price and premium features, sounding transparent, solid, and clean to me. Years ago, the Algorithmix EQs were king of the Linear Phase Equalisers — nothing available at the time could touch them — but today there are alternative LP EQ plug-ins available…(That said) I haven’t found any other LP equalisers of similar quality, and I’d certainly be happy to use thEQorange in my processing chain.<br><br>
        PROS: Very clean, pure and transparent. Natural-sounding. High frequency boosts without image flattening. Very “tight” high pass filter. Precise filter shapes.<br>
        CONS: Expensive. No A/B comparison, this will be added in a future revision (A/B comparison was added in version 2).  Possible pre-echo artefacts.”</em> (All artifacts are well below -120dBFS — OMas)</p>
        <h5>Garrett Haines — Treelady Studios <a href="https://tapeop.com/reviews/gear/133/theqorange-plug-in/" target="_blank">reviewing</a> in TapeOp Magazine</h5>
        <p><em>“Although I'm not a fan of linear phase EQ, I found thEQorange to be smooth and natural sounding…In carving out lo mids, I was reminded of respected solid-state mastering EQs – surgical without being brittle…this thing is a beast in the lower realms.<br>
            For mastering, mixing, and restoration work, thEQorange is a formidable tool. As someone who seems to cut more than I boost, I'm enamored with the sound and power of this title. To my ears, thEQorange sounds sweeter than many of competing plug-in EQs, making it a tool I can rely on day-in/day-out.”</em></p>
        <h5>Thomas “Plec” Johansson — The Panic Room</h5>
        <p><em>“PEQ Orange has been an indispensable tool in our mastering studio since the day we got it back in the day under the Algorithmix brand. It was the best sounding surgical EQ on the market but with the worst GUI and usability. I’m so happy to see MAAT taking this to the next level, not only updating the GUI to modern standards but adding an entire new tool set on top which makes it not only the best sounding EQ out there but also the most usable.”</em></p>
        <h5>Audrius Lelkaitis — audio journalist</h5>
        <p><em>“I am very impressed with theEQorange. It is very intuitive and easy to work with. The quality of sound is unsurpassed.”</em></p>
        <h5>Alex Picciafuochi — Alex Picciafuochi Mixing & Mastering</h5>
        <p><em>“This is one of those very rare products that, when compared to most of the more famous competition, leaves you amazed by its extraordinary audio quality and sonorous precision.”</em></p>
        <h5>Jaime Cavazos — multi–Grammy award winning owner of 0VU Mastering</h5>
        <p><em>“thEQo es muy transparente y está en una liga aparte. Como usuario de los Algorithmix originales, la nueva interfase es muy intuitiva y versátil,  aparte de trabajar en la mayoría de las plataformas y DAWs. thEQorange es una herramienta invaluable en mi cadena de Mastering.<br>
        thEQo is very transparent and it's in a league of it's own. As a user of the original Algorithmix, the new interface is very intuitive and versatile, apart from working on the majority of platforms and DAWs. thEQorange is an invaluable tool in my Mastering chain.”</em></p>
        <h5>Dale Becker — Becker Mastering</h5>
        <p><em>“I am killing it with this EQ! Thank you. My super picky clients are really digging the top end. Awesome stuff!”</em></p>
        <h5>Pedro Chamorra — composer, music producer and mixer</h5>
        <p><em>I've tried thEQorange in two projects now and all I can say; I'm floored with it. I'm having a hard time processing this, I'm actually liking these digital EQs more than analog, which is a first for me. I don't think I ever understood what “clean EQ” was and what it can do, until now.</em></p>
        <h5>Athanasius Ditsias — Chief Mastering Engineer at Digisound Studios</h5>
        <p><em>“The EQorange far surpasses any other plug–in, including Equilibrium or my original battle horse, PLPar. End of story. The musical information passing the filters is way more transparent, far more analog sounding, less fatiguing and almost identical to the Weiss. thEQorange will definitely be THE EQ for the next ten years. Waiting hopefully for thEQblue, red, the compressor/limiter, reNOVAtor, Denoiser and Declicker!”</em></p>
        <h5>Thomas Meitz — Editing Department Head at Vienna Symphonic Library GmbH</h5>
        <p><em>“Zuerst muss mal gesagt werden, dass thEQorange wirklich einfach Spaß macht!<br>
        Ich habe bereits einige Projekte damit bearbeitet und es ist wirklich einfach zum richtigen Ergebnis zu kommen!<br>
        Einerseits weil der EQ so schön „nichtfärbt“, andererseits sind die Zusatzfeatures ausgezeichnete Hilfsmittel.<br>
        Die Bearbeitung im Bassbereich ent-mumpft grandios und ein High-Shelf im Differenzsignal macht schön breit ohne irgendwie scharf zu werden!<br>
        Nach anfänglicher Skepsis: Ich liebe das Spektrogramm!<br>
        Die Solofunktion der Gain-Änderungen finde ich super, muss damit aber noch warm werden.<br>
        Snap-Funktion bei Rechtsklick auf die Pianoroll ist sehr praktisch.<br>
        Sort-Funktion = Spitzenmäßig!<br>
        Ich finde das GUI super aufgeräumt, beschriftet wo notwendig und intuitiv!<br>
        Skalieren ist super und zeitgemäß – ich kenne allerdings kein Plugin das IMMER gleich gut aussieht – das geht wahrscheinlich nicht…<br>
        <br>
        <b>In Summe: Ich gratuliere zu einem hervorragenden EQ!</b>”</em>
        </p>
        <p><em>“First of all, it has to be said that thEQorange is really fun!<br>
        I've already done some projects on it and it's really easy to get the right results!<br>
        On the one hand, the EQ is nicely neutral and does not “color,” on the other, the additional features are excellent tools.<br>
        The editing in the bass range de-clutters terrific and a high-shelf on the difference signal makes beautiful wide without any kind of sharpness!<br>
        After initial skepticism: I love the spectrogram!<br>
        I think the solo feature of the monitor section with positive and negative gain changes is great, but I still need to get used to it.<br>
        Snap function on right-click on the piano roll is very convenient.<br>
        Sort function = Tops!<br>
        I think the GUI is super clean, labeled where necessary and intuitive!<br>
        Scaling is great and up to date - but I do not know a plug–in that ALWAYS looks the same - that probably will not work…<br>
        <br>
        <b>In summary: I congratulate you on an excellent EQ!</b>”</em>
        </p>
        <h5>Andrea Zanini — CEO & Chief Mastering Engineer at Owl Mastering</h5>
        <p><em>“Some digital plug–ins deliver precision, while others deliver musicality. thEQorange is definitely a juicy tool, squeezing both qualities in a single, exquisite piece of audio engineering.”</em>
        </p>
        <h5>Thom Wettstein — Mondstein Records</h5>
        <p><em>“I have tried thEQorange in every mastering. Sometimes it fits, sometimes not.<br>
        I like the features of re-ordering the bands and listening just to the cuts or boosts. It’s easy to find the sweet spot. I like the Interface a lot. It's comfortable to work with. The strength of this plug–in, in my opinion, is the de-masking of the mid frequencies. It’s very transparent.”</em>
        </p>
        <h5>Patrik Schwitter — organ builder, musician, educator, award–winning mastering engineer</h5>
        <p><em>“It just sounds fantastic or, to be more clear, it does not have any sound (i.e. colouration) at all! I'm totally convinced of this orange beauty. :) ”</em>
        </p>
        <h5>Martin Adrian — musician, DJ, producer</h5>
        <p><em>“…thEQorange is really something. (A Monster!!) A monster because it is so refined and clean (plus) so many convenient features…”</em></p>
        <h5>Tomi Kuusisto, Audio Chef Mastering (EMI Finland, Warner Music)</h5>
        <p><em>“The search for the ultimate EQ is finally over. I have to say that you really nailed it with thEQorange!<br>
        It is more than an awesome tool for mastering as well as for mixing. I have tried all the mainstream pro plugin EQs out there but thEQorange is something unique; transparent and very musical…The show is not over until the thEQorange sings!”</em>
        </p>
        <h5>Олег Ершов (Oleg “Yorshoff” Yershov) — engineer & journalist</h5>
        <p><em>“This thEQo is simply insane! I’m shocked how good it is…(my) overall impression is just WOW!”</em>
        </p>
        <p>Oleg released a video overview and review of thEQorange. His conclusion, <em>“It amazes with the functionality and sound quality of its algorithms…Comparing thEQorange with other equalizers, using it for solving various problems during mixing and mastering, I continue to (think) this equalizer is really the king among digital equalizers.”</em><br>
        Смотрите это здесь:  <%= link_to 'Отзыв Олега, на русском языке…', 'https://youtu.be/ZzO8Lae7UjY', target: '_blank' %><br>
        </p>
        <p>He also wrote a <a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/PR/thEQorange-Review%28FM_Russia_15%29.pdf" target="_blank">piece</a> on thEQorange for the Russian edition of FutureMusic. In it, he states that, <em>“Again, if the original PEQ Orange stood out from the competition mainly due to its technical characteristics (first of all, its (sound) quality)…Friedemann and his colleagues at MAAT were able to make thEQorange a user-friendly device, be it a home musician or a professional mastering engineer of world class - high demands and expectations…<br>
            Having spent enough time with thEQorange, I really enjoyed this (plug–in) - it works easily, quickly and with pleasure. Is it worth the money? I think that everyone should answer this question on their own but I, in turn, do not plan to abandon this plug-in and continue with great pleasure to use it in my mixes.</em>”<br>
        Прочитайте это здесь:  <%= link_to 'Полный обзор PDF, на русском языке', 'https://website-maat-digital-downloads.s3.amazonaws.com/public/PR/thEQorange-Review%28FM_Russia_15%29.pdf', target: '_blank' %>
        </p>
        <h5>Benoît Piccand — studio head & faculty lecturer at Bern University of the Arts</h5>
        <p><em>“After the first few days of experimenting with thEQorange: I am really thrilled; on the one hand by the tonal results, but also by the interface: simple, extremely pragmatic and equipped with maximally useful functions. Unique and very beneficial!<br>
        I'm curious to see and hear what the other family members (<%= link_to 'blue', 'https://www.maat.digital/theqblue/', target: '_blank' %> and red) have to offer.”</em>
        </p>
        <h5>G.R. Neidinger — engineer & musician</h5>
        <p><em>“Regarding thEQorange, I am pleased with it, it is extremely effective and efficient at what it does and it instantly and recognizably improved my work, it has already won me a handful of compliments from my regular clients.<br>
        As with acoustic guitar recordings, low mid resonances are often a challenge with mandolin recordings. Given my experience so far with thEQorange's superior performance in the context of mixing and mastering live recordings of string quartets and big bands (and on improving vocals recorded by artists outside of studios), I expect thEQorange will again be superior in dealing with these issues.<br>
        …while it does excel at removing resonances, for me it is also becoming an EQ of first call for low shelf boosts and presence boosts. In direct comparison to thEQorange, many other highly regarded EQ plugins very quickly become blurry and scratchy sounding.<br>
        thEQorange has become absolutely vital to me, by the way, in both the production phase and the finishing phase. The power to edit frequencies with such imperceptible side effects is addictive.”</em></p>
        
        <hr>
        <h4>Praise for the original Algorithmix LinearPhase PEQ Orange</h4>
        <p>thEQorange is a modern restoration of the original <em>Linear Phase PEQ Orange</em> from Algorithmix. Thanks
          to improvements in technology since the PEQ Orange was released, our new version exceeds the already
          legendary fidelity of the original. Plus, we’ve added key new tech to the User Experience (UX) to make your
          time with thEQorange easier and more pleasurable.</p>
        <h5>Sakis Anastopoulos — Digisound Mastering</h5>
        <p><em>“I must tell you that I am absolutely ecstatic with the results that I have been achieving with the
          linear phase EQs…Both Red and Orange EQs have absolutely replaced every other EQ that I own and have given
          me the ability and freedom to perform challenging frequency adjustment tasks in every project that I master
          no matter how challenging or what genre it is…Their ability to resolve with accuracy, clarity and
          musicality, frequency ranges in complex music passages is astonishing, allowing the mastering engineer to
          focus on the project and forget the artifacts that are usually associated with this kind of processors.”</em>
        </p>
        <h5>Stefan Lindstrom — Swedish Sound Reference AB</h5>
        <p><em>“Having the ($6k) hardware Weiss Linear Phase EQ1-MK2 as the reference, I've never expected to hear any
          other product, especially a software PlugIn, playing in the same league, but the LinearPhase PEQ Orange
          became to be an indispensable complement tool in our mastering suite.”</em>
        </p>
        <h5>Bob Katz — Digital Domain</h5>
        <p><em>“…the Algorithmix Red and Orange Linear Phase equalizers are must haves.”</em></p>
        <h5>Alan Silverman, Arf! Digital</h5>
        <p><em>“…as the final touch-up EQ…the sound is fantastic!”</em>
        </p>
        <h5>T-Dogg on our Dr. Christoph’s chops</h5>
        <p><em>“The real gurus in the field…Dr. Christoph Musialik, etc. have far surpassed these textbook
          algorithms…Simply put, genius–level R&D and know–how is priceless.”</em> We concur and know that you will
          too!
        </p>
        <hr>
        <h4>Engineers & Reviewers! Want to add your voiceover to the mix?</h4>
        <p>Head to our
          <%= link_to 'Contact', '/contact' %> page and give a shout…We’d love to hear what you think!
          </p>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
  </div>
</section>
