<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div id="accordion" class="card-accrodions" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">Features</a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              MtG steals a bit of talent from our MAAT magic, and combines that with solid solutions to problems we hear about from you.
              <ul>
                <li>Automatically loops seamless audio</li>
                <li>Controls for visualizing and defining looped & filled material</li>
                <li>Gain controls ease seamlessly integration</li>
                <li>All standard formats: AU, VST & AAX Mac/Win</li>
                <li>Optimized internal 64 bit processing for highest fidelity</li>
                <li>Operates at all standard sample rates, from 44.1 to 384 kHz</li>
                <li>Compatible with standard OSs; macOS, Windows</li>
                <li>Low fatigue visual design</li>
                <li>Compact layout</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">Controls</a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              <ul>
                <li>The Open button starts the process</li>
                <li>Record Mode allows you to quickly capture room tone, ambience, pads, phrases and atmospheres</li>
                <li>Edit Mode lets you quickly define and trim the material for looping</li>
                <li>Visual zoom control lets you get as tweaky as you want</li>
                <li>The Bias adjustment lets you increase playback gain of the looped audio to ensures your new content seamlessly drops into its surroundings</li>
                <li>A discrete Status indicator keeps you on the straight and narrow</li>
              </ul>
            </div>
          </div>
        </div>
		
      </div>
    </div>
	
  </div>
</div>
