<section class="showcase-section" id="features">
  <div class="space-60"></div>
  <div class="container">

    <div class="center-title">
      <h2>MtG :: Cross–platform Plug–in</h2>
      <p>
        Escape the drudgery of dialog editing.
      </p>
      <h4><strong><strike>Price: $99</strike> Introductory Price: $79</strong></h4>
    </div>

    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>Your Sound, Your Way</h3>
          <p>Streamlining workflows for spoken word production, MtG automatically fills gaps, of any length, in edited speech tracks. The plug–in supplies smoothly looped room tone, with controls for visualizing and defining loop fills, along with gain controls to seamlessly integrate the looped audio into the material.
          </p>
          <p>Not all DAWs behave the same, and MtG knows that. It includes safeguards that inform you if your DAW isn’t ready to play nice with MtG, reducing error and frustration. MtG also includes zoom controls to quickly identify any inaudible and undesirable material you may want to remove from your loop. 
          </p>
        </div>
        <div class="col-md-4 margin-b-30">
          <div class="icon-box text-center">
            <!--i class="ion-stats-bars feature-sign"></i-->
            <i class="ion-ios-barcode feature-sign"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="showcase-section">
  <div class='space-60'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Save Your Sanity, Let Us Help</h3>
        <p>
          MtG: easy to use, built–in loop editor, Fills any length gaps. Grab a copy and start making better sounding music.
        </p>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-happy-outline feature-sign"></i>
        </div>
      </div>
    </div>
  </div>
</section>