<section class="features-bg">
  <div class="container">
    <div class="center-title">
     <h2>Speeds & Feeds</h2>
      <p>Features, Specifications & Downloads</p>
    </div>

    <div class="center-title">
      <h3>Downloads</h3>
      <p><b>• Download the user manual</b> for MtG <strong><a href="https://website-maat-digital-downloads.s3.eu-west-1.amazonaws.com/public/docs/MtG_UM.pdf" target="_blank">here</a></strong>…</p>
      <p><b>• If you own MtG and want the latest build or want to demo</b>, grab an installer…<br>
      <strong><a href="https://www.maat.digital/dl/MtG-macos.zip" target="_blank">Installer</a></strong> — For macOS<br>
      <strong><a href="https://www.maat.digital/dl/MtG-windows.zip" target="_blank">Installer</a></strong> — For Windows</p>
    </div>

<div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-paper"></i>
          </div>
          <div class="content">
            <h4>Features</h4>
            <ul>
            <li>Automatically loops and inserts user–defined content</li>
            <li>Quickly build music beds, dialog & foley backgrounds, layered effects</li>>
            <li>Works at HRA sample rates</li>
            <li>Integrated loop editor</li>
            <li>Fast and efficient</li>
            <li>Seamlessly fills gaps of any length</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-document-text"></i>
          </div>
          <div class="content">
            <h4>Supporting</h4>
            <ul>
            <li>AAX (Pro Tools 10.3.10 and newer), AU, VST 2, VST 3</li>
            <li>Sample rates from 44.1 to 384 kHz</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="center-title">
      <h4>VST</h2>
      <p>VST PlugIn Interface Technology by Steinberg Media Technologies GmbH</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-briefcase"></i>
          </div>
          <div class="content">
            <h4>License</h4>
            <ul>
            <li>Perpetual: One–Time Buyout…</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-android-laptop"></i>
          </div>
          <div class="content">
            <h4>Requirements</h4>
            <ul>
            <li>macOS 10.8 and newer, Catalina–ready</li>
            <li>Windows 7 and newer, 32 & 64 bit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>