<section class="testimonials grey-bg">
  <div class="space-60"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Reviews & Testimonials</h3>
          <h5>Harry Jackson — Whipped Cream Sounds</h5>
          <p><%= link_to 'What We Thought of MtG in The Field', 'https://www.whippedcreamsounds.com/maat-mtg-review/', target: '_blank' %> 4.3 out of 5 Stars…<em>“MtG is a fantastic workflow tool for anyone who works with recording vocals, podcasts, etc. It saves thousands of hours of work with annoying room tone editing, by analyzing your file or room and inputting it for you – making your vocals sound natural, without you wanting to smash your keyboard.”</em>
          
          </br>
          <h4>Reviewers! Want to add your voiceover to the mix?</h4>
          <p>Head to our <%= link_to 'Contact', '/contact' %> page and give a shout…We’d love to hear what you think!</p>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
    </div>
    <div class="space-30"></div>
  </div>
</section>
