<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-15FS2298WH"></script>

<!-- Plausible tag -->
<script defer data-domain="maat.digital" src="https://plausible.georepublic.info/js/script.js"></script>

<!-- Google tag (gtag.js) -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-15FS2298WH');
</script>
</body>
