<div class="container">
  <div class="space-30"></div>
  <div class="row">
    <div class="col-md-12">
      <h1>MAAT Minimum Phase EQ Products</h1>
      <h2>Plug&ndash;In Feature Comparison</h2>

      <table class="table table-bordered maat-comparison">
        <thead>
          <tr>
            <th scope="col"><em>Features</em></th>
            <th scope="col">&hercon;<em> Notes </em>&hercon;</th>
            <th scope="col"><em>thEQblue6</em></th>
            <th scope="col"><em>thEQblue12</em></th>
            <th scope="col"><em>SantaCruzEQ6</em></th>
            <th scope="col"><em>SantaCruzEQ12</em></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th align = right scope="row">Architectures<sup>&sect;</sup>&nbsp;</th>
            <td align = left>serial type, &numero;s 1-10 & parallel type, &numero;s 11-12</td>
            <td>6 total; &numero;s 1-6</td>
            <td>12 total; &numero;s 1-12</td>
            <td>6 total; &numero;s 1-6</td>
            <td>12 total; &numero;s 1-12</td>
          </tr>
          <tr>
            <th align = right scope="row">Sections&nbsp;</th>
            <td align = left>topologies: 1st & 2nd order cut & shelf, bell</td>
            <td>12 total; all 5 topologies</td>
            <td>12 total; all 5 topologies</td>
            <td>6 total; 1st & 6th are cut & shelf only, #2 - 5 all 5</td>
            <td>6 total; 1st & 6th are cut & shelf only, #2 - 5 all 5</td>
          </tr>
          <tr>
            <th align = right scope="row">Metering&nbsp;</th>
            <td align = left></td>
            <td>Signal present + optional wide range & numeric TP</td>
            <td>Signal present + optional wide range & numeric TP</td>
            <td>Signal present</td>
            <td>Signal present</td>
          </tr>
          <tr>
            <th align = right scope="row">Panorama Control&nbsp;</th>
            <td align = left>Left&ndash;only, R&ndash;only, mono, stereo, L-R</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>No; stereo&ndash;only</td>
            <td>No; stereo&ndash;only</td>
          <tr>
            <th align = right scope="row">Spectrogram&nbsp;</th>
            <td align = left></td>
            <td>Yes; can be disabled</td>
            <td>Yes; can be disabled</td>
            <td>No</td>
            <td>No</td>
          </tr>
          <tr>
            <th align = right scope="row">Tuning&nbsp;</th>
            <td align = left></td>
            <td>Yes; &fnof;&ndash;snapping</td>
            <td>Yes; &fnof;&ndash;snapping</td>
            <td>No</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div><p>&sect; &ndash; For more on the architectures incorporated into thEQblue and SantaCruzEQ, see the <em>Understanding EQ Architectures</em> PDF, available <a
        href="https://website-maat-digital-downloads.s3.eu-west-1.amazonaws.com/public/docs/Understanding_EQ_Architectures.pdf"
        target="_blank">here</a>.</p>
    </div>
  </div>
  <div class="space-30"></div>
</div>