<div class="container" id="comparison">
  <div class="space-30"></div>
  <div class="row">
    <div class="col-md-12">
      <h2>MAAT Minimum Phase EQ Plug&ndash;Ins</h2>
      <h3>Feature Comparison</h3>
      <table class="table table-bordered maat-comparison">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">thEQblue6</th>
            <th scope="col">thEQblue12</th>
            <th scope="col">SantaCruzEQ6</th>
            <th scope="col">SantaCruzEQ12</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col"><em>Features</em></th>
            <th scope="col">&hercon; Notes &hercon;</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          <tr>
            <th scope="row"><em>Architectures<sup>&sect;</sup></em></th>
            <td>&numero;s 1-10, serial type; &numero;s 11-12, parallel type</td>
            <td>6 total; &numero;s 1-6</td>
            <td>12 total; &numero;s 1-12</td>
            <td>6 total; &numero;s 1-6</td>
            <td>12 total; &numero;s 1-12</td>
          </tr>
          <tr>
            <th scope="row"><em>Sections</em></th>
            <td>5 topologies: 1st & 2nd order, variable slope cut & shelf; parametric bell</td>
            <td>12 total; all 5 topologies</td>
            <td>12 total; all 5 topologies</td>
            <td>6 total; #1 & 6 are cut & shelf only; #2 - 5, all 5 topologies</td>
            <td>6 total; #1 & 6 are cut & shelf only; #2 - 5, all 5 topologies</td>
          </tr>
          <tr>
            <th scope="row"><em>Metering</em></th>
            <td></td>
            <td>Signal present + wide range & numeric TP</td>
            <td>Signal present + wide range & numeric TP</td>
            <td>Signal present</td>
            <td>Signal present</td>
          </tr>
          <tr>
            <th scope="row"><em>Panorama Control<sup>&ddagger;</sup></em></th>
            <td>Left&ndash;only, R&ndash;only, mono, stereo, L-R</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>No (stereo&ndash;only)</td>
            <td>No (stereo&ndash;only)</td>
          <tr>
            <th scope="row"><em>Spectrogram</em></th>
            <td></td>
            <td>Yes; can be disabled</td>
            <td>Yes; can be disabled</td>
            <td>No</td>
            <td>No</td>
          </tr>
          <tr>
            <th scope="row"><em>Tuning</em></th>
            <td></td>
            <td>Yes; &fnof;&ndash;snapping</td>
            <td>Yes; &fnof;&ndash;snapping</td>
            <td>No</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
        <p><strong>&sect; &ndash; For more on the architectures incorporated into thEQblue and SantaCruzEQ, see our <em><a
        href="https://website-maat-digital-downloads.s3.eu-west-1.amazonaws.com/public/docs/Understanding_EQ_Architectures.pdf"
        target="_blank">Understanding EQ Architectures</a></em> PDF.</strong></p>
        <p><strong>&ddagger; &ndash; Parallel architectures do not support L-R Panorama mode.</strong></p>
    </div>
  </div>
  <div class="space-30"></div>
</div>