<footer>
  <hr>
  <ul>
    <li>General Footer Content</li>
    <li><a href="/imprint">Imprint</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/support">Support</a></li>
    <li><a href="/terms">Terms & Conditions</a></li>
    <li><a href="/faq">Questions</a></li>
    <li><a href="/contact">Contact</a></li>
    <li>Social Media Links</li>
  </ul>
  <p>2017 &copy; MAAT digital. All Rights Reserved.</p>
<footer>
