<header>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/2-bus-control">2-Bus Control</a></li>
    <li><a href="/dynamic-range-meter">Dynamic Range Meter</a></li>
    <li><a href="/rs-phase-shifter">RS Phase Shifer</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/login">Account (Avangate)</a></li>
  </ul>
  <hr>
<header>
