<div class="dzsparallaxer auto-init" data-options='{direction: "reverse"}' style="height: 450px;">
  <div class="divimage dzsparallaxer--target "
      style="width: 101%; height: 600px; background-image: url(/assets/images/<%= current_page.data.image %>)"></div>
  <div class=" parallax-text center-it page-title text-center">
    <h1 class="text-uppercase"><%= current_page.data.title %></h1>
  </div>
</div>
