---
title: "MAAT News - New DRMeter Release"
image: "img1.jpg"
layout: "blog"
---

<div class="container">
  <div class="space-90"></div>
  <div class="row">
    <div class="col-md-8">
      <div class="post">
        <div class="blog-desc">
          <div class="post-meta margin-b-10">
            <span>2017/08/21</span>
          </div>
          <h2>New DRMeter Release</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
            aliquam erat volutpat.
          </p>
          <p class="lead">
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            "
          </p>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
            'Content here, content here', making it look like readable English. Many desktop publishing packages and web
            page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many
            web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes
            on purpose (injected humour and the like).
          </p>
          <div class="about-author clearfix">
            <img src="/assets/images/team/tischmeyer.jpg" alt="" width="60" class="float-left">
            <div class="overflow-hidden">
              <h5>Friedemann Tischmeyer</h5>
              <p>
                A world renowned mastering engineer and founder of Mastering Academy, Tischmeyer offers master classes for professional audio engineers and producers worldwide, including Hamburg, Geneva, New York, L.A., Toulouse, Peking, Stockholm, and more.
              </p>
            </div>
          </div>
          <!--about author-->
        </div>
      </div>

      <div class="space-50"></div>
    </div>
    <div class="col-md-3">
      <div class="sidebar-widget margin-b-40">
        <h4>Latest Posts</h4>
        <ul class="list-unstyled recent-post">
          <li class="clearfix">
            <a href="/news/2017/new-drmeter-release">
              <img src="/assets/images/img1.jpg" alt="" width="70">
            </a>
            <div class="post-content">
              <h5><a href="/news/2017/new-drmeter-release">New DRMeter Release</a></h5>
              <span>2017/08/21</span>
            </div>
          </li>
          <li class="clearfix">
            <a href="/news/2017/summer-sale">
              <img src="/assets/images/img5.jpg" alt="" width="70">
            </a>
            <div class="post-content">
              <h5><a href="/news/2017/summer-sale">Summer Sale</a></h5>
              <span>2017/08/01</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
