<section class="showcase-section" id="features">
  <div class="space-60"></div>
  <div class="container">

    <div class="center-title">
      <h2>LINearise :: Cross–platform Plug–in</h2>
      <p>
        MAAT’s LINearise is our rethinking of redithering.
      </p>
      <h4><strong>Price: $19</strong></h4>
    </div>

    <div class="container">
      <div class="row vertical-align-child">
        
    <div class='space-90'></div>
    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/LINearise/LIN_EffectiveDataPrecision.png", alt: "You define your sound", class: "img-fluid center-img" %>
        </div>
        <div class="col-md-8 margin-b-30">
          <h3>Your Sound, Your Way</h3>
          <p>MAAT’s LINearise is the final link between production and delivery. Offering optional word length reduction and three dither spectra tailored to both analog and digital delivery of assets, LINearise is highly adjustable to help create your own signature “sound.” In addition to TPD and weighted TPD, LINearise features VPD™, Variable Probability Density, an exclusive feature that allows you to dial in the dither spectrum anywhere between rectangular and Gaussian distribution
          </p>
        </div>
      </div>
      <div class="space-60"></div>
      </div>
    
      <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>Need More?</h3>
          <p>LINearise has it. As you’d expect, automatic muting and variable bit depth but also a choice of rounding, truncation or no change to those least significant bits. Noise shaping and dither gain are also adjustable so, between all the choices, you can define the perfect low amplitude character for your client’s work.
          </p>
          <p>Dither is a fundamental aspect of today’s DAWs. Although not usually thought of as such, re-dithering is important DSP (Digital Signal Processing). In the distant past, much of the pioneering research on dither was performed at Bell Labs. According to information theory, you should add a pinch of noise to your digital audio every time you change it to keep it distortion–free and to embed program content in the noise floor. That’s dither. Use it to make your digital audio less…“digital!”
          </p>
        </div>
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/LINearise/DitherSpectrum.jpg", alt: "Choose from several spectrum choices", class: "img-fluid center-img" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="showcase-section">
  <div class='space-60'></div>
  <div class="container">
    <div class="row align-items-center">
      
      <div class="col-md-4 margin-b-30">
          <%= image_tag "products/LINearise/ControlsCloseUp.jpg", alt: "Control at your fingertips", class: "img-fluid center-img" %>
      </div>
      
      <div class="col-md-8 margin-b-30">
        <h3>A Low Cost Entry Into A More Linear World</h3>
        <p>
          LINearise: highly adjustable, versatile, easy to use. Grab a copy and start making better sounding music.
        </p>
      </div>

      </div>
    </div>
  </div>
</section>
