<section class="steps">
  <div class="space-90"></div>
  <div class="container">
    <div class="center-title">
      <h2>Product Features</h2>
      <p>Redithering…On Your Terms</p>
    </div>
    <div class="row">
      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <!--h1>01</h1-->
          <h4>Redithering</h4>
          <p>
            <ul class="list">
              <li><i class="ion-ios-arrow-thin-right"></i>Triangular</li>
              <li><i class="ion-ios-arrow-thin-right"></i>High Passed Triangular</li>
              <li><i class="ion-ios-arrow-thin-right"></i>VPD — Variable Probability Density</li>
              <li><i class="ion-ios-arrow-thin-right"></i>Variable Gain — From 0 to 6 dB</li>
            </ul>
          </p>
        </div>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <h4>Word Length Reduction</h4>
          <p>
            <ul class="list">
              <li><i class="ion-ios-arrow-thin-right"></i>20, 16, 8 Significant Digits</li>
              <li><i class="ion-ios-arrow-thin-right"></i>Round, Truncate, No Change</li>
            </ul>
          </p>
        </div>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <h4>Weighting</h4>
          <p>
            <ul class="list">
              <li><i class="ion-ios-arrow-thin-right"></i>Noise Shaping Amount</li>
              <li><i class="ion-ios-arrow-thin-right"></i>VPD — From Gaussian to Rectangular</li>
            </ul>
          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="space-60"></div>
</section>
<!--end steps-->
