<div class="container">
  <div class="row">

    <!-- Start accordion -->
    <div class="col-md-12">
      <div id="accordion" class="card-accrodions" role="tablist" aria-multiselectable="true">
        
        <!-- Start “cards” -->
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">Think Again</a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>You may think you “know” how FiDef works, but you’re probably wrong. It’s simple if baffling in concept, complex in execution, and surprising in its results.</p>
              <strong>What FiDef Is Not…</strong>
              <ul>
                <li>analog emulation, simulation or modeling</li>
                <li>chorusing</li>
                <li>data or frequency repacking</li>
                <li>distortion generation or harmonic manipulation</li>
                <li>dithering</li>
                <li>dynamics processing</li>
                <li>echo</li>
                <li>encoding/decoding</li>
                <li>equalization</li>
                <li>flanging</li>
                <li>frequency or amplitude modulation</li>
                <li>masking</li>
                <li>vocoded noise</li>
                <li>noise cancellation or control</li>
                <li>resampling</li>
                <li>resynthesis</li>
                <li>time domain modification</li>
                <li>wave field synthesis</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  aria-expanded="false" aria-controls="headingTwo">Applications</a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
            Your audience will feel their music like never before, but that’s not all…
              <ul>
                <li>Mixing: improve definition of individual mix elements</li>
                <li>Mastering: bring out the best of each project</li>
                <li>Broadcast: production & post</li>
                <li>Games: enhance envelopment</li>
                <li>Forensics: improve intelligibility</li>
                <li>Sound design: “spotlight” individual elements</li>
                <li>Restoration: broaden spatiality</li>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">Profiles</a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
            FiDef JENtwo provide five profiles, each for a different effect. To make it easier to mentally map each Profile to something less abstract and more intuitive, you can rename them to taste…
              <ul>
                <li>TRUCKN: subtle sweetening (the default)</li>
                <li>TRUCKN HUSH: a lower perceived amplitude version of TRUCKN for widely dynamic content</li>
                <li>SUTRO: draws your attention to frequencies above 8 kHz, resulting in a widened soundstage with  accentuation of transient detail</li>
                <li>RESNO: points the listener toward the upper mids, resulting in added texture to vocals and other instruments</li>
                <li>EVOSE: with warm forwardness, this Profile builds on RESNO and turns it up to 11</li>
            </div>
          </div>
        </div>
        <!-- End “cards” -->

      </div>
    </div>
    <!-- End accordion -->

  </div>
</div>
