<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div id="accordion" class="card-accrodions" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">Think Again</a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              You may think you “know” how FiDef works, but you’re probably wrong. It’s simple if baffling in concept, complex in execution, and surprising in its results.<br>
              <strong>What FiDef Is Not…</strong>
              <ul>
                <li>analog emulation, simulation or modeling</li>
                <li>chorusing</li>
                <li>data or frequency repacking</li>
                <li>distortion generation or manipulation</li>
                <li>dithering</li>
                <li>dynamics processing</li>
                <li>echo</li>
                <li>encoding/decoding</li>
                <li>equalization</li>
                <li>flanging</li>
                <li>frequency or amplitude modulation</li>
                <li>masking</li>
                <li>noise cancellation or control</li>
                <li>resampling</li>
                <li>resynthesis</li>
                <li>time domain modification</li>
                <li>vocoding</li>
                <li>wave field synthesis</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">Applications</a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
            Your audience will feel their music like never before, but that’s not all…
              <ul>
                <li>Mixing: improve definition of individual mix elements</li>
                <li>Mastering: bring out the best of each project</li>
                <li>Broadcast: production & post</li>
                <li>Games: enhance envelopment</li>
                <li>Forensics: improve intelligibility</li>
                <li>Sound design: “spotlight” individual elements</li>
                <li>Restoration: broaden spatiality</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
