<section class="showcase-section" id="details">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>FiDef JENtwo :: Cross–platform Plug–in</h2>
      <p>Plug your audience into a more compelling experience.</p>
    </div>
    <div class="row align-items-center">
      <div class="col-md-4">
        <h3>Introduction</h3>
        <p>
          Available for all major plug-in formats, including VST 2, VST 3 and AAX for macOS and Windows plus Audio Units for macOS, FiDef™ is a audio processor like no other. Brain science takes the lead in this psychoacoutic signal generator that compels the listening to lean in and engage.
        </p>
      </div>
      <div class="col-md-6 ml-auto mr-auto">
        <%= image_tag 'shot1-gon.png', alt: "", class: "img-fluid center-img" %>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-12">
        <h3>The Quest</h3>
        <p>Since Edison’s first wax cylinders, the history of audio capture and playback can be summarized as the increasingly technical pursuit of a seemingly impossible goal: lifelike replication of the actual listening experience.<br>
        The advent of digital technology, while solving many of the problems inherent in analog recording and playback, brought with it other challenges. At the same time, new enabling formats, such as DXD and MQA, along with consumer trends toward uncompressed HRA releases of music catalogs have brought new levels of fidelity to the home. Yet, even the highest fidelity digital playback still exhibits a level of reserve that keeps the music at arm’s length, not always allowing it to embrace and move us. Low fidelity or hi–fi, analog or digital, FiDef makes for a deeper, more satisfying connection.</p>
        <h3>The Solution</h3>
        <p>After years of development by a team of engineers with decades of industry experience, early in 2016 FideliQuest introduced FiDef™ audio processing, the first and only technology that restores what all recording and playback systems take away, whether analog or digital.<br>
        Starting with the question “Why do some recordings sound better than others?”, investigators analyzed arrays of audio recordings to identify elements of sound that psychoacoustically engage the listener. Isolating the mechanism allowed them to develop a unique solution that synthesizes essential “tags” from the material itself, and inserts that dynamic information into the content.<br>
        Supported by sophisticated research into how the human brain processes sound, FiDef informs the listener’s auditory system of music’s full potential. Grounded firmly in experimentation and analysis, FiDef technology can increase definition and detail, soundstage width and depth and, most important, the emotional engagement of the listener. In short, with FiDef processing, your audience hears more. It sounds better, even on older or low–fi playback gear.
        </p>
      </div>
    </div>
  </div>
</section>
