<section class="showcase-section" id="details">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>FiDef JENtwo :: Cross–platform Plug–in</h2>
      <p>Plug your audience into a more compelling experience.</p>
    </div>
    
    <div class="row align-items-center">
      <div class="col-md-5">
        <h3>Introducing…</h3>
        <p><a href="https://www.fidef.com" target="_blank">FiDef<sup>®</sup></a> by FideliQuest is a very low amplitude,psychoacoustic stimulus designed specifically for audio engineers. It makes a <em>receptive</em> brain relax and pay closer attention to an incoming audio stimulus. In brain physiology laboratory tests using functional neuroimaging techniques, FiDef has proven to excite brain activity related to perception and attention, and to enhance the subjective processes of listening and engagement.
        </p>
        <p>Available for all major plug-in formats, including VST 2, VST 3 and AAX for macOS and Windows plus Audio Units for macOS, FiDef is a patented, 64 bit audio processor like no other. Brain science takes the lead in this psychoacoutic signal generator that compels the listening to lean in and…engage!
        </p>
      </div>
      <div class="col-md-5 ml-auto mr-auto">
        <%= image_tag 'products/FiDef/FiDef_Head.jpg', alt: "", class: "img-fluid center-img" %>
      </div>
    </div>
    
    <div class="row align-items-center">
      <div class="col-md-12">
        <h3>The Quest</h3>
        <p>Since Edison’s first wax cylinders, the history of audio capture and playback can be summarized as the increasingly technical pursuit of a seemingly impossible goal: lifelike replication of the actual listening experience…The advent of digital technology, while solving many of the problems inherent in analog recording and playback, brought with it other challenges. At the same time, new enabling formats, such as DXD and MQA, along with consumer trends toward uncompressed HRA releases of music catalogs have brought new levels of fidelity to the home. Yet, even the highest fidelity digital playback still exhibits a level of reserve that keeps the music at arm’s length, not always allowing it to embrace and move us. Low fidelity or hi–fi, analog or digital, FiDef makes for a deeper, more satisfying connection.</p>
      </div>
    </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h3>The Solution</h3>
        <p>While listening to a vaiety of recordings, an audio professional thought to himself, “Why do some recordings sound better than others?” He recruited an audio physicist and a musical neuroscientist while analyzing arrays of audio recordings to identify elements of sound that psychoacoustically engage the listener. Isolating the mechanism allowed them to develop a unique solution that synthesizes essential content from the material itself, and inserts that dynamic information at low amplitude into the content.<br>
        After years of development by a team of engineers with decades of industry experience, early in 2016 FideliQuest introduced FiDef™ audio processing, the first and only technology that restores what all recording and playback systems take away, whether analog or digital.
        </p>
      </div>
      <div class="col-md-5 ml-auto mr-auto">
        <%= image_tag 'products/FiDef/research.jpg', alt: "", class: "img-fluid center-img" %>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-12">
        <p>Think of a common, non–harmonic, sub–audible signal all good engineers use to linearize digital audio; dither. The FiDef system also generates an anharmonic, sub–audible signal. The difference is that FiDef does not modify the music itself but instead is added to the music. Also unlike dither, it is correlated to the source audio content. This signal, based on our research into the human auditory system, is customized to directly stimulate the brain, bypassing cognitive processing. The manifold results include less brain activity required to process incoming stimuli, with a resulting increase in perceived nuance and tactility from music, speech and effects. FiDef informs your brain of the subtle potentials within a recording. Hear more of how the song was played, not recorded.
        </p>
        <h3>The Science</h3>
        <p>Supported by sophisticated research into how the human brain processes sound, FiDef informs the listener’s auditory system of music’s full potential. Independent science has shown that the brain response between FiDef and untreated audio is significant to 99.9%. The subtle effects of sub–audible supplementation are modeled in the brain over time. With familiarization, ears unaccustomed to FiDef might not hear the difference immediately. Studies indicate that the brain uses inverse effectiveness to process FiDef’d music with less effort, in effect hearing more by struggling less. Essentially, hear more than you think.</p>
        <p>Grounded firmly in experimentation and analysis, FiDef technology can increase definition, detail, intelligibility, soundstage width and depth and, most important, the emotional engagement of the listener. In short, with FiDef processing, your audio sounds better, without any change to workflows or delivery methods, even on data–compressed files and older or low–fi playback gear.</p>
      </div>
    </div>

        <section>
          <div class="col-md-8 margin-b-30">
            <h3>Better By Design</h3>
            <p class="margin-b-20">
            FiDef is a wholly new tool for your audio toolbox. FiDef’d audio doesn’t measure louder and the power spectrum is not changed. In fact, there’s only the addition of what seems to be a veil of added noise. That noise is what’s special, it’s FiDef signal that massages your subsconscious.
            </p>
            <%= partial "./accordeon" %>
          </div>
          <div class="space-30"></div>
        </section>

      <div class="col-md-12">
        <h3>A Caveat</h3>
        <p>FiDef triggers brain activity necessary for the human brain to respond to recorded sound in the same manner as the brain would respond to a live performance. This is provided by introducing additional, sub–audible signals into the recording that trigger specific brain activity in the listener. The supplementing content may be sub-audible because it is essentially below the level of audibility when played at a normal volume level, or is masked by the main content when the recording is played at an elevated volume level.</p>
        <p>Because FiDef is a psychoacoustic process, it may not have any impact if the listener resists its charms. We’re talking full–on Jedi mind tricks, folks. If you are like many of us audio engineers, you are very much a “left–brain” person and discount what you cannot understand or explain. You are used to dissecting what you hear, you simply can’t help it. Unfortunately, your higher level brain function will suppress your unconscious brain, and FiDef acts subconsciously. Result? If you try too hard to hear it, you probably won’t!</p>
        <p>Though this is in direct opposition to the “impostor syndrome” you’ve worked so hard to overcome, there will be no noticeable effect if you “listen hard.” That is; analytically. Most folks don’t listen analytically, they listen casually and, in the case of music or dialog, for entertainment, education and enjoyment. However, your clients, your spouse and most likely your second engineer will notice “something different” about FiDef’d content. That something is usually a subtle and positive improvement in engagement and enjoyment. Most folks don’t listen analytically, they listen casually and, in the case of music or dialog, for entertainment and enjoyment.
        </p>
      </div>

  </div>
</section>
