<section class="testimonials grey-bg">
  <div class="space-60"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Reviews & Testimonials</h3>
          <h5>Elliot Scheiner — Multi–Grammy award winning producer & engineer (Beyoncé, Phish, Foo Fighters, Faith Hill, Ricky Martin, Van Morrison, Queen, Fleetwood Mac, Eric Clapton)</h5>
          <p><em>“(FiDef) brings better quality to music…It just sounds better”</em></p>
          <h5>Gary Katz - A&R & multi–Grammy award winning producer (Steely Dan, Prince, Diana Ross, 10cc, Joe Cocker, Laura Nyro, Rickie Lee Jones, The Mamas & the Papas, Steppenwolf, Chaka Khan)</h5>
          <p><em>“…I’ve never heard anything like FiDef. Makes my records sound better, and it’ll make your records sound better.”</em></p>
          <h5>Hugh Padgham — Multi–Grammy award winning producer & engineer (Paul McCartney, Sting, Phil Collins, Peter Gabriel, Brian Wilson, Suzanne Vega)</h5>
          </em></p>“It just sounds better…like 3 dimensional.”</em></p>
          <h5>Frank Filipetti - Multi–Grammy award winning engineer & producer</h5>
          <p><em>“I heard the FiDef difference in 5 seconds.”</em></p>
          <h5>Tony Cousins — Mastering engineer (Adele, George Michael, Seal, The Stone Roses, Peter Gabriel, Amadou & Mariam, Robbie Williams, Elton John)</h5>
          </em></p>“Makes me want to go back and remaster everything I have ever done.”</em></p>
          <h5>Rich Costey - Producer & Beats audio consultant (Sigur Rós, Foster the People, Santigold, Young the Giant, Chvrches, Kimbra, Death Cab for Cutie)</h5>
          <p><em>“It the first time I’ve felt goose bumps from music in years.”</em></p>
          <h5>Jeff Greenberg - Owner & CEO of the legendary Village Studios</h5>
          <p><em>“Over the years I've seen a lot of schemes claiming to make music sound better. In almost every case when analyzed these are elevations of EQ or gain subtly hidden in a matrix. FiDef is an algorithm that has been developed to work with the listener's perception and therefore has created something that is truly an organic enhanced musical experience.”</em></p>
          <h5>Paul Blakemore - Grammy winning (and 7x nominee) chief mastering engineer at the Concord Music Group (Concord Records, Concord Jazz, CRAFT Recordings, Fantasy, Fearless, Loma Vista, Rounder, Stax, Telarc, etc.)</h5>
          <p><em>FiDef is a mysterious but wonderful product. It works on virtually every style of music and every style of mastering, from the gentlest touch to the most aggressive dynamic range processing. From my experience it does three things:<br>
          <ol>
            <li>Deepens the listener’s emotional response to the music.
            <li>Simultaneously expands and clarifies the stereo localization and space.
            <li>Helps the listener follow the musical conversation between soloist and accompaniment, whether the solo is a lead vocal, single instrument, or group of instruments.</li>
          </ol>
          Sometimes the added modulation noise is a bit distracting, especially around a very pure waveform on solo instruments like flute, piano, or solo guitar. FiDef JENtwo includes a low level processing on one of its presets and this solves this problem while still providing the effect of FiDef.<br>
It's amazing, really - kind of an all-purpose ‘digital improvement filter.’ I never would have believed such a thing could work until I both heard it and felt the effects.”</em></p>
          <h5>Thomas Jøren Nielsen - composer & sound designer</h5>
          <p><em>“FiDef is part of my signature sound.”</em></p>
          <h5>Bailey Cogan - musician & 26 BATS! band leader</h5>
          <p><em>“When it comes to my music, FiDef lets me use my brain less and my heart more.”</em></p>

          </br>
          <h4>Reviewers! Want to add your voiceover to the mix?</h4>
          <p>Head to our <%= link_to 'Contact', '/contact' %> page and give a shout…We’d love to hear what you think about FiDef JENtwo!</p>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
    </div>
    <div class="space-30"></div>
  </div>
</section>
