<section class="testimonials grey-bg">
  <div class="space-60"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Reviews & Testimonials</h3>
          <h5>Elliot Scheiner — Multi–Grammy award winning producer & engineer (Beyoncé, Phish, Foo Fighters, Faith Hill, Ricky Martin, Van Morrison, Queen, Fleetwood Mac, Eric Clapton)</h5>
          <p><em>“(FiDef) brings better quality to music…It just sounds better”</em></p>
          <h5>Gary Katz - A&R & multi–Grammy award winning producer (Steely Dan, Prince, Diana Ross, 10cc, Joe Cocker, Laura Nyro, Rickie Lee Jones, The Mamas & the Papas, Steppenwolf, Chaka Khan)</h5>
          <p><em>“…I’ve never heard anything like FiDef. Makes my records sound better, and it’ll make your records sound better.”</em></p>
          <h5>Hugh Padgham — Multi–Grammy award winning producer & engineer (Paul McCartney, Sting, Phil Collins, Peter Gabriel, Brian Wilson, Suzanne Vega)</h5>
          <p><em>“It just sounds better…like 3 dimensional.”</em></p>
          <h5>Frank Filipetti - Multi–Grammy award winning engineer & producer</h5>
          <p><em>“I heard the FiDef difference in 5 seconds.”</em></p>
          <h5>Tony Cousins — Mastering engineer (Adele, George Michael, Seal, The Stone Roses, Peter Gabriel, Amadou & Mariam, Robbie Williams, Elton John)</h5>
          <p><em>“Makes me want to go back and remaster everything I have ever done.”</em></p>
          
          <h5>Jeff Greenberg - Owner & CEO of the legendary Village Studios</h5>
          <p><em>“Over the years I've seen a lot of schemes claiming to make music sound better. In almost every case when analyzed these are elevations of EQ or gain subtly hidden in a matrix. FiDef is an algorithm that has been developed to work with the listener's perception and therefore has created something that is truly an organic enhanced musical experience.”</em></p>
          <h5>Paul Blakemore - Grammy winning (and 7x nominee) chief mastering engineer at the Concord Music Group (Concord Records, Concord Jazz, CRAFT Recordings, Fantasy, Fearless, Loma Vista, Rounder, Stax, Telarc, etc.)</h5>
          <p><em>FiDef is a mysterious but wonderful product. It works on virtually every style of music and every style of mastering, from the gentlest touch to the most aggressive dynamic range processing. From my experience it does three things:<br>
          <ol>
            <li>Deepens the listener’s emotional response to the music.
            <li>Simultaneously expands and clarifies the stereo localization and space.
            <li>Helps the listener follow the musical conversation between soloist and accompaniment, whether the solo is a lead vocal, single instrument, or group of instruments.</li>
          </ol>
          Sometimes the added modulation noise is a bit distracting, especially around a very pure waveform on solo instruments like flute, piano, or solo guitar. FiDef JENtwo includes a low level processing on one of its presets and this solves this problem while still providing the effect of FiDef.<br>
It's amazing, really - kind of an all-purpose ‘digital improvement filter.’ I never would have believed such a thing could work until I both heard it and felt the effects.”</em></p>
          
          <h5>Garrett Haines, studio owner & engineer, writing in <%= link_to 'Tape Op', 'https://tapeop.com/reviews/gear/150/fidef-jentwo-psychoacoustic-processor-plug-in/', target: '_blank' %>…</h5>
          <p><em>“I tend to dismiss subconscious secret signal processors as money grabs, but this title is different…Like any effect, FiDef JENtwo isn’t for every track, but in the right circumstance, it can add some excitement and dimension unlike anything on the market.”</em></p>

          <h5>Frans de Rond - label owner, producer & ultra–fi engineer</h5>
          <p><em>“I have tried different settings, trying to choose purely on first impression and intuition. In the beginning I didn’t hear that much difference. But I recognize this phenomenon; when you try to focus too much you often just don’t hear it anymore. But if I let it go, then I feel that I really hear the difference or maybe even feel the difference.”</em></p>

          <h5>Rich Costey - Producer & Beats audio consultant (Sigur Rós, Foster the People, Santigold, Young the Giant, Chvrches, Kimbra, Death Cab for Cutie)</h5>
          <p><em>“It’s the first time I’ve felt goose bumps from music in years.”</em></p>

          <h5>Patrik Schwitter — CEO/CTO/CFO/Senior Engineer/Tape Op/Tea Boy/Back Office Slave & Corporate Groupie</h5>
          <p><em>“I started a comprehensive album mix with an acoustic large band using FiDef JENtwo on the master bus. WOW!! (For that)…I used the TRUKN HUSH Profile. It was ‘day vs. night,’ somehow analogue sounding (I know, it’s a daft and overtaxed expression…) but that ‘injection of liveliness’ was not just a homeopathic dose! Just awesome, stunning and some kind of magic. I'm nothing but impressed!”</em></p>

          <h5>Jan Niklas Jansen - artist & musician</h5>
          <p><em>“We live in a golden age of digital audio. For one, it actually sounds good. But also: Our plugin folders are filled with toys that allow us to perform magic, and almost on a weekly basis new things get released that allow us to do this magic faster and more easily, more creatively or even better sounding.<br>
FiDef JENtwo is not one of these plugins. In fact, when in full-on mixing mode it's sometimes hard to tell that it's even on. The REAL magic that it does happens after mixdown. When sending podcast productions for review, I find that editors listen with more joy and appear to focus better. That makes the recall notes (and my life) noticeably better. After a long day working on music, I can get on my bike, put the rough mixes on my headphones and have an easy time of just enjoying the music as - music. And not a jumble of things that still need working on. Which, incidentally, makes it easier for me to actually pick out the things that do need working on.<br>
So, what do we have here? A plugin with a barely existent UI, five options to choose from and the heaviest lifting it does is while I am not even working on my DAW. Magic.”</em></p>

          <h5>Mark Wingfield - guitarist & indy engineer (Allan Holdsworth, Chet Baker, Tony Levin, Chad Wackerman)</h5>
          <p><em>“Something I notice using FDJ2 on a drum bus is that it seems to gel the drums together almost as if the space between the drum hits is smoother and more cohesive. Just more pleasant to listen to and therefore you listen in a more open way I find…it’s more of a feeling you get when it’s engaged than a specific change in sound you can point to. I do like the effect of stacking it up so you have it on the drum bus, on a horn section, percussion and vocals and then also on the master bus.”</em></p>
          <h6>Wingfield’s MAAT FiDef Analog Magic Sauce for Mixing and Mastering</h6>
       <p><iframe width="560" height="315" src="https://www.youtube.com/embed/bcrqkUOQdkU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
       <p>Watch it on <%= link_to 'YouTube', 'https://youtu.be/bcrqkUOQdkU', target: '_blank' %>.</p>
        
          <h5>Johannes Bittner - indy artist</h5>
          <p><em>“The different modes (Profiles) are all pleasing to my ears. FDJ2 makes the resulting master more cohesive - less sounding harsh in the mids/highs and more round and bouncy in the lower frequency spectrum. Overall I would call it less sounding “digital” - and that is what I was aiming for by buying your plugin.<br>
I like to experiment with such tools and I came to the conclusion that using FDJ2 twice with different modes (for example first one for the lower spectrum with EVOSE and second one with TRUKN for mids and highs) can be a nice combination - meanwhile keeping in mind that the noise floor is also adding up.<br>
Your tools did not replace anything in my workflow, but they are a nice addition I did not know I wanted. I am happy that I found these and hope you are already working on new stuff to optimize the digital working space, Thank You very much.”</em></p>

          <h5>Thomas Jøren Nielsen - composer & sound designer</h5>
          <p><em>“FiDef is part of my signature sound.”</em></p>

          <h5>Eddie Grey - engineer & Logic Pro maven</h5>
          <p>Here’s a <a href="https://youtu.be/pSBuRzexWXc" target="_blank">video</a> run–through with audio examples.</p>
          <h5>Rober Martínez–Garcia - Musica de Almas y Vendavales</h5>
          <p><em>“My God, FiDef is incredible! I saw a lot of tests on Youtube and people didn’t feel the difference. I think they focused wrong, but after downloading the demo and trying it myself I realized how amazing it is. I feel inside the music and listen in more detail. After turning it off I feel outside and I have a hard time getting inside. I’m a musician without money, but I'm going to buy it. I really don’t want to work anymore without having it in my mix chain. </br>
          “It blew my mind. (That’s what we’re here for! - OMas) Thank you very much and congratulations. I wish you much success and thanks for being sound geeks.”</em></p>
          
          <h5>EBDA1176 on Gearspace</h5>
          <p>They wrote a lucid and informative yet not pedantic <a href="https://gearspace.com/board/showpost.php?p=15925776&postcount=258" target="_blank">review</a> of FiDef JENtwo.</p>

          <h5>Also on Gearspace, cracker satchmo wrote:</h5>
          <p><em>They “…noticed with pleasure that often i can hear the various ‘strands of the musical carpet’ more distinctly individually without the whole becoming less together or ‘organically one’.<br>
          Also, i had some difficulties with offline installation and am happy to share that Maat's customer service has been nothing but stellar!”</em></p>

          </br>
          <h4>Reviewers! Want to add your voiceover to the mix?</h4>
          <p>Head to our <%= link_to 'Contact', '/contact' %> page and give a shout…We’d love to hear what you think about FiDef JENtwo!</p>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
    </div>
    <div class="space-30"></div>
  </div>
</section>
