<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>DROffline MkII File Analyzer</h2>
      <p>
        MAAT’s DROffline MkII is the batch measurement companion application to our official DRMeter MkII real time DR + R128 measurement
        plug-in.
      </p>
      <h4>
        <strong>Price: $49</strong>
      </h4>
    </div>

    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-7 margin-b-30">
          <h3>Measure R128 Loudness, DR<i>i</i> & More
          </h3>
          <p>
            MAAT’s DROffline MkII batch measurement app is the only software that automatically measures all mandated R 128 parameters, along with official DR<i>i</i> and a host of key metrics that your DAW may not display. All this in the background and out of your way. Offering essential options for musically justified, file–based metering, DROffline MkII offers 24 different measurements, including integrated DR<i>i</i> Dynamic Range and PSR, the emerging Sample Peak–to–Short Term Loudness Ratio. One file can be evaluated, or an entire directory can be measured in batch mode, all in the background while you continue to work.<br>
            DROffline MkII generates both plain text and tab–delimited text logs, with optional engineer and studio metadata, so you can hand your clients good looking reports that they can use for replication, distribution and as documentation for post, provenance, or chain of evidence.<br>
            Attention Pro Tool & Logic users! DROffline MkII offers easy access to all audio statistics and metadata, with
            an instant drag & drop interface. Speaking of drag & drop, DRO2 works in conjunction with DRMeter MkII to run measurements when you drop an audio file onto a DRM2 instance in your DAW.
          </p>
        </div>
        <div class="col-md-5 margin-b-30">
          <%= image_tag "products/DRO2/DRO2_FormattedLog_web.jpg", alt: "The Only (Practical) Way to Measure DR", class: "img-fluid center-img" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="showcase-section grey-bg">
  <div class="space-60"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-ios-help feature-sign"></i>
        </div>
      </div>
      <div class="col-md-8 margin-b-30">
        <h3>What is DR?</h3>
        <p class="margin-b-20">
          The DR algorithm, related to PLR (Peak–to–Loudness Ratio) or “crest factor,” specifically measures the dynamic density or lack of dynamics caused by overly aggressive dynamic compression and limiting. Although the companion DRMeter MkII provides a manual measurement of the "official" integrated DR or DR<i>i</i>, only DROffline and DROffline MkII can generate official values automatically and in the background.</br>
          The complete DR metering system, composed of the realtime DRMeter MkII plus the DROffline MkII batch processor, was created by Friedemann Tischmeyer to address the need to generate a repeatable, easy to understand numeric value. Seeing a meaningful and easy to understand indication of dynamic range inspires users to back away from hyper compression.
        </p>

        <h3>Is there a good reason to use DR?</h3>
        <p class="margin-b-20">
          Unlike Loudness–only R 128 and BS. 1770 meters, DR measures dynamic range from the perspective of a music engineer’s needs. In contrast, “R128” and 1770 are designed <em>to control loudness for commercials</em>, not measure dynamic range for music, especially pop music.</br>
          DR isn’t designed for broadcast loudness control, it’s purpose is to gauge the amount of dynamic range reduction, or the absence of dynamic range contrast. Designed by a member of the EBU <em>ploud</em> committee, the same body that created R128, DR informs an engineer about how much the mix has been “stepped on,” dynamic range-wise, not about “will it pass through a broadcast chain without loudness reduction?”
        </p>
      </div>
    </div>
  </div>
</section>

<section class="showcase-section">
  <div class="space-60"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-<ion-people feature-sign"></i>
        </div>
      </div>
      <div class="col-md-8 margin-b-30">
        <h3>Divide & Conquer</h3>
        <p class="margin-b-20">
          Bringing forward the legacy of the PMF’s legendary TT Dynamic Range metering system, DROffline MkII works with all current international Loudness metrics plus emerging measurement techniques that provide more meaningful numbers than R128 methods alone. Granted, R128 or A/85 i sessential for all modern pro workflows, but other Loudness meters only provide half the story.<br>
          The companion DRMeter MkII is a plug-in that manually generates DR<i>i</i> values when applied to the loudest passages in a track, and is the perfect real time complement to DROffline MkII for quickly estimating both Loudness and subjective loudness. To download a test drive of DRMeter MkII, head over to <%= link_to 'DRMeter MkII', '../drm2', class: 'btn btn-lg btn-primary btn-rounded' %>.
        </p>
      </div>
    </div>
  </div>
</section>
