<section class="steps">
  <div class="space-30"></div>
  <div class="container">
    <div class="center-title">
      <h2>Product Features</h2>
      <p>DRO2 measures DR, R128 and A/85. Plus, it has HRA (high resolution audio) support and a whole lot more! Did we mention it’ll romp though your directory far faster and more securely than cloud–based utilities?</p>
    </div>

    <div class="row">
      <div class="col-md-6 margin-b-30">
        <div class="step-box">
          <h4>Loudness Measurements</h4>
          <h5>Mandated R128 & A/85</h5>
          <ul class="list-circle">
            <li>Maximum True Peak (joint measurement as per ITU)</li>
            <li>Maximum Momentary (joint measurement as per ITU)</li>
            <li>Maximum Short–Term (joint measurement as per ITU)</li>
            <li>Integrated Loudness (joint measurement as per ITU)</li>
            <li>Loudness Range (joint measurement as per ITU)</li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 margin-b-30">
        <div class="step-box">
          <h4>File Metadata</h4>
          <h5>Additional Informative Metrics</h5>
          <ul class="list-circle">
            <li>File Name</li>
            <li>Absolute Path</li>
            <li>File Format</li>
            <li>Sample Rate</li>
            <li>Word Length</li>
            <li>Bits Used (filled)</li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 margin-b-30">
        <div class="step-box">
          <h4>Loudness Measurements</h4>
          <h5>Supplemental</h5>
          <ul class="list-circle">
            <li>DR<i>i</i> (joint measurement as per PMF)</li>
            <li>DR<i>i</i> LEFT</li>
            <li>DR<i>i</i> RIGHT</li>
            <li>Maximum True Peak LEFT</li>
            <li>Maximum True Peak RIGHT</li>
            <li>Maximum Momentary LEFT</li>
            <li>Maximum Momentary RIGHT</li>
            <li>Maximum Short–Term LEFT</li>
            <li>Maximum Short–Term RIGHT</li>
            <li>Maximum Sample Peak (SPPM) LEFT</li>
            <li>Maximum Sample Peak (SPPM) RIGHT</li>
            <li>Maximum Sample Peak (SPPM joint measurement)</li>
            <li>Minimum PSR (Sample Peak–to–Short–Term Loudness
            </br>joint measurement as per AES)</li>
            <li>RMS LEFT</li>
            <li>RMS RIGHT</li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 margin-b-30">
        <div class="step-box">
          <h4>Miscellaneous</h4>
          <h5>Comprehensive, Modern & Fast</h5>
          <ul class="list-circle">
            <li>Cross–platform</li>
            <li>Fast local background processing</li>
            <li>More accurate than many other “measurement” products</li>
            <li>More secure than cloud services</li>
            <li>44.1 to 384 kHz sample rate</li>
            <li>LPCM (WAV, BWF, AIFF) or Lossless (FLAC, ALAC)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>
<!--end steps-->
