<section class="learn-more grey-bg">
  <div class="space-60"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 margin-b-30">
        <h3>Learn More</h3>
        <p>Text comes here ...</p>
      </div>
    </div>
  </div>
  <div class="space-60"></div>
</section>
