<section class="testimonials grey-bg">
  <div class='space-60'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Reviews & Testimonials</h3>
        <p>MogwaiBoy on GearSlutz…</p>
        <p class="font-italic">““Got it - love it! Works a treat. Drag and drop is a breeze. Can output text file reports too.”</p>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
  </div>
</section>
