---
title: "Try thEQ"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
    <div class="center-title">
    <h2>Evaluate thEQ For Yourself</h2>
    </div>


  <div class="container">
    <div class="center-title">
      <h4>What You’ll Need</h4>
      <p>Our thEQ family used to require a 3-Series CmStick USB dongle and the current software framework from Wibu Systems. Though this is not longer the case, our modern CmSticks still offer portability and reliabilty for your valuable purchases. In addition, each dongle purchase includes a $30 voucher, which can be applied to your next purchase from our store. So, the included coupon more than covers the cost of the dongle itself. <a href="https://www.maat.digital/dongle/" target="_blank">Learn more</a>…</p>
       <!--h4>Own a Wibu Dongle?</h4-->
       <!--p>If you already own an existing CmStick, it may be pressed into service for your thEQ demo. To check, simply plug in your dongle, then open CodeMeter Control Center and look for the serial number of that dongle. If the serial number begins with a “3” then a dash, you have up–to–date hardware. If not, you would need to purchase a <a href="https://www.maat.digital/dongle/" target="_blank">current CmStick</a>.</p-->
      <p>Dongle questions? Send a note to: <%= mail_to 'support@maat.digital' %> and we’ll help you sort it all out.</p>
      <h4>Ready To Experience thEQ For Yourself?</h4>
        <!--p>Great! Simply <a href="mailto:marcom@maat.digital?Subject=thEQorange%20Demo%20Request" target="_top">send us</a> a note and we’ll get you set up for listening with your own gear.</p-->
        <p>Great! Simply head over to <a href="https://www.maat.digital/support/#installers>our installer page</a> and grab a 14 day demo. That way, you can listen in your own room with your own gear. We know you love it!</p>
      </div>
    </div>

    <!--div class="row"></div-->

    <div class="space-60"></div>
  </div>
</div>