---
title: "Try thEQ"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>Evaluate thEQ For Yourself</h2>
  </div>


<div class="container">
  <div class="center-title">
    <h4>What You’ll Need</h4>
    <p>MAAT’s thEQ line requires a 3-Series CmStick USB dongle and the current software framework from Wibu Systems. Our CmSticks offer portability and reliabilty for your valuable purchases. In addition, each dongle purchase includes a $50 voucher, which can be applied to your next purchase from our store. So, the included coupon more than covers the cost of the dongle itself. <a href="https://www.maat.digital/dongle/" target="_blank">Learn more</a>…
    </p>
    <h4>Own a Wibu Dongle?</h4>
    <p>If you already own an existing CmStick, it may be pressed into service for your thEQ demo. To check, simply plug in your dongle, then open CodeMeter Control Center and look for the serial number of that dongle. If the serial number begins with a “3” then a dash, you have up–to–date hardware. If not, you would need to purchase a <a href="https://www.maat.digital/dongle/" target="_blank">current CmStick</a>.
    </p>
    <p>Questions? Send a note to: <%= mail_to 'support@maat.digital' %> and we’ll help you sort it all out.
    </p>
  </div>
</div>

  <!--div class="row">
  </div-->


  <div class="space-60"></div>
</div>