<section class="showcase-section" id="details">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>GŌN :: Cross–platform Plug–in</h2>
      <p>A free, universal visualization plug-in for stereo bus masters.</p>
    </div>
    <div class="row align-items-center">
      <div class="col-md-4">
        <h3>Introduction </h3>
        <p>
          Available for all major plug-in formats, including VST 2, VST 3 and AAX for macOS and Windows plus Audio Units for macOS, GŌN (rhymes with “lone”) is a free software goniometer that authentically replicates an analog oscilloscope experience while keeping complexity at bay.
        </p>
      </div>
      <div class="col-md-6 ml-auto mr-auto">
        <%= image_tag 'shot1-gon.png', alt: "", class: "img-fluid center-img" %>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-12">
      <p>
      This “phase scope” plug–in quickly conveys global trends and troubles, with a visual out–of–phase warning built in. Plus, an optional autogain feature insures that you’ll see an understandable display with a very wide range of input amplitudes.
      </p>  
      <p>
      Usable metering is essential for any engineer, and GŌN’s options are equally practical, with a notable absence of controls. Unlike an oscilloscope, GŌN’s lack of any knobs or switches means its straightforward user interface contains only a single button, the preference’s gear icon at upper right. Control over gain, focus, “phosphor” color, drawing style and persistence are all there in the preferences, and everything can be saved as a personal preset.
      </p>
      <p>
      All of GŌN’s functionality is wrapped in an information-rich yet visually unobtrusive user interface that occupies only a small slice of screen real estate. Likewise, the plug-in is very &quot;light weight&quot; demanding an absolute minimum of CPU resources so it won´t slow down your host. As a bonus to everyone in the audio community, we’re giving you this free and rather useful plug-in. Thanks for visiting, and we hope to see more of you in the future!
      </p>
      </div>
    </div>
  </div>
</section>