<div id="freegon" class="cta-skin">
  <div class="container text-center">
    <h2>GŌN FREE Download</h2>
    <p>Grab your free copy of GŌN for:<br>
    <a href="https://www.maat.digital/dl/GON-macos.zip" target="_blank">macOS</a><br>
    <a href="https://www.maat.digital/dl/GON-windows.zip" target="_blank">Windows</a></p>
  </div>
</div>
