<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div id="accordion" class="card-accrodions" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">Features</a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              As Friedemann says, “It’s all about the curves.” Along with all the features of our thEQ family, thEQred incorporates a unique and proprietary filter technology allowing you to adjust any slope between 0 and 24 dB/octave. Almost any filter needed or desired can be dialed in quickly and easily, from broad shallow strokes to cascaded deep cuts.
              <h4>Details</h4>
              <ul>
                <li>Five Panorama modes; stereo, mono (L+R), left–only, right–only and difference (L-R) for focused treatment or enhancement</li>
                <li>Two Stereo modes; Left/Right or Mid/Side</li>
                <li>Four Contribution modes; positive addition only, negative addition only, EQ contribution only, and “normal” EQ out help you to keep track of your progress</li>
                <li>Extended frequency range covers the ultrasonic, suitable for any HRA post</li>
                <li>Equal delay at all frequencies independent of filter settings, perfectly preserving the time relationship of harmonics</li>
                <li>No phase distortion and no temporal dispersion, eliminating transient smear</li>
                <li>Freedom from unwanted coloration for exceptional clarity, transparency, and definition</li>
                <li>Exclusive VariSlope technology offers shelf and cut filters with any roll-off in the range of 6 to 24 dB/octave as well as continuous slope adjustment below 6 dB/octave, impossible with any classic filter</li>
                <li>Twelve Sections with eight freely assignable parametric filter types: classic bell, high or low shelf, high or low cut as well as VariSlope high or low shelf, and high or low cut</li>
                <li>Adjustable Q for shelving and cut filters</li>
                <li>Proprietary algorithms deliver extraordinarily low distortion and noise</li>
                <li>For ultimate fidelity, deep 80 bit super double precision internals virtually eliminate rounding errors and distortion</li>
                <li>Perfect emulation of analog filter characteristics, clearly perceptible when equalizing audio at baseband sample rates</li>
                <li>Extremely shallow VariSlope shelves for gentle brightening or added weight</li>
                <li>Cascade cut filters for “brick wall” characteristics</li>
                <li>Resizable UI for easy and precise adjustments or for ultra–high resolution displays</li>
                <li>MAAT’s smart AutoGain for effortless A/B comparisons</li>
                <li>Inbuilt tone generator makes for quick location of trouble spots</li>
                <li>SORT function eliminates the need for busy, distracting UI elements</li>
                <li>TUNE function aligns center frequencies to Western tunings</li>
                <li>Grid snap toggles between surgical and musical applications, emulating popular hardware resonant frequency choices, including Maselec and Manley</li>
              </ul>
               <h4>Extras</h4>
              <ul>
                <li>Exclusive dual view, monochrome/color real time spectrogram with user adjustable temporal wiper lets you choose “when” to transition to low distraction monochrome</li>
                <li>Choice of parametric editing via numerical fields or directly via the graphical display</li>
                <li>Operates at up to 384 kHz sample rates for HRA or game audio workflows</li>
                <li>Complete setup exchange across multiple instances</li>
                <li>Automatic latency compensation with all modern DAWs</li>
                <li>A/B comparison for fast decision making</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">Applications</a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              thEQred is a unique tool for mastering engineers who already have access to diverse high end EQs for different tasks. There are several frequency–domain, linear phase EQs on the market, but thEQred, with its wide, 80 bit double precision processing and optimized–for–fidelity algorithm, will bring a new sense of transparency to your work.
              <br>
              With all the features and functionality of Algorithmix’s beloved original LP PEQ Red, the feature–packed thEQred brings so much more. Use its powerful processing and double precision I/O for:
              <ul>
                <li>Mastering and remastering tasks on complex, high fidelity mixes</li>
                <li>Removing unwanted ultrasonic content from HRA recordings</li>
                <li>Identifying resonances with ease when sweeping, due to the low inherent ringing</li>
                <li>Putting mixes with too much DC or a super fat kick on a diet</li>
                <li>Uncolored aesthetic equalization of acoustic performances, perfect for classical, jazz and folk</li>
                <li>VariSlope rebalancing of unbalanced mixes</li>
                <li>Adding super-clear and inconspicuous “air” to dark material</li>
              </ul>
              All true linear phase EQs have similar specs. Dirac spikes and other artificial test signals will produce about the same results regardless of whose product you try. A solo chime or kick drum track is not what thEQred was designed for. As for all our thEQ products, it excels at <em>equalizing actual music</em>!<br>
              What not to use thEQred for is tracking or mixing! thEQred is a low channel count plug–in, designed for the master buss and mastering. Due to the insane complexity of the algorithm, thEQred has a hefty CPU demand. It’s <em>not</em> a “light weight”!
            

            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">Essentials</a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
            thEQred fits in with all modern workflows:
              <ul>
                <li>Supports LPCM sample rates up to 384k for DSD and high–end postproduction</li>
                <li>All standard formats: AU, VST 2 and 3, AAX</li>
                <li>Compatible with macOS and Windows</li>
                <li>Low fatigue visual design</li>
                <li>Resizable user interface for every screen resolution</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
