<div class="cta-skin">
   <div class="container text-center">
     <h2>Order thEQred Now</h2>
       <p><strong>
       • thEQred Perpetual License: $489<br>
       • thEQlp Linear Phase Subscription: $119, Annual Renewal</strong><br>
       [thEQred + thEQorange, $9.92 per month billed annually]<br>
       <strong>• All EQ Big Bundle: $1099, $557 Total Savings</strong><br>
       [25% Off thEQblue12, thEQred, thEQorange + free SantaCruzEQ12]<br>
       </p>
    <div class="btn-group">
       <button id="btnGroupDrop1" type="button" class="btn btn-xl btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Purchase Now <i class="ion-play"></i></button>
         <div class="dropdown-menu dropdown-hack" aria-labelledby="btnGroupDrop1">
           <a data-fsc-item-path-value='<%= current_page.data.fastspring.buy %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">• Perpetual License</a>
           <a data-fsc-item-path-value='<%= current_page.data.fastspring.subscribe %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">• thEQlp Annual Subscription</a>
           <a data-fsc-item-path-value='<%= current_page.data.fastspring.allEQ %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">• All EQ Big Bundle</a>
         </div>
      </div>

      <div class="btn-group">
        <a href="https://www.maat.digital/support/#installers" class="btn btn-xl btn-white-omas-special-style-border">Try It Now!</a>
      </div>
      
    </div>
  </div>
</div>
