<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>thEQred</h2>
      <p>
        <b>Frequency–domain linear phase as only MAAT can make it.</b>
      </p>
      <h4>• Perpetual License: <strike>MSRP: $489</strike>, Limited Time Offer: $389</h4>
    </div>

    <div class='space-30'></div>
    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/thEQo/thEQo-PanoDetail.web.jpg", alt: "thEQorange", class: "img-fluid center-img" %>
        </div>
        <div class="col-md-8 margin-b-30">
          <h3>Red Is The New Black</h3>
          <p>Think of thEQred as LP PEQ Red 2.0…we’ve taken the fundamentals of Algorithmix’s exemplary LinearPhase PEQ Red, and given it a MAAT makeover. There’s nothing retro about this reissue, with twelve bands or Sections of precision, linear phase parametric equalization featuring unique shelving filters for mastery of complex mixes without changing their overall sonic character.
          </p>
          <p>A little backstory…An idea was born to reissue this masterpiece, along with the other legendary Algorithmix EQs, and make it available as 64 bit in all common formats and (finally!) for macOS. As a power user, our visionary Friedemann had some ideas in mind regarding the improvements. Specifically, he wanted to make the user interface, the UI, more flexible and faster to use because there is no other tool in the mastering chain that receives as much “seat time.” The result: Our thEQ UI and feature set. The UI affords super fast setup and includes a number of unique features which help to speed your work: The positive & negative Contribution function including absolute difference, the highly adjustable sonogram which makes detecting problem spots easy, and the possibility to play a note on the keyboard that you have in your head and then snap a Section to the respective frequency with one click. Also, having all twelve Sections visible simultaneously, not to mention the SORT button function.
          </p>
        </div>
      </div>
      <div class="space-60"></div>
    </div>

    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>Unobtrusive Power</h3>
          <p>
            thEQred’s powerful features hide behind its clean and simple UI. Eye candy is great for newbies, but
            thEQr isn’t your typical filter: thEQred packs all the advanced features you need into one
            resizable window that’s easy on the eyes. Not only does the UI “get out of the way” so you can be more
            productive, we’ve incorporated industry–first features that speed your workflow, neatly packaged to make
            thEQred easy and intuitive to use.
          </p>
          <h4>Subtle Functionality</h4>
          <p>
            We’ve brought pristine fidelity and innovative user interface design to what used to be an unremarkable
            product category. With four monitoring modes, an ergonomic and uncluttered interface, intelligent monitor auto–gain plus crazy good sound, you’ve got to try thEQred for yourself.
          </p>
        </div>
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/thEQo/thEQo-Power.png", alt: "thEQorange", class: "img-fluid center-img" %>
        </div>
      </div>
      <div class="space-30"></div>
    </div>
  </div>
</section>

<section class="showcase-section grey-bg">
  <div class="space-60"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <%= image_tag "products/thEQo/thEQo-Matrix&TopoDetail.web.png", alt: "thEQorange", class: "img-fluid center-img" %>
      </div>

      <div class="col-md-8 margin-b-30">
        <h3>Better By Design</h3>
        <p class="margin-b-20">
          Whether you’re looking for surgically precise repair, colorless correction, or simply baggage–free spectral contouring, our proprietary, precision algorithm delivers on the promise of linear phase correction. Bring the power and purity of thEQred to bear for all your discreet equalizing tasks.
        </p>
        <%= partial "./accordeon" %>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>

<section class="showcase-section">
  <div class='space-60'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 margin-b-30">
        <h3>Linear Phase Royalty</h3>
        <p>Most all parametric equalizers or PEQs are implemented via phase shift. That is, the incoming dry signal is mixed with a phase–shifted version. Because the amount of the phase shift is frequency dependent, some cancellation or reinforcement occurs at the desired frequency. It gets the job done, but with a major disadvantage: the different signal components of the resulting audio become spread out in time, so time relationships between harmonics in the filtered output is heavily altered. The result: a nice sharp attack becomes slurred and muddy or worse, strident and brittle.<br>
           thEQred changes all that, providing profoundly punchy lows and airy, silky smooth highs like no other. It preserves the time relationships of harmonics, which translates into a smoother top end, sweeter and bigger midrange, and a clearer, more distinct bottom when compared to phase–shift style EQs. The resultant sound seems less processed, more like what should have naturally been captured by the microphone. Mixes become clear and transparent, while instruments take on more definition and realism. Boost lows by 10 dB without mud or loss of transient snap. Remove sibilance from a vocal with a sharp notch without affecting the whole mix. You won’t get those punchy lows and silky highs with analog outboard or an IIR digital.
        </p>
        <p>Experts say that most digital EQs don’t sound like their analog antecedents, especially when working with baseband 44.1 or 48k sample rates. Spectrum modifications of high frequencies sound unbalanced. The reason is so–called “frequency warping,” which makes bell shapes asymmetric, while high shelves and cuts exhibit steeper slopes than expected. In thEQred, special corrections have been applied, making them look exactly like their analog counterparts while yielding a smooth analog sound. In addition to all the user–forward features that MAAT brings you, like Panorama and Contribution controls, thEQred features VariSlope™ technology, proprietary to thEQr. With VariSlope, shelving and cut filters offer continuous adjustment of any slope in the range from 0 to 24 dB/octave. Unlike other EQs that let you define or draw the curve, VariSlope offers unique versatility while preserving the sound quality MAAT EQs are known for.<br>
           thEQred works strictly in the frequency domain, while sounding a bit softer than her linear phase sister, thEQorange. Performing at up to 384 kHz which extends frequency settings up to 80 kHz, this makes it perfect for high resolution DSD, DXD and game audio post–production. Its calculations are stored at 80 bits of precision, more than double what commodity EQs manage. The result: the construction of your composite filter is impeccable, without loss of low amplitude detail.
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-12 margin-b-30">
        <h3>If One is Good & Two is Better…</h3>
        <p>People have asked us why we haven’t included alternative modes like minimal phase and all the other options you find in competing products. Our goal as plug-in designers is to create tools from the user perspective, offering just enough flexibility with a carefully chosen set of options so the user can focus on the job at hand. It would be easy to add dozens of additional options to the preferences window but why? That’s what thEQblue is for! As a mastering engineer, you need specialized tools which do a particular job in the fastest and best possible manner.<br>
           thEQred is a perfect example of just such a tool. Dr.s Musialik and Hatje have already worked through an extensive refinement process. When asked about this, Musialik stated that “…the optimization and refinement of our algorithms was a very long, tedious and iterative procedure between research, development and feedback from experienced mastering engineers. Unfortunately, in high res audio, not everything is measurable or provable by numbers. This is especially true for the measurement of dynamic behavior and reactions to real–world, complex signals.”<br>
           Musialik emphasizes that “There is no ‘best’ audio tool for everybody.” His advice: Perform your own listening tests, then select which instruments you want to include in your kit.
        </p>
      </div>
    </div>
    <div class="space-30"></div>
</section>
