<section class="testimonials">
  <div class="space-30"></div>

  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-8 margin-b-30">
        <h3>Learn More</h3>

        <h4>In this video, Friedemann discusses the differences between our three mastering equalizers</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/EROPf28PAeY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Watch it directly on <%= link_to 'YouTube', 'https://youtu.be/EROPf28PAeY', target: '_blank' %></p>

        <h4>thEQred 線性相位均衡器</h4>
        <h5>適合任何藝術任務</h5>
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/epV4jTwlJ9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
        <p>直接在 <%= link_to 'YouTube', 'https://youtu.be/epV4jTwlJ9A', target: '_blank' %> 上觀看。</p>
        
        <h4>thEQred Use Case</h4>
        <p>This <%= link_to 'article', 'https://hometheaterhifi.com/features/secrets-world-of-vinyl/technical-articles/using-the-maat-tiered-digital-linear-phase-eq-plug-in-with-audirvana-and-amarra-digital-streaming-music-players-how-digital-audio-eq-works-and-how-it-can-work-for-you/', target: '_blank' %> by John E. Johnson, Jr. discusses thEQred being used in home hi–fi setups.</h4>

        <h4>Download — thEQred User Manual</h4>
        <p>The user manual <%= link_to 'PDF', 'https://www.maat.digital/support/#manuals', target: '_blank' %> includes lots of useful info, check it out…</p>
        
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
      
    </div>
  </div>
</section>
