<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div id="accordion" class="card-accrodions" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">Features</a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              The original W2324 analog degree scale is highly non–linear, due to issues with analog circuitry. The original also has ten tick marks, from 10 to 125°. Freed from the limitations of an analog implementation, we  have moved to a true, linear scale and extended the range slightly, something only possible in the digital domain. DRMeter MkII’s eleven tick marks, in 15° steps, start at 15 and go to 180°; 15; 30; 45; 60; 75; 90; 105; 120; 135; 150; 180°
              <ul>
                <li>Realtime adjustment of phase angle, resonant frequency, gain</li>
                <li>MIRROR and FLIP modes speed stereo setting selection</li>
                <li> δ (DELTA) mode for modifying stereo spread in an MS workflow</li>
                <li>All standard formats: AU, VST & AAX Mac/Win</li>
                <li>Optimized internal 64 bit processing for highest fidelity</li>
                <li>Operates at all standard sample rates, from 44.1 to 384 kHz</li>
                <li>Compatible with standard OSs; macOS, Windows</li>
                <li>Low fatigue visual design</li>
                <li>Compact layout</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">Functions</a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              <ul>
                <li>Filter gain range of -5 to + 5 dB via 41 position stepped control</li>
                <li>Continuously adjustable phase angle between 15° and 180°</li>
                <li>3 position switch to extend phase angle from 180° to 360°</li>
                <li>Bypass position for quick and easy comparison with the uncorrected signal</li>
                <li>Stepped or continuous rotary control to select frequency range from 16 to 4 kHz</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">Controls</a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
              <h4>RANGE</h4>
              <p>
                This three position switch is used to select the range of the phase shifter.
                <table>
                  <tr>
                    <td>Top position:</td>
                    <td>　　+180° (180 - 360°)</td>
                  </tr>
                  <tr>
                    <td>Center position:</td>
                    <td>　　Bypass</td>
                  </tr>
                  <tr>
                    <td>Bottom position:</td>
                    <td>　　0 - 180°</td>
                  </tr>
                </table>
              </p>
              <p>
                The center Phase position, the “0” setting or Bypass mode, provides a means to compare the effect of the selected phase shift with the unprocessed, original phase of the source material.
              </p>

              <h4>FREQUENCY</h4>
              <p>
                The phase shift is dependent on the selected frequency setting. The Frequency control is either stepped for repeatability or continuous; your choice. Resonant frequency selection is managed by an 13 step ELMA–style control with the following frequencies:
                <table>
                  <tr><td>16 Hz</td><td>　　400 Hz</td></tr>
                  <tr><td>25 Hz</td><td>　　630 Hz</td></tr>
                  <tr><td>40 Hz</td><td>　　1000 Hz</td></tr>
                  <tr><td>63 Hz</td><td>　　1600 Hz</td></tr>
                  <tr><td>100 Hz</td><td>　　2500 Hz</td></tr>
                  <tr><td>160 Hz</td><td>　　4 kHz</td></tr>
                  <tr><td>250 Hz</td><td></td></tr>
                </table>
              </p>
              <p>
                Additional controls include a ±5 dB of gain refinement plus MIRROR, FLIP and δ (DELTA) modes for use during stereo operation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
