<section class="testimonials grey-bg">
  <div class='space-90'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Reviews & Testimonials</h3>
        <p>A review by Dirk Wannemacher on BONEDO.de gave DRMeter MkII four and a half stars out of five. We lost a half star for sticking to analog–style controls, just like the real thing! ;)</p>
        <p>From the review…</p>

        <p class="font-italic"><strong>“SOUND</strong><br>The MAAT plug–in is sonically neutral. I could not perceive color or change other than the intended settings. The important transients also pass…without damage. The plug–in sound is on a level with the hardware modules from Roger Schult’s workshop. Nothing is colored. The module does exactly what the name says.”</p>

        <p class="font-italic"><strong>“CONCLUSION (4.5 / 5)</strong><br>The MAAT DRMeter MkII can be used to correct phase errors. Through targeted use on individual tracks, the low end of a mix can be tidied up without pressure being lost, or the highs opened and broadened, (all) without sacrificing mono compatibility. Depending on the audio material and settings, the effect can be subtle to crass. The DRMeter MkII can, in many cases, provide necessary icing on the cake, to make a good mix an excellent mix.”</p>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <a href="https://www.bonedo.de/artikel/einzelansicht/maat-roger-schult-phaseshifter-w2324-plug-in-test/" target="_blank"><%= image_tag "review/wannemacher_bonedo.png", alt: "", class: "img-fluid center-img" %></a>
      </div>

      <div class="col-md-3">
        <h4>PROS</h4>
        <ul>
          <li>Versatile</li>
          <li>Outstanding sound</li>
          <li>Detailed operation</li>
          <li>No coloration of the audio</li>
          <li>Very good price/performance ratio</li>
        </ul>
      </div>

      <div class="col-md-3">
        <h4>CONS</h4>
        <ul>
          <li>No graphical tool to find the right angle</li>
        </ul>
      </div>
    </div>

    <div class="space-60"></div>
  </div>
</section>
