---
title: "MAAT 2-Bus Control"
layout: "data-spy"
---

<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" style="position: relative; height: 800px;"
  data-options='{  mode_scroll: "normal" }'>

  <div class="divimage dzsparallaxer--target " data-src="assets/images/bg1-2bc.jpg" style="width: 100%; height: 130%; background-image: url()">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="hero-static">
                  <h1>2BusControl</h1>
                  <p class="lead">
                    Get your free, comprehensive stereo master monitoring &amp; metering plug-in!
                  </p>
                  <div class="buttons">
                    <a href="#" class="btn btn-xl btn-primary ">Free Download <i class="ion-play"></i></a>
                    <a href="#" class="btn btn-xl btn-white-border">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--container-->
        </div>
        <!--hero content-->
      </div>
      <!--hero inner-->

    </div>
    <!--parallax hero-->
  </div>
  <!--parallax image div-->
</section>
<!--intro section end-->


<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">


    <div class="center-title">
      <h2>2BUSCONTROL</h2>
      <p>A universal L/R plus MONO/DIFF monitor control and Balance/Correlation metering plug-in for stereo bus masters.</p>
    </div>
    <div class="row align-items-center">
      <div class="col-md-5 margin-b-30">
        <h3>
          LOREM IMPSUM TITEL </h3>
        <p>
          Available for all major plug-in formats, including VST/VST3 and AAX for MacOS and Windows plus Audio Units for Mac OS, 2BusControl
          offers five essential options for specialized monitoring modes plus highly responsive and user- friendly metering
          for left/right balance and correlation. Solo is available post-metering with a single button push. Traditional
          left/right soloing (as phantom center) can be chosen, or the equally useful MONO/DIFF(erence) or M/S (Mid/Side)
          rendering of the soloed signal. In addition, the stereo perspective can be swapped or flipped with the left and
          right channels changing places. Each solo control is a single button, allowing you to check placement and amplitude
          easily for all aspects of your mix.</p>
        <p>
          Usable metering is another essential for any engineer, and options are equally practical, with stereo balance and inter-channel
          correlation occupying the upper half of the user interface. Unlike prior products that provide similar metering
          functions, 2BusControl´s measurement and display algorithms adhere to our guiding philosophy of enhancing your
          workflow and improving ergonomics through careful attention to the way you actually work. Ballistics are meticulously
          tuned to achieve the best match between the aural impression you hear, and the optical rendering by the meters.</p>
        <p>
          All of 2BusControl´s functionality is wrapped in an information-rich yet visually unobtrusive user interface that occupies
          only a small slice of screen real estate. Likewise, the plug-in is &quot;light weight&quot; demanding a minimum
          of CPU resources so it won´t slow down your host. As an introduction to everyone in the audio community, we’re
          giving you this free and rather useful plug–in. Thanks for visiting, and we hope to be working with you more in
          the future! </p>


        <div class="row">
          <div class="col-md-6">
            <ul class="list">
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right Balance</li>
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right Correlation</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list">
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right</li>
              <li><i class="ion-ios-arrow-thin-right"></i>MONO/DIFF (Mid/Side)</li>
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right Flip or channel swap</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 offset-md-1 margin-b-30">
        <img src="assets/images/shot1-2bc.png" alt="" class="img-fluid center-img">
      </div>
    </div>
    <div class="space-60"></div>
  </div>
</section>
<!--end showcase section-->
<section class="showcase-section bg-faded">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 offset-md-1 margin-b-30">
        <img src="assets/images/shot2-2bc.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-5 margin-b-30">
        <h3>
          TITEL MISSING </h3>
        <p class="margin-b-20">
          Available for all major plug-in formats, including VST/VST3 and AAX for MacOS and Windows plus Audio Units for Mac OS, 2BusControl
          offers five essential options for specialized monitoring modes plus highly responsive and user- friendly metering
          for left/right balance and correlation. </p>
        <a href="#" class="btn btn-lg btn-primary btn-rounded">Features & Tech. Specs.</a>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>
<!--end showcase section-->

<section class="features-section border-bottom" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-iphone"></i>
          <h4 class="text-capitalize">LOREM IPSUM</h4>
          <p>
            Available for all major plug-in formats, including VST/VST3 and AAX for MacOS and Windows plus Audio Units for Mac OS
          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3  margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-ios-person-outline"></i>
          <h4 class="text-capitalize">User Friendly</h4>
          <p>
            Lorem Impsum metering for left/right balance and correlation nsectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut.
          </p>
          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3  margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-ios-cog-outline"></i>
          <h4 class="text-capitalize">Light Weight</h4>
          <p>
            Lorem ipsum demanding a minimum of CPU resources nsectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
          </p>
          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3 margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-key"></i>
          <h4 class="text-capitalize">Easy & Customizable</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo elit, sed elit, sed d elit, sed elit, sed incididunt
            ut.
          </p>
        </div>
      </div>
      <!--/col-->
    </div>
  </div>
</section>
<!--end features section-->


<section class="testimonials skin-bg" id="feedback">
  <div class="space-90"></div>
  <div class="container">
    <div class="center-title">
      <h2>True words from our customers.</h2>
      <p>Over 500,000 Customers worldwide</p>
    </div>

    <div class="row">
      <div class="col-md-4 margin-b-30">
        <div class="feedback-box">
          <p>
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus magna a lacinia tempor. Fusce et turpis posuere, imperdiet
            orci et, tempus ex. Nunc vitae pellentesque ipsum. Quisque id magna a nisl vestibulum ullamcorper. "
          </p>
        </div>
        <div class="testi-info">
          <img src="assets/images/avtar-1.jpg" alt="" class="rounded-circle" width="60">
          <div class="content">
            <h4>Nikita Miller</h4>
            <em>Saas Customer</em>
          </div>
        </div>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="feedback-box">
          <p>
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus magna a lacinia tempor. Fusce et turpis posuere, imperdiet
            orci et, tempus ex. Nunc vitae pellentesque ipsum. Quisque id magna a nisl vestibulum ullamcorper. "
          </p>
        </div>
        <div class="testi-info">
          <img src="assets/images/avtar-2.jpg" alt="" class="rounded-circle" width="60">
          <div class="content">
            <h4>John Doe</h4>
            <em>Saas Customer</em>
          </div>
        </div>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="feedback-box">
          <p>
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus magna a lacinia tempor. Fusce et turpis posuere, imperdiet
            orci et, tempus ex. Nunc vitae pellentesque ipsum. Quisque id magna a nisl vestibulum ullamcorper. "
          </p>
        </div>
        <div class="testi-info">
          <img src="assets/images/avtar-3.jpg" alt="" class="rounded-circle" width="60">
          <div class="content">
            <h4>Emily Howkins</h4>
            <em>Saas Customer</em>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space-60"></div>
</section>
<!--end testimonials section-->



<section class="steps">
  <div class="space-90"></div>
  <div class="container">
    <div class="center-title">
      <h2>Product Features</h2>
      <p>This is so special about our Product...</p>
    </div>
    <div class="row">
      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <h1>01</h1>
          <h4>Metering</h4>
          <p>
            <ul class="list">
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right Balance</li>
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right Correlation</li>
            </ul>
          </p>
        </div>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <h1>02</h1>
          <h4>Soloing</h4>
          <p>
            <ul class="list">
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right</li>
              <li><i class="ion-ios-arrow-thin-right"></i>MONO/DIFF (Mid/Side)</li>
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right Flip or channel swap</li>
            </ul>
          </p>
        </div>
      </div>



      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <h1>03</h1>
          <h4>some other features</h4>
          <p>
            <ul class="list">
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right Balance</li>
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right Correlation</li>
            </ul>
          </p>
        </div>
      </div>




    </div>
  </div>
  <div class="space-60"></div>
</section>
<!--end steps-->
<section class="features-bg">
  <div class="container">
    <div class="center-title">
      <h2>Tech Specifications</h2>
      <p>subtitel missing</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-iphone"></i>
          </div>
          <div class="content">
            <h4>System Requirements</h4>
            <p>
              MAC:OSX 10.7 and newer, 32 &amp; 64 bit / WIN: Windows 7 and newer, 32 &amp; 64 bit </p>
          </div>
        </div>
        <!--/feature icon-->

        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-copy"></i>
          </div>
          <div class="content">
            <h4>Titel missing</h4>
            <p>
              Pro Tools 10.3.10 and newer
            </p>
          </div>
        </div>
        <!--/feature icon-->
      </div>
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-social-twitter"></i>
          </div>
          <div class="content">
            <h4>Titel missing</h4>
            <p>
              4GB DRAM minimum </p>
          </div>
        </div>
        <!--/feature icon-->
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-person"></i>
          </div>
          <div class="content">
            <h4>Supported Platforms</h4>
            <p>
              AAX, AU, VST2/3 Mac, VST2/3 Win
            </p>
          </div>
        </div>
        <!--/feature icon-->

      </div>
    </div>
  </div>
</section>

<section class="app-section bg-faded" id="download">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-6 margin-b-30">
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="854" height="480" src="https://www.youtube.com/embed/8zxj-6smeVA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-md-5 offset-md-1">
        <h3>Learn more...</h3>
        <p class="margin-b-20">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus magna a lacinia tempor. Fusce et turpis posuere, imperdiet
          orci et, tempus ex. Nunc vitae pellentesque ipsum. Quisque id magna a nisl vestibulum ullamcorper.
        </p>
        <!--    <div class="buttons">
                                                <a href="#" class="btn btn-xl btn-primary ">Get 2BC Now: Free Download <i class="ion-play"></i></a>
                                               <!-- <a href="#" class="btn btn-xl btn-white-border">Learn More</a> -->
      </div>
    </div>-->

  </div>
  </div>
  <div class="space-60"></div>
</section>

<div class="space-70"></div>
<div class="cta-skin">
  <div class="container text-center">
    <h2>FREE 2BC DOWNLOAD</h2>
    <p>Simply register for our newsletter and get your free 2BC! </p>
    <a href="#" class="btn btn-rounded btn-white-border">SIGN UP NOW</a>
  </div>
</div>

<script>
  //auto close navbar-collapse on click a
  $('a.nav-link').on('click', function () {
    $('.navbar-toggler:visible').click();
  });
</script>
