<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div id="accordion" class="card-accrodions" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">Features</a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              2BC multiCORR combines essential metering and monitor controls with a 31 band correlation meter group.
              <h4>Details</h4>
              <ul>
              <li>31 bands of correlation with carefully chosen center frequencies</li>  
              <li>Exclusive trueLinear™ scale for higher precision with visuals that match your perception</li>
              <li>Stereo Balance and Correlation</li>                
              <li>Five essential monitor controls: Left–Only, Right–Only, Mono (L+R), Diff (L-R) and Flip</li>
              <li>Collapsable UI lets you see only what you need</li>
              </ul>
               <h4>Extras</h4>
              <ul>
                <li>Includes a native version that runs in standalone mode, great for dedicated metering</li>
                <li>Plug–in runs on all major DAWs: AAX, AU, VST 2 & VST 3</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">Applications</a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              2BC multiCORR is a general purpose tool for both production and post. Use its powerful metering and monitor controls for:
              <ul>
                <li>Tracking and Mixing</li>
                <li>Mastering and remastering</li>
                <li>Identifying problem elements, EFX, panning, widening or frequency ranges that may compromise playback or downstream processes</li>
                <li>Verifying balance, panning, super stereo processing and other creative decisions</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">Essentials</a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
            thEQorange fits in with all modern workflows:
              <ul>
                <li>Supports LPCM sample rates up to 384k for DSD and high–end postproduction</li>
                <li>All standard formats: AU, VST 2 and 3, AAX</li>
                <li>Compatible with macOS and Windows</li>
                <li>Low fatigue visual design</li>
                <li>Resizable user interface for every screen resolution</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
