<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>RSPhaseShifter</h2>
      <p>
        The only official digital implementation of Roger Schult/German Audio Lab’s Phase Shifter W2324 pure analog hardware.
      </p>
      <h4><strong>Price: $99</strong></h4>
    </div>

    <div class='space-90'></div>
    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-4 margin-b-30">
          <div class="icon-box text-center">
            <i class="ion-heart feature-sign"></i>
          </div>
        </div>
        <div class="col-md-8 margin-b-30">
          <h3>Analog Soul, Digital Heart</h3>
          <p>
            Creating a very high fidelity, phase shifted version of the input, RSPhaseShifter provides a fast, convenient and musical means of aligning individual mix elements for best subjective result. RSPhaseShifter is great for any situation where you need to creatively control tonality, power spectrum and harmonic content through phase manipulation. Post–production, stem mastering, outboard gear compensation, film re–recording, “live” production, sound reinforcement, along with content creation for gaming and VR all benefit from having RSPhaseShifter on hand.
          </p>
          <h4>Old Skool Values</h4>
          <p>
            RSPhaseShifter was created in conjunction with Roger Schult/German Audio Lab, and is a painstaking, 64 bit digital realization of Schult’s trusted Phase Shifter W2324 analog hardware. When multiple sources compete rather than complement, RSPhaseShifter should be your choice for a fast, intuitive, easy to use and effective remedy.
          </p>
        </div>
      </div>
      <div class="space-60"></div>
    </div>

    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>Simple Yet Versatile</h3>
          <p>
            RSPhaseShifter: a mixer’s secret weapon, both live and in the studio…Whether it’s mix sessions with multiple tracks of one instrument, or alignment of spots and overheads, RSPhaseShifter makes quick work of cancellation issues, bringing back the richness and impact you cannot get from basic delay compensation. Match and optimize the time delay or phase response of a subwoofer in a 2.1, 5.1 or n.n monitoring environment, or create thick, ultra–wide sounds and phase sweeps by deliberately manipulating phase of one side of a stereo track.
          </p>
          <h4>Purpose–built</h4>
          <p>
            RSPhaseShifter’s analog–style controls are no accident. They’re the same controls found on the tried and true Phase Shifter W2324 hardware, only better. With no added noise, double precision internal processing plus support for AAX and 8x sample rates, RSPhaseShifter is a cost effective addition to any engineer’s toolkit.
          </p>
        </div>
        <div class="col-md-4 margin-b-30">
          <div class="icon-box text-center">
            <i class="ion-help-buoy feature-sign"></i>
          </div>
        </div>
      </div>
      <div class="space-60"></div>
    </div>

  </div>
</section>

<section class="showcase-section grey-bg">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-settings feature-sign"></i>
        </div>
      </div>

      <div class="col-md-8 margin-b-30">
        <h3>Better By Design</h3>
        <p class="margin-b-20">
          As with all Roger Schult by MAAT products, the RSPhaseShifter is hand crafted and precision engineered in California by way of Germany. This is an explicit digital recreation of the analog W2324 topology, not a modeling or simulation algorithm. We copied the functionality of the original hardware without analog’s shortcomings. This tool´s value is more about what it does technically, so we left out stuff like fake transformer color, hum or Johnson Noise. There are lots of colorful plug–ins, we simply provide convenient access to the useful functionality along with a classic API Lunchbox look.
        </p>

        <%= partial "./accordeon" %>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>

<section class="showcase-section">
  <div class='space-90'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>What’s Your Headache? </h3>
        <p>For most applications, it makes sense to use RSPhaseShifter on just one channel, rather than on both stereo channels. A common example would be when a stereo pair of ambiance mics suffer from slightly different distances to a localized source. Additional uses include:</p>
        <ol>
          <li>You have a DI’d bass track which sounds dry and lifeless. You drop that track into a project so you can re–amp it, and dial up a great re–amped sound. When you try to blend the DI track with the re–amped track, it sounds…awful! Just grab RSPhaseShifter, insert it into the DI’d track, and start off with a low frequency setting. Sweep the phase angle control and fine tune the frequency and…Bang! Suddenly, it sound awesome.</li>
          <li>Another scenario would be you have a set of two distorted guitar tracks recorded with different guitars or amps but playing the same riff. They sound nasty because both are modeling–based guitar amp simulations. Just insert the stereo version of the RSPhaseShifter into one of those pair of tracks and play around in Mirror mode, so that both sides of your processing track are ganged. Within seconds, you will find a sweet spot where both guitars blend perfectly, because by sweeping through the phase angle control, you’re applying very complex comb filters which you could not create with other EQ.</li>
          <li>A common situation is you have closely spaced, multi–mic’ed sources, like a snare with top and bottom mics, some instrument with two mics, or an acoustic guitar with a mic and a piezo pickup. Just play around with the RSPhaseShifter on one of the feeds, preferably the one which is closest to the source, such as a piezo feed, and find the sweet spot by feel.</li>
          <li>Yet another would be you’ve made a great acoustic stereo recording and have used supporting microphones, such as room, spot or far hall placements. To meld these into your main stereo pair, take your mains as the phase reference, and align one supporting mic after the other with the mains. This is easiest if your supporting sources are panned center and approximately the same level during phase alignment. Afterwards, you can set gain and panning back to taste.</li>
          <li>
            Acoustical issues are often an annoyance at low frequencies…
            <ul>
              <li>Reduce the influence of standing waves, or room modes, for a loudspeaker setup in conjunction with one or more subwoofers.</li>
              <li>Reduce the acoustical energy caused by low frequency cancellation in live sound applications.</li>
              <li>Acoustically optimize the sound field in studio and live sound environments.</li>
            </ul>
          </li>
        </ol>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-mic-c feature-sign"></i>
        </div>
      </div>
  </div>
  <div class="space-60"></div>
  </div>
</section>
