<section class="features-section border-bottom" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-iphone"></i>
          <h4>TITEL MISSING</h4>
          <p>
            Available for all major plug-in formats, including VST/VST3 and AAX
            for macOS and Windows plus Audio Units for Mac OS
          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3  margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-ios-person-outline"></i>
          <h4>User Friendly</h4>
          <p>
            Lorem Impsum metering for left/right balance and correlation
            nsectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3  margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-ios-cog-outline"></i>
          <h4>Light Weight</h4>
          <p>
            Lorem ipsum demanding a minimum of CPU resources nsectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut.
          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3 margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-key"></i>
          <h4>Easy & Customizable</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmo elit, sed elit, sed d elit, sed elit, sed incididunt
            ut.
          </p>
        </div>
      </div>
      <!--/col-->
    </div>
  </div>
</section>
<!--end features section-->
