---
title: "Welcome GearSlutz"
image: "bg2.jpg"
layout: "minimal"
---

<div class="dzsparallaxer auto-init" data-options='{direction: "reverse"}' style="height: 300px;">
  <div class="divimage dzsparallaxer--target "
      style="width: 100%; height: 300px; background-image: url(/media/calls/gearslutz.gif); cursor:pointer;" onclick="(window.location.href = '/rsphaseshifter')"></div>
</div>

<section class="showcase-section" id="details">
  <div class="space-90"></div>
  <div class="container">
    <div class="center-title">
      <h1><%= current_page.data.title %></h1>
      <p class="lead">We love you guys & gals cuz you appreciate better gear, and so do we!</p>
      <h4>Click <a href="/rsphaseshifter">HERE</a> for 15% off, and thanks for your support!</h4>
    </div>
  </div>
  <div class="space-90"></div>
</section>
