<section class="showcase-section" id="features">
  <div class="space-60"></div>
    <div class="container">

      <div class="center-title">
      <h2>Libraries for DSP & Measurement of Digital Audio</h2>
        <p>MAAT’s family of intellectual property is the fastest way to a better sounding product</p>
      </div>

      <div class="container">
        <div class="row vertical-align-child">

          <div class="container">
            <p id="DRi_OEM"></p>
            <div class="row vertical-align-child">
            <div class="col-md-4 margin-b-30">
            <%= image_tag "products/OEM/DRi-OEM-cover.jpg", alt: "DRi is the Subjective Dynamics standard", class: "img-fluid center-img" %>
            </div>
          <div class="col-md-8 margin-b-30">
            <h3>DR<em>i</em> OEM Developer Kit</h3>
            <p>Does your product display a “DR” or “Loudness” metric? DR<em>i</em> is the standard for <em>subjective</em> dynamic range.    </p>
            <p>DR<em>i</em> or Integrated DR is the de facto metric for measurement of subjective dynamic range for consumers and engineers. When you see official “DR” integer values, you’re not looking at Crest Factor or other measurement methods that do not correlate to subjective loudness. Unlike ITU-R BS.1770, EBU R 128 and other modern, mandated Loudness measurement methods designed for automated loudness control, DR (Dynamic Range) is specifically formulated to measure dynamic range and subjective loudness in a way that we humans can relate to. Hundreds of thousands of audio enthusiasts agree: <strong>DR<em>i</em> is better</strong>. DR<em>i</em> technology can be easily integrated into applications and utilities for macOS, Linux and Windows operating systems.
            </p>
            <p>DR<em>i</em> or Integrated DR is the de facto metric for measurement of subjective dynamic range for consumers and engineers. When you see official “DR” integer values, you’re not looking at Crest Factor or other measurement methods that do not correlate to subjective loudness. Unlike ITU-R BS.1770, EBU R 128 and other modern, mandated Loudness measurement methods designed for automated loudness control, DR (Dynamic Range) is specifically formulated to measure dynamic range and subjective loudness in a way that we humans can relate to. Hundreds of thousands of audio enthusiasts agree: <strong>DR<em>i</em> is better</strong>. DR<em>i</em> technology can be easily integrated into applications and utilities for macOS, Linux and Windows operating systems.
            </p>
        </div>
        <div class="space-60">
        <p id="LINpro_OEM"></p>
        </div>
      </div>

      <div class="container">
        <div class="row vertical-align-child">
          <div class="col-md-8 margin-b-30">
            <h3>LINpro OEM Developer Kit</h3>
            <p>Better DSP starts with better dither…Does your product perform DSP on audio, even something as simple as gain? If so, you need to redither and better dithering starts with better algorithms.</p>
            <p>LINpro OEM incorporates a newly developed dither engine based on the current understanding of psychoacoustics, information theory and audio production best practices. As with other members of MAAT’s product family, extensive research and its double precision DSP architecture contribute to its uncompromising quality. The technology can be integrated into applications and utilities for macOS, Linux and Windows operating systems.</p>
            <p>Although dithering is usually considered an automatic function that can be ignored without consequence, quality–conscious engineers know that redithering prior to delivery is the last opportunity to define the quality of their product. LINpro OEM includes seven modern choices for optimal noise shaping. Four of those options are derived from the most recent thinking in psychoacoustically optimized 5th, 8th and 9th order shapes.
            </p>
          </div>
          <div class="col-md-4 margin-b-30">
          <%= image_tag "products/OEM/LINpro-OEM-cover.jpg", alt: "Better DSP starts with better dithering", class: "img-fluid center-img" %>
          </div>
        </div>
      </div>
    </div>

</section>
