---
title: "MAAT OEM Licensing"
layout: "data-spy"

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K87N3TJSTN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K87N3TJSTN');
</script>

---

<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading"
    style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>

  <div class="divimage dzsparallaxer--target " data-src="<%= url_for 'assets/images/bg1.jpg' %>"
      style="width: 100%; height: 130%; background-image: url()">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-4 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1>OEM Licensing</h1>
                  <p class="lead">IP for industry–leading fidelity and functionality</p>
                  
                </div>
              </div>
                <div class="col-md-4">
                <%= image_tag "product-oem.png", alt: "MAAT OEM", class: "img-fluid center-img" %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "./details" %>
<%= partial "./features" %>
<!--%= partial "./testimonials" %-->
<!--%= partial "./specifications" %-->
<!--%= partial "./buytrial" %-->
