<section class="features-bg">
  <div class="container">
    <div class="center-title">
      <h2>Speeds & Feeds</h2>
      <p>Downloads, Features & Specifications</p>
      <h3>Stay Current</h3>
      <p>Looking for the latest version of your software? Just <a href="https://www.maat.digital/support/#installers" target="_blank">download</a> and install the demo! The installer will update everything and your license will take over when you next use the product.</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-paper"></i>
          </div>
          <div class="content">
            <h4>Features</h4>
            <ul>
                <li>Complete R128 & A/85 Loudness</li>
                <li>Dynamic Deviation™ & Dynamic Margin™</li>
                <li>DR & DR<em>i</em></li>
                <li>Measure & monitor thru AAC</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-document-text"></i>
          </div>
          <div class="content">
            <h4>Supporting</h4>
            <ul>
            <li>AAX (Pro Tools 10.3.10 and newer), AU, VST 2, VST 3</li>
            <li>Sample rates from 44.1 to 384 kHz</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-briefcase"></i>
          </div>
          <div class="content">
            <h4>License</h4>
            <p>Perpetual</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-android-laptop"></i>
          </div>
          <div class="content">
            <h4>Requirements</h4>
            <ul>
            <li>macOS 10.8 and newer, Catalina–ready</li>
            <li>Windows 7 and newer, 32 & 64 bit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="center-title">
      <h5>FFMpeg LGPL (Lesser General Public License)</h5>
      <p>This software uses code of FFmpeg licensed under the LGPLv2.1 and its source can be downloaded <%= link_to 'here', 'https://s3-eu-west-1.amazonaws.com/website-maat-digital-downloads/public/openSource/MAAT_DRMeter_MkII_FFMpeg.zip', target: '_blank' %>.</p>
    </div>
  </div>

  </div>
</section>