<section class="showcase-section" id="details">
  <div class="space-90"></div>
    <div class="container">

      <div class="center-title">
        <h2>MAAT<i>go</i> :: Software</h2>
        <p>A universal monitor controller and visualization plug-in for computer playback.
        </p>
        <h4><strong>Price: $24</strong></h4>
      </div>


      <div class="row align-items-center">
        <div class="col-md-4">
          <h3>Introduction </h3>
          <p>
          Available for all major plug-in formats, including VST 2, VST 3 and AAX for macOS and Windows plus Audio Units for macOS, MAAT<i>go</i> delivers complete “preamp” channel routing, plus a software goniometer that authentically replicates an analog oscilloscope experience.
          </p>
        </div>
        <div class="col-md-6 ml-auto mr-auto">
          <%= image_tag 'shot1-maatgo.png', alt: "", class: "img-fluid center-img" %>
        </div>
      </div>


      <div class="row align-items-center">
        <div class="col-md-8 margin-b-30">
        <h3>Control Is Power</h3>
          <p>If music is your profession, your passion or both, MAAT<i>go</i> is for you. MAAT<i>go</i> is explicitly built for everyone who listens to HRA (High Resolution Audio) files and streams on their computer. Whether your mixing, mastering or just sinking into your fave recording, MAAT<i>go</i> will enhance your experience and provide for more discerning listening.
        </div>
      </div>


      <div class="row align-items-center">
        <div class="col-md-8 margin-b-40">
          <h3>Features</h3>
          <p>MAAT<i>go</i> combines a variety of channel steering and blending controls with a balance adjustment and goniometer. Some of the stereo image and routing controls include a sum or L+R mode, a difference or L-R mode, a swap mode that interchanges the position of left and right, and polarity inversion for left, right or both.</p>
          <p>MAAT<i>go</i> offers five essential options for specialized monitoring modes. Solo is available, pre-vectorscope, with a single button push. Traditional left/right soloing (as phantom center) can be chosen, or the equally useful MONO/DIFF(erence) or M/S (Mid/Side) rendering of the soloed signal. Mono mode lets you listen for any cancellation in the phantom center, and is also important for checking how the center relates to the edge with content panned for separation.
          </p>
          <p>In addition, the stereo perspective can be swapped or flipped with the left and right channels changing places. Each solo control is a single button, allowing you to check placement and amplitude easily for all aspects of your mix.<br>
          We all need a bit of fun, and the L-R (Left Minus Right) mode can be used for “karaoke” since many popular songs have mostly monaural vocals. Since L-R mode removes any mono content, vocals are usually reduced significantly or eliminated entirely. If you’re listening for pleasure, this let’s you sing along, accompanied by the rhythm track. L-R mode is also handy for setting up cartridge or tape head azimuth. Another valuable feature, the polarity inversion modes let you check signal chain integrity, while the left–only and right–only controls offer a more nuanced view into your stereo soundfield.
          </p>
          <h4>See What You’re Hearing</h4>
          <p>The goniometer or “phase scope” quickly conveys global trends and troubles, letting you gauge frequency response and phase shift, with an additional visual out–of–phase warning built in. Plus, an optional autogain feature insures that you’ll see an understandable display with a wide range of input amplitudes.
          </p>
          <p>Visualization has long been part of music on a computer, and MAAT<i>go</i>’s options are easy to like. Unlike an oscilloscope which takes up room in your equipment rack, MAAT<i>go</i> has a notable absence of knobs. Control over gain, focus, “phosphor” color, drawing style and persistence are all there in the preferences, and everything can be saved as a personal preset.
          </p>
          <h4>Stream Through</h4>
          <p>A bonus with MAAT<i>go</i> is the standalone or “native” version that’s included. It’s native in that it runs on its own, without the help of a DAW, plug–in host or player app. The standalone version let’s you really saavy geeks out there use MAAT<i>go</i> as a stream–through processor, just like component separates in the hi–fi hardware world. To use MAAT<i>go</i> standalone, you usually need a “virtual audio device,” an audio driver that provides a software “device” your operating system can use for patching. For Windows, we recommend VB-Audio’s HI-FI Cable. For macOS, we recommend Existential Audio’s BlackHole. Both are free.
          </p>
        </div>


      <div class="row align-items-center">
        <div class="col-md-8 margin-b-30">
          <h3>History Repeats</h3>
          <p>In the Golden Age of consumer hi–fi, some preamplifiers had not only a “balance” knob, but stereo/mono blend controls and even an oscilloscope to instantaneously display amplitude, frequency and the phase relationship between left and right channels. Marantz, Panasonic, Pioneer and SAE sometimes included an oscilloscope in their receivers, while the Apt Corporation’s legendary and groundbreaking Holman Preamplifier had a range of channel re–routing switches and a continuous stereo/mono blend control. This was not “feature creep,” needless features just to fill out a list. The Apt’s re–patching and intermix controls served a very useful purpose.
          </p>
          <p>Back in the Analog Era, when pros had custom hardware or monitor sections on their desk, most hi–fi enthusiasts had “separates.” These were individual stereo components, like a tuner or preamp, each serving one purpose. With the advent of “computer audio,” that rig can been reduced to a personal computer feeding a DAC or digital–to–analog converter. In turn, the DAC feeds a power amplifier or powered loudspeakers. While this minimalist setup eliminates a preamplifier, it has only a volume control and most player applications lack typical controls other than volume. Enter MAAT<i>go</i>, a preamp’s worth of advanced choices. When any of the controls are disabled, they are completely “out of circuit” and do not affect the sound quality. When any control <i>is</i> enabled, it’s DSP uses 64 bit, double precision floating point math to ensure maximum fidelity. Also, MAAT<i>go</i> will operate at up to 384 kHz, compatible with the highest fidelity lossless PCM files and streams generally available.
          </p>
          <h3>It All Adds Up To Versatile</h3>
          <p>Better informed means better enjoyment…Whether you’re troubleshooting an issue, setting up a new system, or just exploring the nuances of your or your client’s music, MAAT<i>go</i> makes it easier. With all of its functionality, it’s a no–brainer for day–to–day pro audio. For enthusiasts, it’s faster and more pleasant to track down a noisy cable or component, burn in new speakers or headphones, set up a new rig, or even figure out how a reissue sounds different from the previous generation. All that and more with just a button click.
          </p>
        </div>
      </div>
        

        <div class="row align-items-center">
        <div class="col-md-4">
          <h3>Easy On You…And Your System</h3>
          <p>All of MAAT<i>go</i>’s functionality is wrapped in an information-rich yet visually unobtrusive, resizable user interface that occupies only a small slice of screen real estate. Likewise, the plug-in is very “light weight,” demanding an absolute minimum of CPU resources so it won’t slow down your player and host.
          </p>
          <p>Low cost, unprecedented control and intuitive operation all add up to MAAT<i>go</i> as a must–have tweak to any computer audiophile’s playback solution. <a href="https://www.maat.digital/support/#installers" target="_blank">Download</a> a fully functional, 14 day demo today.
          </p>
        </div>
        <div class="col-md-6 ml-auto mr-auto">
          <%= image_tag "products/MAATgo/MAATgo-Animated02.gif", alt: "MAATgo’s goniometer provides a visual wealth of information", class: "img-fluid center-img" %>
        </div>
      </div>


    </div>
  </div>

  
</section>
