<section class="showcase-section" id="details">


  <div class="space-90"></div>
    <div class="container">

      <div class="center-title">
        <h2>MAAT<i>go</i> :: Software</h2>
        <p>A universal monitor controller and visualization plug-in for computer audiophiles.
        </p>
        <h4><strong>Price: $24</strong></h4>
      </div>


      <div class="row align-items-center">
        <div class="col-md-4">
          <h3>Introduction </h3>
          <p>
          Available for all major plug-in formats, including VST 2, VST 3 and AAX for macOS and Windows plus Audio Units for macOS, MAAT<i>go</i> delivers complete “preamp” channel routing, plus a software goniometer that authentically replicates an analog oscilloscope experience.
          </p>
        </div>
        <div class="col-md-6 ml-auto mr-auto">
          <%= image_tag 'shot1-maatgo.png', alt: "", class: "img-fluid center-img" %>
        </div>
      </div>


      <div class="row align-items-center">
        <div class="col-md-8 margin-b-30">
          <p>MAAT<i>go</i> is explicitly built for everyone who listens to HRA (High Resolution Audio) files and streams on their computer. In the Golden Age of consumer hi–fi, some preamplifiers had not only a “balance” knob, but stereo/mono blend controls and even an oscilloscope to instantaneously display amplitude, frequency and the phase relationship between left and right channels. Marantz and Panasonic sometimes included an oscilloscope in their receivers, while the Apt Corporation’s legendary and groundbreaking Holman Preamplifier had a range of channel re–routing switches and a continuous stereo/mono blend control. This was not “feature creep,” needless features just to fill out a list. These redirection and intermix controls served a very useful purpose.
          </p>
          <p>Back in the Analog Era, most hi–fi enthusiasts had “separates,” individual stereo components, each serving one purpose. With the advent of “computer audio,” that rig can been reduced to a personal computer feeding a DAC or digital–to–analog converter. In turn, the DAC feeds a power amplifier or powered loudspeakers. While this minimalist setup eliminates a preamplifier, it has only a volume control and most player applications lack typical controls other than volume. Enter MAAT<i>go</i>, a preamp’s worth of advanced controls. When any of the controls are disabled, they are completely “out of circuit,” and do not affect the sound quality. When any control <i>is</i> enabled, it’s DSP uses 64 bit, double precision floating point math to ensure maximum fidelity. Also, MAAT<i>go</i> will operate at up to 384 kHz, compatible with the highest fidelity lossless PCM files and streams generally available.
          </p>
        </div>
      </div>


      <div class="row align-items-center">
        <div class="col-md-8 margin-b-40">
          <h3>Features</h3>
          <p>MAAT<i>go</i> combines a variety of channel steering and blending controls with a balance control and goniometer. The goniometer or “phase scope” feature quickly conveys global trends and troubles, with a visual out–of–phase warning built in. Plus, an optional autogain feature insures that you’ll see an understandable display with a wide range of input amplitudes.
          </p>
          <h4>See What You’re Hearing</h4>
          <p>Visualization has long been part of enjoying music on a computer, and MAAT<i>go</i>’s options are easy to like. Unlike an oscilloscope which takes up room in your equipment rack, MAAT<i>go</i> has a notable absence of knobs. Control over gain, focus, “phosphor” color, drawing style and persistence are all there in the preferences, and everything can be saved as a personal preset.
          </p>
          <h4>Stream Through</h4>
          <p>Another nice feature with MAAT<i>go</i> is that a standalone or “native” version is included, native in that it runs natively without the help of a DAW or player app. The standalone version let’s you really saavy geeks out there use MAAT<i>go</i> as a stream–through processor, just like a “separate” component in the hi–fi hardware world.
          </p>
          <h4>It All Adds Up To Versatile</h4>
          <p>Better informed means better enjoyment…Whether you’re troubleshooting an issue, setting up a new system, or just exploring the nuances of your music, MAAT<i>go</i> makes it easier. With all of its functionality, MAAT<i>go</i> makes it faster and more pleasant to burn in new speakers or headphones, set up your new rig, track down a noisy component, or figure out how a reissue sounds different from the previous generation. All that and more with just a button click.
          </p>
        </div>

        <div class="col-md-4 margin-b-40">
          <%= image_tag "products/MAATgo/MAATgo-Animated02.gif", alt: "MAATgo’s goniometer provides a visual wealth of information", class: "img-fluid center-img" %>
        </div>
      </div>


      <div class="row align-items-center">
        <div class="col-md-8 margin-b-30">
          <h3>Easy On You…And Your System</h3>
          <p>All of MAAT<i>go</i>’s functionality is wrapped in an information-rich yet visually unobtrusive, resizable user interface that occupies only a small slice of screen real estate. Likewise, the plug-in is very &quot;light weight,&quot; demanding an absolute minimum of CPU resources so it won´t slow down your player and host.
          </p>
          <p>Low cost, unprecedented control and intuitive operation all add up to MAAT<i>go</i> as a must–have tweak to any computer audiophile’s playback solution. Download a fully functional, 14 day demo today.
          </p>
        </div>
      </div>

    </div>
  </div>


</section>

