<section class="testimonials grey-bg">
  <div class='space-90'></div>
    <div class="container">

      <div class="row align-items-center">
      
        <div class="col-md-8 margin-b-30">
          <h3>Reviews & Testimonials</h3>
          <h5>Edin Tahirovic — composer, producer, certificated mixing and mastering engineer</h5>
          <p><em>“It's just like everything else from your company, just the perfect unit to have on the end of the (signal) chain.<br>
After testing in the mix (in many places and tracks), the best discovery is that MAATgo can be really great for arranging ideas, believe it or not! Second testing was the end at the chain on the Mix Bus, useful and part of every future mix I will do. It's so great to have all the options that you've included. Last test was Mastering: It's very useful to have it on the beginning and on the end of the chain, and helps to discover some really small and precise details (also their place in the mix/master).”</em></p> 
        </div>

        <div class="col-md-4 margin-b-30">
          <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
          </div>
        </div>

      </div>



    <hr>

      <div class="space-90">
        <h4>Reviewers! Want to add your voiceover to the mix?</h4>
        <p>Head to our <%= link_to 'Contact', '/contact' %> page and give a shout…<br>
        We’d love to hear what you think about MAAT<i>go</i>!</p>
      </div>
    </div>
  </div>
</section>
