<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div id="accordion" class="card-accrodions" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">Features</a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              DRM2 combines mandated R128 and A/85 loudness measurements with an improved version of our DR dynamic range metering standard. DRM2 includes several industry firsts, all designed to help you be more productive.
              <h4>INDUSTRY FIRSTS</h4>
              <ul>
                <li>The first loudness meter designed for general use and specifically for music production</li>
                <li>The only loudness meter displaying channel–specific trends and events with classic L/R metering</li>
                <li>DRMeter MkII is also the first plug–in to offer official DR<em>i</em> dynamic range, just like our DROffline batch utility</li>
                <li>Dynamic Deviation, an intuitive presentation of your current dynamic density compared to Target Loudness</li>
                <li>DRM2 is also the first loudness meter with DualVu™. Displaying both Relative and Absolute scales simultaneously makes loudness metering more intuitive and easier to understand.</li>
              </ul>
              <h4>MEASUREMENT</h4>
              <ul>
                <li>D-MODE: DR - MAAT’s renowned DR dynamic range standard; PSR - Peak–to–Short–term Ratio; LRA - Loudness Range</li>
                <li>L-MODE: RMS, Momentary Loudness, Short–term Loudness
                <li>Integrated: DRi, LUi (Program Loudness)</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">Additional Functions</a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              With all the features and functionality of our original DRMeter, the thoroughly comprehensive DRMeter MkII makes Target Loudness tangible and easy to understand, while the round trip MFiT feature eases seamless leveling for iTunes delivery. In keeping with our emphasis on quality, DRMs increases your awareness of the limitations and requirements for other streaming and OTT music distribution channels. Plus, you get:
              <ul>
                <li>MFiT mode — measures and monitors signal through round trip iTunes AACplus codec</li>
                <li>DRMeter MkII is highly configurable: set it up the way you need</li>
                <li>Measurements always running; easy to switch standards on the fly</li>
                <li>Adjustable, user defined target loudness</li>
                <li>Adjustable, user defined maximum True Peak Threshold</li>
                <li>Dynamic Deviation — difference in LU needed to match user defined target loudness</li>
                <li>LUFS/LU mode, LU mode with +9 and +18</li>
                <li>LINK mode; links left and right channel Dynamic Display together to show average of L+R</li>
                <li>Play and Pause control for integrated measurement</li>
                <li>3 automatic modes for integrated measurement; AUTO ON, AUTO RESET OFF, AUTO OFF</li>
                <li>Gate On/Off for downward compatibility</li>
                <li>Gate indicator; indicates when the R/128 / A/85 Gate is active for LU integrated measurements</li>
                <li>Global Reset Button</li>
                <li>-∞ (㏈FS) input indicators</li>
                <li>Adjustable color thresholds for peak and loudness bar graphs</li>
                <li>Factory & user presets</li>
                <li>optional -30 dB zoom scale</li>
                <li>5 different UI sizes for any display size</li>
                <li>TP disable option (= SPPM)</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">Essentials</a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
            DRMeter MkII let’s you manage your Target Loudness and leveling demands for Spotify, YouTube, iTunes and TIDAL with ease!
              <ul>
                <li>Meter & monitor through MfiT up to 96k</li>
                <li>All standard formats: AU, VST & AAX Mac/Win</li>
                <li>Operates at all standard sample rates, from 44.1 to 384 kHz</li>
                <li>Compatible with standard OSs; macOS, Windows</li>
                <li>Low fatigue visual design</li>
                <li>Compact layout in 5 sizes for every screen resolution</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
