<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div id="accordion" class="card-accrodions" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">Features</a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              thEQblue borrows the innovative code from Algorithmix’s original PEQ Blue, and wraps it in a modern, higher fidelity environment designed to help you be more productive.
              <ul>
                <li>The most complete collection of classic analog equalizer emulations</li>
                <li>One dozen different equalizer types: 10 serial & 2 parallel</li>
                <li>Up to twelve PEQ styles for every job: classic, vintage, modern and unconventional</li>
                <li>Different Q characteristics: classic, constant–Q, proportional, ideal–Q and special</li>
                <li>True high resolution emulation of analog equalizers, not modeling: no added noise, distortion or other non–linearities</li>
                <li>Support for up to 384 kHz sample rate, suitable for HRA and game production and post</li>
                <li>Extended center frequency up to 80 kHz for filtering and correction in the ultrasonic</li>
                <li>Bell filters in all PEQ types are normalized to look identically at +6 dB of gain and Q of 0.71, ideal for quick comparisons between types</li>
                <li>Twelve sections with 5 freely assignable parametric filter variants: bell, low shelf, high shelf, low cut and high cut</li>
                <li>Extremely low noise and low nonlinear distortion algorithms result in residual THD+N significantly lower than 24 bit quantization noise</li>
                <li>Adjustable Q Factor for shelving and cut filters</li>
                <li>Multiple low and high cut filters can be overlapped to achieve brickwall slopes</li>
                <li>Very low noise and distortion upsampling for analog–like filters at baseband sample rates</li>
                <li>80 bit double precision internals virtually eliminate rounding errors</li>
                <li>Resizable and zoomable frequency response rendering for precise adjustments</li>
                <li>Parameter editing via numerical fields or directly on the Graph</li>
                <li>Presets for quick setup comparison</li>
                <li>Several instances, each with different PEQ types, can be opened simultaneously</li>
                <li>Stereo/Left–only/Right–only/Mono/Diff mode for each Section for all Serial types</li>
                <li>Band grouping function lets you simultaneously alter ƒ, Q and gain for multiple Sections</li>
                <li>Six fMODES quantize the resonant ƒ setting of all Sections, including Massive Passive & Maselec</li>
                <li>Keyboard button enables you to target frequencies by ear then lock them to a Section with a click</li>
                <li>Tunable Keyboard so that the sonogram aligns with material’s tuning</li>
                <li>ƒ lock function when you’ve found your resonant frequency and want to alter just Q or gain</li>
                <li>True Peak metering alerts you to TP overs</li>
                <li>Sort button rearranges Sections in order, from low to high, with a single click</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">Applications</a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
            With a very wide range of choices, you are ready to tackle any job with a subtle or obvious approach. 
              <ul>
                <li>Tracking, mixing & mastering</li>
                <li>HRA post including ultrasonic tailoring</li>
                <li>Broadcast production & post</li>
                <li>Game production</li>
                <li>Reinforcement: microphone response improvement, speaker deficiencies correction, acoustic compensation</li>
                <li>Sound design & enhancement</li>
                <li>Restoration & correction of transmission losses</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
