<div class="cta-skin">
  <div class="container text-center">
      <h4>thEQblue6 Available Now</h4>
      <h5>thEQblue12 coming soon</h5>
      <p><strong>• thEQblue6; <strike>MSRP $219</strike>, Introductory Price: $179<br>
      • thEQblue12; <strike>MSRP $389</strike>, PreRelease: $309<br>
      • Upgrade from thEQblue6 to thEQblue12: $189</strong></p>
    
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-xl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Purchase Now
        </button>
        <div class="dropdown-menu dropdown-hack" aria-labelledby="btnGroupDrop1">
          <a href="<%= current_page.data.avangate.buy12 %>" class="dropdown-item">thEQblue12</a>
          <a href="<%= current_page.data.avangate.buy6 %>" class="dropdown-item">thEQblue6</a>
        </div>
      </div>
      <a href="<%= current_page.data.avangate.trial %>" class="btn btn-xl btn-white-omas-special-style-border">Try It Now</a>
    </div>
  </div>
</div>