<section class="testimonials">
  <div class="space-30"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Learn More</h3>

        <h4>This video from Friedemann provides a deep dive into thEQblue and SantaCruzEQ</h4>
        <p>Why does it sound so excellent? It’s all about those curves…</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tW6Ua9CN7yk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Watch it directly on <%= link_to 'YouTube', 'https://youtu.be/tW6Ua9CN7yk', target: '_blank' %></p>

        <h4>Download — thEQblue User Manual</h4>
        <p>The user manual <%= link_to 'PDF', 'https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/thEQblue_UM.pdf', target: '_blank' %> includes mondo useful info, check it out…</p>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
  </div>
</section>
