<section class="testimonials grey-bg">
    <div class="space-60"></div>
  </div>
  <div class='space-90'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Reviews & Testimonials</h3>
          <h5>Michael Romanowski, Coast Mastering</h5>
          <p><em>“MAAT’s thEQblue is a remarkable EQ plugin. The interface is unique among the multitude of EQ plugins available. Showing a different kind of representation of energy as it is distributed across the frequency spectrum. I like that the information is very customizable, depending on needs or particular projects. More impressive to me is the number and types of slope profiles available. I find them all very usable for different circumstances. I don’t have a “go to” slope, as each project is different, and requires listening before making any decision.<br>
          What I like most about the thEQblue is the sound. As a mastering engineer who chooses to work in the analog domain, all of my adjustments are Out-of-the-Box with analog hardware. For me, this has always had the feel and presentation that I am looking for in my work for my clients. However, the thEQblue is the first plug-in I have used that actually feels like an analog piece of hardware. When I make an adjustment with the thEQblue, I get the sense of turning knobs on my outboard gear. The way that the gain and slope react has a very known, comfortable feel to it.<br>
          This is not a transparent EQ. If that’s what you desire, MAAT’s <a href="https://www.maat.digital/theqorange/" target="_blank">thEQorange</a> will greatly impress. thEQblue’s subtle to more apparent tonal color, for me, represents the best of a very powerful and adjustable analog EQ, in a digital platform. Very well done MAAT! I dig it, and would highly recommend it to anyone who may struggle with the use of plugins where they were wanting to use hardware before.”</em></p>
          <h5>Stephan Mathieu, Schwebung Mastering</h5>
          <p><em>“<a href="https://www.maat.digital/theqorange/" target="_blank">thEQorange</a> became my unrivaled critical EQ from Day One on, period. Now that I’ve added thEQblue to my strictly selected palette of ITB processors, I can say that I’ve found my absolute dream team. So very well done, and I can’t wait for your version of the LP SplitComp to arrive, which most likely means that I’ll be able do all my ITB work with those three products. Maximal minimalism, my dream for 25 years coming true.<br>
          You know, the last 3 days I found the time to really deal with blue, and yesterday I started to become really excited with the MAAT EQ team. Not like having found a new toy, but having found a solution. I’m working all day with plugins since ’96 and something I’ve learned quickly is that I don’t want to use most of them but try to master only a handful instead. Here I go, and thanks again for that…Keep up the brilliant work.”</em></p>
          <h5>Peter “Minimalistix” Bellaert – producer, composer & arranger</h5>
          <p><em>“The best software EQs I have ever worked with and very stable in the low and a very pleasant high. An EQ that will not be quickly surpassed by other designers…it is the EQ now that I use on everything because this is simply the best.</br>
          I certainly look forward to your next products and hopefully you come with an equally high-quality compressor, limiter, clipper or vintage warmer. [We hear you, Peter! — OMas]</br>
          MAAT is my best friend Yessss. Keep up the good work!!!!”
          </em></p>
          <h5>Олег Ершов (Oleg “Yorshoff” Yershov, engineer & journalist)</h5>
          <p>Yorshoff put on his stylin’ holiday hat and created a Studio One video (with English subtitles) on visualization featuring thEQblue. Our highly adjustable sonogram in thEQ helps you to work quickly and precisely.</br>
              Смотрите это здесь:  <%= link_to 'По-русски', 'https://youtu.be/9Bl8KczEvyc', target: '_blank' %>
          </p>
          <h5>Sean Diggins, Digital Diggo Mastering</h5>
          <p><em>“thEQblue is a sleek, blue-sky clean “curve machine.” It's always about the curves and blue has the lot.”</em></p>
          <h5>Arpad Tchiba, classical engineer</h5>
          <p><em>“…Excellent, overwhelming! and looks beautiful. Thanks very much. It was absolutely worth waiting for.”</em></p>
          <h5>G.R. Neidinger, engineer & musician</h5>
          <p><em>“Somehow, in comparison to thEQblue, similar EQs sounded subtly but substantively veiled, dull, flat, on everything from studio monitors to even AirPods. I distributed some unlabeled test files pitting similar settings in thEQblue to its most logical competitor to some of my close colleagues, and they unanimously preferred thEQblue, citing similar reasons as I just gave.<br>
              Congratulations on another excellent product.”</em></p>
          <h5>Trevon, Steady Sounds Music Group (via GearSlutz)</h5>
          <p><em>“…the curves are great so is the sound…Especially as I use this for mastering. This (eqblue) has done wonders for my mastering and mix bus. If I had to have only one eq it would be the eqblue. Your <a href="https://www.maat.digital/rsphaseshifter/" target="_blank">phaseshifter</a> is vital to my drums. Excellent stuff.”</em></p>
          <h4>Praise for the original Algorithmix Classic PEQ Blue</h4>
          <p>thEQblue actually improves on the original Classic PEQ Blue, with increased precision for even finer low amplitude detail, as does our SantaCruzEQ since it uses the same algorithms.</p>
          <h5>Bob Olhsson on the original Classic PEQ Blue (via Gearslutz)</h5>
          <p><em>“I still use blue and red…Blue and red remain unsurpassed sound-wise.”</em></p>
          <h5>TKFP on the original Classic PEQ Blue (via Gearslutz)</h5>
          <p><em>“You know mixing without blue, is like cereals without milk. So many good and usable EQs out there. Lets face it. Im a sucker for that good EQ tho. I really rely on it. I dont wanna see my new system running without it. That Algo stuff is still untouched. Its really good. Really good.”</em></p>
        <h4>Reviewers & Engineers! Want to add your voiceover to the mix?</h4>
        <p>Head to our <%= link_to 'Contact', '/contact' %> page and give a shout…We’d love to hear what you think!</p>
        <hr>
        <h3>Interested?</h3>
        <p>thEQblue requires a 3-Series CmStick USB dongle. Our CmSticks make disaster recovery a breeze, increasing reliabilty for your valuable purchase. Of course, don’t forget all important portability. Before you say, “Oh no, not another dongle!” consider this; your MAAT dongle investment includes a generous rebate, which can be applied to your next purchase from our store. Oh, and they can store other vendor’s license as well. <a href="https://www.maat.digital/dongle/" target="_blank">Learn more</a>…
        </p>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
    </div>
    <div class="space-60"></div>
  </div>
</section>
