<section class="testimonials grey-bg">
    <div class="space-30"></div>
  </div>
  <div class='space-90'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Reviews & Testimonials</h3>
        <h5>Eric James, writing extensively in Sound On Sound</h5>
          <h6>“MAAT’s mastering equaliser models the characteristics of 12 analogue EQ designs, but leaves out their real-world drawbacks!” See the review — <a href="https://website-maat-digital-downloads.s3.eu-west-1.amazonaws.com/public/PR/SoundOnSound-2020Aug-thEQblue12_Review.pdf" target="_blank">MAAT thEQblue12</a></h6>
          <p><em>“The GML-like Type 11 (No. 11 Parallel Feed Forward/Feedback) is just a really good mastering/bus EQ, and the MAAT version here sounds much better than the incarnation in my TC Electronic System 6000. I also found that Model 9 (No. 9 Constant-Q New) was even better in the mastering situation than I remember when praising it last time (when he reviewed the PEQ Blue from Algorithmix in Sound On Sound).<br>
          Having had the MAAT in my mastering room for the past couple of months, I now find that when I know more or less exactly what I want, I choose whichever EQ (theEQblue or DMG Equilibrium) will provide it - and then I’ll dip into thEQblue if want something more musical and perhaps exploratory. Until now, I have only ever had one digital EQ in my mastering room, and the fact that thEQblue has created a new space for itself says a lot.”</em></p>
        <h5>Rob Tavaglione, writing in Pro Sound News</h5>
          <h6>“Producer/engineer Rob Tavaglione puts the Maat thEQblue 12 (sic) parametric stereo equalizer plug-in to the test and declares it may be the best of its type yet…” See the review — <%= link_to 'Maat thEQblue 12 – A Real-World Review', 'https://www.prosoundnetwork.com/gear-and-technology/product-reviews/maat-theqblue-12-a-real-world-review', target: '_blank' %></h6>
          <p><em>“thEQblue 12 is obviously very deep, versatile and flexible, and I’d be exaggerating to say that I managed to try every possible mode or function across all the many variables. As I applied thEQblue 12 to my tracks, subgroups and mixes (via mastering), one dominant trait became clear: thEQblue 12 is extremely clean with minimal phase shift, no apparent noise and an absence of distortion. When you grab a node and change gain, all you hear is the gain change—no side effects, no secondary problems created. Compared to stock DAW EQ, the difference is profound; you’ll likely find yourself hitting bypass just to be sure you actually made a change.<br>
          With more flexibility than any one user could ever harness, with pristine sonics and a wealth of smartly designed controls, thEQblue 12 is a serious contender for engineers who demand flexibility and top performance from an equalizer.”</em></p>
        <h5>A first look from mastering engineer Gavin Lurssen</h5>
          <p><em>“What really struck me is the musicality of the high end…just that EQ alone (thEQblue) really brought the song to life in a way that was very pleasing. The smoothness and the musicality of that high and the mids. I haven’t really come across anything out there…there’s something very smooth about this one….”</em><br>
          <a href="https://youtu.be/YT-JEeWqP5c" target="_blank"> Sonic Exploration #1 | Lurssen and Romanowski | Mastering With a Minimalistic Chain — MAAT’s thEQblue and UA’s ATR-102</a></p>
        <h5>Pete Boxsta Martin (James Arthur, Jessie J, Tokio Myers), The Matrix Studio Complex</h5>
          <p><em>“This is the first digital EQ that not only matches analogue performance but redefines how future EQ plugins will look and sound. A must try plugin.”</em></p>
          <h5>Michael Romanowski, Coast Mastering</h5>
          <p><em>“MAAT’s thEQblue is a remarkable EQ plugin. The interface is unique among the multitude of EQ plugins available…I like that the information is very customizable, depending on needs or particular projects. More impressive to me is the number and types of slope profiles available. I find them all very usable for different circumstances. I don’t have a “go to” slope, as each project is different, and requires listening before making any decision.<br>
          What I like most about the thEQblue is the sound. As a mastering engineer who chooses to work in the analog domain, all of my adjustments are Out-of-the-Box with analog hardware. For me, this has always had the feel and presentation that I am looking for in my work for my clients. However, the thEQblue is the first plug-in I have used that actually feels like an analog piece of hardware. When I make an adjustment with the thEQblue, I get the sense of turning knobs on my outboard gear. The way that the gain and slope react has a very known, comfortable feel to it.<br>
          This is not a transparent EQ. If that’s what you desire, MAAT’s <a href="https://www.maat.digital/theqorange/" target="_blank">thEQorange</a> will greatly impress. thEQblue’s subtle to more apparent tonal color, for me, represents the best of a very powerful and adjustable analog EQ, in a digital platform. Very well done MAAT! I dig it, and would highly recommend it to anyone who may struggle with the use of plugins where they were wanting to use hardware before.”</em></p>
          <h5>Erik Zolber, double Grammy Award–winning engineer & producer</h5>
          <p><em>“MAAT’s equalizers have become my ‘secret weapons’ for mixing and mastering. thEQorange is precise and surgical. It is beyond transparent because it seems to make things sound better just by turning it on. It’s now part of my mastering chain.<br>
thEQblue offers a bit more juju, with 12 different EQ types. The addition of FiDef to thEQblue is a “better-maker” button that can add that something extra to the music.<br>
Along with DRMeter MkII, I use these every day. Once I started, I couldn’t live without them.”</em></p>
          <h5>Stephan Mathieu, Schwebung Mastering</h5>
          <p><em>“<a href="https://www.maat.digital/theqorange/" target="_blank">thEQorange</a> became my unrivaled critical EQ from Day One on, period. Now that I’ve added thEQblue to my strictly selected palette of ITB processors, I can say that I’ve found my absolute dream team. So very well done, and I can’t wait for your version of the LP SplitComp to arrive, which most likely means that I’ll be able do all my ITB work with those three products. Maximal minimalism, my dream for 25 years coming true.<br>
          You know, the last 3 days I found the time to really deal with blue, and yesterday I started to become really excited with the MAAT EQ team. Not like having found a new toy, but having found a solution. I’m working all day with plugins since ’96 and something I’ve learned quickly is that I don’t want to use most of them but try to master only a handful instead. Here I go, and thanks again for that…Keep up the brilliant work.”</em></p>
          <h5>Peter “Minimalistix” Bellaert – producer, composer & arranger</h5>
          <p><em>“The best software EQs I have ever worked with and very stable in the low and a very pleasant high. An EQ that will not be quickly surpassed by other designers…it is the EQ now that I use on everything because this is simply the best.</br>
          I certainly look forward to your next products and hopefully you come with an equally high-quality compressor, limiter, clipper or vintage warmer. [We hear you, Peter! — OMas]</br>
          MAAT is my best friend Yessss. Keep up the good work!!!!”
          </em></p>
          <h5>Олег Ершов (Oleg “Yorshoff” Yershov, engineer & journalist)</h5>
          <p>Yorshoff put on his stylin’ holiday hat and created a Studio One video (with English subtitles) on visualization featuring thEQblue. Our highly adjustable sonogram in thEQ helps you to work quickly and precisely.</br>
              Смотрите это здесь:  <%= link_to 'По-русски', 'https://youtu.be/9Bl8KczEvyc', target: '_blank' %>
          </p>
          <h5>Sean Diggins, Digital Diggo Mastering</h5>
          <p><em>“thEQblue is a sleek, blue-sky clean “curve machine.” It's always about the curves and blue has the lot.”</em></p>
          <h5>Arpad Tchiba, classical engineer</h5>
          <p><em>“…Excellent, overwhelming! and looks beautiful. Thanks very much. It was absolutely worth waiting for.”</em></p>
          <h5>G.R. Neidinger, engineer & musician</h5>
          <p><em>“Somehow, in comparison to thEQblue, similar EQs sounded subtly but substantively veiled, dull, flat, on everything from studio monitors to even AirPods. I distributed some unlabeled test files pitting similar settings in thEQblue to its most logical competitor to some of my close colleagues, and they unanimously preferred thEQblue, citing similar reasons as I just gave.<br>
              Congratulations on another excellent product.”</em></p>
          <h5>Trevon, Steady Sounds Music Group (via GearSlutz)</h5>
          <p><em>“…the curves are great so is the sound…Especially as I use this for mastering. This (eqblue) has done wonders for my mastering and mix bus. If I had to have only one eq it would be the eqblue. Your <a href="https://www.maat.digital/rsphaseshifter/" target="_blank">phaseshifter</a> is vital to my drums. Excellent stuff.”</em></p>
          <h5>Alexander Poberejny, engineer and label owner</h5>
          <p><em>“I consider your thEQblue the best equalizer on the planet. I have it on every mix 100%.”</em></p>
          <h5>biomuse (via GearSlutz)</h5>
          <p><em>“…Then I tried the MAAT Blue. Oops. *Here* was the "holy ****!" moment that I was expecting from the Weiss but didn't get. Wow. Just gorgeous all around - transients crisp, low end solid like a kettlebell but with personality and guts to spare.”</em></p>
          <h4>Praise for the original Algorithmix Classic PEQ Blue</h4>
          <p>thEQblue actually improves on the original Classic PEQ Blue, with increased precision for even finer low amplitude detail, as does our SantaCruzEQ since it uses the same algorithms.</p>
          <h5>Bob Olhsson on the original Classic PEQ Blue (via Gearslutz)</h5>
          <p><em>“I still use blue and red…Blue and red remain unsurpassed sound-wise.”</em></p>
          <h5>TKFP on the original Classic PEQ Blue (via Gearslutz)</h5>
          <p><em>“You know mixing without blue, is like cereals without milk. So many good and usable EQs out there. Lets face it. Im a sucker for that good EQ tho. I really rely on it. I dont wanna see my new system running without it. That Algo stuff is still untouched. Its really good. Really good.”</em></p>
        <hr>
        <h4>Engineers & Reviewers! Want to add your voiceover to the mix?</h4>
        <p>Head to our
          <%= link_to 'Contact', '/contact' %> page and give a shout…We’d love to hear what you think!
          </p>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
    </div>
    <div class="space-60"></div>
  </div>
</section>
