<div class="cta-skin">
  <div class="container text-center">
    <h2>MAAT 3-Series CmStick/B Dongle</h2>
    <p><strong>Price: $59</strong>; includes $30 MAAT voucher</p>
    <div class="buttons">
      <a href="<%= current_page.data.avangate.buy %>"
        class="btn btn-xl btn-primary"> Buy Now <i class="ion-play"></i></a>
    </div>
    </form>
  </div>
</div>
