<div class="cta-skin">
  <div class="container text-center">
    <h2>Dongle</h2>
    <p><strong>Price: $49</strong>; includes $50 MAAT voucher</p>
    <div class="buttons">
      <a href="<%= current_page.data.avangate.buy %>"
        class="btn btn-xl btn-primary"> Buy Now <i class="ion-play"></i></a>
      <a href="<%= current_page.data.avangate.trial %>"
        class="btn btn-xl btn-white-border">Try It Now</a>
    </div>
    </form>
  </div>
</div>
