<section class="showcase-section" id="details">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>Wibu CmStick/B Miniature Dongle</h2>
      <p>The best license storage solution…set your licenses free.</p>
    </div>
    <div class="row align-items-center">
      <div class="col-md-4">
        <h3>Fast, Practical & Versatile </h3>
        <p>
          Clad in a sleek, stainless steel skin, MAAT’s CmStick from Wibu Systems provides portability, convenience and flexibility in how and where you deploy your licenses. The all metal case prevents unforeseen damage that could slow you down, and it’s so small it won’t weigh down your already overloaded key chain.<br>
          Our dongles work with all Wibu licenses that use the current generation of CmStick, and are required for MAAT’s thEQ series of matchless, ultra–resolution equalizers.<br>
        </p>
      </div>
      <div class="col-md-6 ml-auto mr-auto">
        <%= image_tag 'shot1-2bc.png', alt: "", class: "img-fluid center-img" %>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-12">
        <h5>An Extra Incentive</h5>
        <p>
          Sweetening the deal to move you toward hardware license storage, every MAAT dongle ships with a US$50 voucher for use on our ecommerce site. So, improve your business agility, and painlessly move up to the best way to store your licenses: a MAAT CmStick!
        </p>
      </div>
    </div>
  </div>
</section>
