<section class="showcase-section" id="details">
   <div class="space-90">
   </div>
   <div class="container">

    <div class="center-title">
      <h2>Wibu CmStick/B Miniature USB Dongle</h2>
      <p>The best license storage solution for 3<sup>rd</sup> party software.</p>
      <h4><strong>Price: $59</strong>; includes $30 MAAT voucher</h4>
    </div>

    <div class='space-60'>
    </div>
    
    <div class="row align-items-center">
      <div class="col-md-4">
        <h3>No Dongle Required</h3>
        <p>Here at MAAT, we’ve moved to a cloud–based licensing framework. What that means for you is; <em>no dongle required for any of our software products.</em> However, our CmSticks are still the best way to license other products that require a Wibu dongle.</p>
        <h3>Fast, Practical & Versatile</h3>
        <p>
          Clad in a sleek, stainless steel skin, MAAT’s CmStick from Wibu-Systems provides portability, convenience and flexibility in how and where you deploy your licenses. The tough, all metal case prevents unforeseen damage that could slow you down, and it’s so small (half the length of a 3<sup>rd</sup> generation iLok) it won’t weigh down your already overloaded dongle lanyard.</p>
        <p>
          Our dongles work with all Wibu licenses that use the current generation of CmStick. This includes licenses from <%= link_to 'MAGIX', 'https://www.magix.com/', target: '_blank' %> (DAWs) and <%= link_to 'BaseHead', 'https://baseheadinc.com/', target: '_blank' %> (sound effects/SFX search engine).<br>
        </p>
      </div>
      
      <div class="col-md-6 ml-auto mr-auto">
        <%= image_tag 'MAATDongle2.jpg', alt: "", class: "img-fluid center-img" %>
      </div>
    </div>
    
    <div class="row align-items-center">
      <div class="col-md-12">
        <h5>Maximize Uptime</h5>
        <p>
          When your host computer goes down, your soft or host–based license usually goes with it. That means yet one more recovery task; working with Support departments to recreate or restore your licenses.
        </p>
        <p>Why not keep your licenses on a safe and secure CmStick instead? Our 3-Series CmSticks will have you back up and running in far less time…Think of it as a very low cost insurance policy. Isn’t your time worth it?
        </p>
        <h5>Why Wait?</h5>
        <p>We have stock in both the EU and North America, so we can get you your ’Stick as quickly as you like. Typically, a CmStick order goes out First Class Mail via the US Postal Service. USPS shipping and tracking are included in the price. Expedited shipping is also available, just ask!</p>
      </div>
    </div>
      
    <div class="row align-items-center">
      <div class="col-md-12">
        <h5>An Extra Incentive</h5>
        <p>
          Sweetening the deal to move you toward hardware license storage, every MAAT dongle ships with a US$30 rebate voucher for use on our e–store. The rebate applies to any software product of ours with a price tag greater that $30. So, improve your business agility, and painlessly move up to the best way to store your licenses: a MAAT CmStick!
        </p>
        <p>Dongle questions? Send <a href="mailto:marcom@maat.digital?Subject=Dongle%20Questions" target="_top">us a note</a>, and we’ll help you figure it all out.
        </p>
      </div>
    </div>
   </div>
</section>
