<section class="steps">
  <div class="space-90"></div>
  <div class="container">
    <div class="center-title">
      <h2>Product Features</h2>
      <p>This is so special about our Product...</p>
    </div>
    <div class="row">
      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <h1>01</h1>
          <h4>Metering</h4>
          <p>
            <ul class="list">
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right Balance</li>
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right Correlation</li>
            </ul>
          </p>
        </div>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <h1>02</h1>
          <h4>Soloing</h4>
          <p>
            <ul class="list">
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right</li>
              <li><i class="ion-ios-arrow-thin-right"></i>MONO/DIFF (Mid/Side)</li>
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right Flip or channel swap</li>
            </ul>
          </p>
        </div>
      </div>



      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <h1>03</h1>
          <h4>some other features</h4>
          <p>
            <ul class="list">
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right Balance</li>
              <li><i class="ion-ios-arrow-thin-right"></i>Left/Right Correlation</li>
            </ul>
          </p>
        </div>
      </div>




    </div>
  </div>
  <div class="space-60"></div>
</section>
<!--end steps-->
