<section class="features-section border-bottom" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-ios-lightbulb-outline"></i>
          <h4>Strategic</h4>
          <p>The MAAT CmStick sets your licenses free. Free to take them anywhere, anytime.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3  margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-ios-cloudy-outline"></i>
          <h4>Light Weight</h4>
          <p>MAAT’s CmStick is tiny and tough. It’s out of your way even when plugged in, and won’t break off if bumped.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3  margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-ios-cog-outline"></i>
          <h4>Universal</h4>
          <p>The 3–Series CmStick works with all MAAT licenses plus most 3<sup>rd</sup> party Wibu licenses, including MAGIX.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-key"></i>
          <h4>Low Cost</h4>
          <p>Our dongle won’t empty your wallet! We include a $30 MAAT voucher to offset the cost, so grab yours today!</p>
        </div>
      </div>
    </div>
  </div>
</section>
