<section class="showcase-section">
  <div class="container">

    <div>
      <h3>Moving Your License</h3>
      <p>After purchasing your new hardware license container, you most likely will want to move your license(s) off of your current host and onto your new dongle. The first step is moving your license(s) into the cloud. Once it’s “parked” in the cloud, you can move it back onto your hardware license container.
        <br>License transfer or “re–hosting” is very similar to the activation process</p>

    </div>

    <div>
      <h4>Follow These Steps</h4>
      <ol>
        <li>First, open your MAAT product, or an instance of your MAAT plug–in…</li>
        <li>Next, navigate to the back panel of your MAAT product by clicking on the MAAT logo on the front panel.</li>
        <li>Click “Activate/Deactivate License.” Older products may only say “Activate License.” In this case,
          click on that instead.</li>
        <li>Enter your Product Key and click “Activate Online”.</li>
        <li>Click on the “Re-host Licenses” button. If multiple license entries are displayed, make sure the
          correct or desired license is selected.</li>
        <li>Click “Deactivate Selected Licenses Now.” The license is now dormant, and is available to be moved to a
          new host or dongle.</li>
      </ol>
      <p>Your license is now “parked” in the cloud, and can be moved to another CodeMeter “CmContainer” such as your
        dongle. Take a look at the <a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/Restoring_Your_MAAT_License.pdf"
          target="_blank">Restoring Your MAAT License</a> PDF, which shows you how to move your parked license onto your dongle.</p>
    </div>
  </div>
  <div class="space-30"></div>
</section>
<!--end steps-->
