<section class="features-bg">
  <div class="container">
    <div class="center-title">
      <h2>Stay Current</h2>
      <p>Looking for the latest version? Just download and install the demo! The installer will update everything and your license will take over when you next use the product.</p>
      <br>
      <h2>Speeds & Feeds</h2>
      <p>Features & Specifications</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-android-laptop"></i>
          </div>
          <div class="content">
            <h4>Requirements</h4>
            <p>macOS 10.8 and newer / Windows 7 and newer, 32 & 64 bit</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-document-text"></i>
          </div>
          <div class="content">
            <h4>Supporting</h4>
            <p>All MAAT products</p>
            <p>Other products supporting 3-Series CmStick/B</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

