---
title: "MAAT から日本の皆さんへ 30% OFF のスペシャルオファー"
layout: "data-spy"
---

<style type="text/css">
  body {
    font-feature-settings: "pkna";
  }
  .card-body p, .card-body li {
    text-align: justify;
  }
  .center-important * {
    text-align: center !important;
  }
</style>


<section id="home" class="dzsparallaxer auto-init dzsparallaxer use-loading loaded dzsprx-readyall" style="position: relative; height: 400px; padding-top: 100px;" data-options="{  mode_scroll: &quot;normal&quot; }">
  <div class="divimage dzsparallaxer--target " data-src="../assets/images/bg2-21817afa.jpg" style="width: 100%; height: 130%; background-image: url(&quot;../assets/images/bg2-21817afa.jpg&quot;); transform: translate3d(0px, -59.9999px, 0px);">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-7 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1 style="font-weight:600;">MAAT から日本の皆さんへ 30% OFF のスペシャルオファー</h1>
                  <p class="lead"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="showcase-section">
  <div class="container">
    <div class="space-60"></div>

    <div class="center-title">
      <h3><strong><em>Finally, we are releasing the Japanese Manual for you</em></strong></h3>
      <p>
        ついに、私達 MAAT 社の製品から待望の日本語マニュアルが発表されます！<br>
        thEQorange の日本語マニュアルが制作されることになり、その記念として日本の皆さんへ特別な感謝を送りたいと思います。<br>
        この特別な機会に是非、我々の製品についてチェックしてください！
      </p>
    </div>

    <div class="space-30"></div>
  </div>
</section>


<sectionclass="showcase-section">
  <div class="divimage" style="background-image: url(/assets/images/bg1.jpg);background-attachment: fixed;">
    <div class="space-60"></div>

    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-5 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1>thEQorange — 最高のリニアフェーズイコライザー</h1>
                  <p class="lead">妥協のないリニアフェイズを</p>
                </div>
                </div>
                <div class="col-md-7">
                  <%= image_tag "product-theqorange.png", alt: "thEQorange", class: "img-fluid center-img" %>
                </div>

                <div class="space-60"></div>

                <div class="col-md-7 ml-auto mr-auto align-self-center">
                  <iframe style="width: 100%;aspect-ratio: 16 / 9;box-shadow: 0 0 5px #333;" src="https://www.youtube.com/embed/wefNJ0iA_uU?si=a_BwABu05ztogrt5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="col-md-5">
                  <div class="hero-static">
                  <h1>何故、thEQorange を選択する必要があるのか</h1>
                  <p class="lead">thEQorange の実力を聴く</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="space-60"></div>
  </div>
</section>


<section class="showcase-section">
  <div class="container">
    <div class="space-60"></div>

      <div class="card border-light">
        <div class="card-body">
          <h3 class="text-center">thEQorange is one of the best Digital EQ</h3>
          <div class="space-30"></div>
          <h4 class="text-center margin-b-5">世界最強のデジタル EQ の実力をとくとご覧あれ</h4>
          <div class="row justify-content-center">
            <p class="col-lg-9 col-md-12 margin-b-20">
              thEQorange は単なる Digital EQ でもなければ、単なる Linear Phase EQ でもありません。それは使用してみればすぐに気付かされ、その実力にすぐに驚かされるでしょう。<br>
              <br>
              多くのマスタリングエンジニアは Algorithmix の伝説的なオリジナル Linear Phase PEQ Orange のファンでした。残念ながら Algorithmix EQ は PC とワークステーション用の 32 ビット VST としてのみ提供されており、業界はそれ以来進化してきました。エンジニアたちは代替品を何度も求め Bob Katz 氏は EQuilibrium を勧めました。これは非常に多機能なツールです。しかし我々は、オリジナルの PEQ Orange に代わる満足できる EQ を見つけることができませんでした。<br>
              <br>
              この EQ の最高傑作を再開発し 64 ビット版としてすべての一般的なフォーマットで macOS 用に提供するというアイデアが生まれました。Algorithmix との合意が成立し MAAT は 2017 年半ばにスタートしました。<br>
              <br>
              thEQorange の魔法は「極端な EQ を適用した」という感覚を持たずに周波数を取り除けることです。EQ が聞こえないのです。結果は自然に聞こえ、突然ステレオイメージが広がります。これは EQ の副作用ではなく、すべてが互いにぶつかり合うことなく適切な場所に収まるようにスペースを作った結果です。さらに Low Cut も使用できます。はい Linear Phase EQ であるにもかかわらずです。
            </p>
          </div>
          <div class="space-30"></div>
          <div class="feedback-box">
            <div class="margin-b-30 text-center">
              <img src="/assets/images/team/masciarotte-51235ade.jpg" alt="Oliver Masciarotte" class="rounded-circle margin-b-20">
              <h4 class="margin-b-5">Oliver Masciarotte</h4>
              <p class="text-muted text-center">Co-Founder, Secretary &amp; Product Management</p>
            </div>
            <div class="row">
              <p class="col-lg-6 col-md-12 margin-b-30">
              こんにちは、そしてようこそ！<br>
              <br>
              MAATにご関心をお寄せいただきありがとうございます。お客様としてご関心をお寄せいただければ幸いです。私たちの小さなグループは、スタジオで最高のサウンドを提供するツールの作成に情熱を注いでいます。モバイル環境、高品質のヘッドフォンを備えたラップトップから、完全に調整された部屋での超線形監視まで、当社の透明なエフェクト製品と高精度の測定ツールは、作業をより速く、より簡単にするのに役立ちます。<br>
              <br>
              改めてご訪問いただき、誠にありがとうございます。お客様とご一緒できることを楽しみにしております。
              </p>
              <p class="col-lg-6 col-md-12 margin-b-30">
              Hello and welcome!<br>
              <br>
              Thanks for your interest in MAAT. We’d be glad to have you as a customer. Our little group of fidelity fanatics tries to manufacture the best sounding, easy to use tools for your studios. Whether that’s a mobile rig, laptop and high quality cans, or a full blown, treated room with ultralinear monitoring, we’ve got you covered with transparent EFX, high precision measurement and OMG utilities that help speed you through your day.<br>
              <br>
              Thank you again for visiting. We very much appreciate it and look forward to working with you.
              </p>
            </div>
          </div>

          <h4 class="text-center margin-b-5">日本の皆さんへのスペシャルオファー</h4>
          <div class="row justify-content-center">
            <p class="col-lg-6 col-md-12 text-center">
              商品決算時に <strong style="color:#516BCD">30% OFF</strong><br>
              特別クーポンコード: <strong style="color:#FF762A">30-PERCENT-FEPROMO-2024</strong><br>
              クーポン有効期間: <strong style="color:#FF1C31">2024/11/15 〜 2024/11/30</strong><br>
              <br>
              お支払いの際は、決済時に上記のクーポンコードをコピー&ペーストするか、クーポンコード入力欄に慎重に入力してください。ライセンスには、永久ライセンスと年間サブスクリプションライセンスの2種類がありますので、決済を完了する前に、チェックアウト時に金額と製品を確認してください。30%の割引は、製品カート全体に適用されます。
            </p>
          </div>
          <div class="space-60"></div>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <h4 class="margin-b-5">MAAT Digital 製品初のマニュアル日本語化</h4>
              <p>ついに MAAT Digital 製品の thEQorange のマニュアルが日本語化されました。製品は永久ライセンスとサブスクリプションライセンスを選択して購入することができます。</p>
              <p>
                <strong style="font-size:200%; vertical-align: middle;">☞</strong>&nbsp;Buy Now: <a data-fsc-item-path-value="maat-theqorange-perpetual-license" data-fsc-action="Add, Checkout" style="color:#4aa3df;cursor:pointer;font-weight:bold;">thEQorange</a><br>
                <strong style="font-size:200%; vertical-align: middle;">☞</strong>&nbsp;Subscribe Now: <a data-fsc-item-path-value="maat-theqorange-annual-subscription" data-fsc-action="Add, Checkout" style="color:#4aa3df;cursor:pointer;font-weight:bold;">thEQorange and thEQred</a>
              </p>
            </div>
            <div class="col-lg-6 col-md-12">
              <h4 class="margin-b-5">MAAT Digital は無償提供のプラグインも配布しています。</h4>
              <p>私たちの 2 つの無償配布製品でさえ、あなたにとって所持する価値のあるものです。</p>
              <p>
                <strong style="font-size:200%; vertical-align: middle;">☞</strong>&nbsp;<a href="/2buscontrol/" target="_blank">2BUSControl</a>: ステレオバスマスター用のユニバーサル・メータープラグイン<br>
                <strong style="font-size:200%; vertical-align: middle;">☞</strong>&nbsp;<a href="/gon/" target="_blank">GŌN</a>: ステレオバスマスター用の無料のユニバーサル視覚化プラグイン
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="space-60"></div>
  </div>
</section>


<section class="showcase-section" style="background:#FFF8F0;">
  <div class="container">
    <div class="space-60"></div>
    <div class="row">

      <div class="col-lg-9 col-md-12 order-lg-2">
        <div class="card-body">
          <h3>中川 統雄</h3>
          <h4 class="margin-b-5">Composer, Pianist, Mastering Engineer</h4>
          <p>thEQorange は他の EQ とは一線を画す卓越した EQ で、その理由は多岐にわたります。まず、IIR ベースのリニアフェイズ設計を採用しているため、一般的な FIR フィルターの欠点であるリンギング（フィルターが原因で発生する音の残響や波打ち現象）が極めて少ないのが特徴です。また、FIR フィルターによるリニアフェイズ EQ では、周波数分解能と時間領域での精度の両立が難しい場合がありますが、IIR による高度なリニアフェイズ EQ である thEQorange は、この二つを非常に高い次元で両立しています。</p>
          <p>さらに、thEQorange はトランジェントスムージングの問題にも対応しており、他のリニアフェイズ EQ ではトランジェントが丸められ、鋭さが失われがちですが、thEQorange ではその影響が極めて少なく、特にトランジェントが重要な音源においても音の鮮明さを保ちます。これにより、ミキシングやマスタリング作業において高い信頼性を持ちます。</p>
          <p>また、内部処理には高精度な 80bit が採用されており、IIR フィルター特有のフィードバックループによる計算誤差の蓄積やノイズを極限まで抑えています。これにより、他のEQでは得られない透明な音質を実現しています。</p>
          <h4 class="margin-b-5">使用感</h4>
          <p>私はまず、DC コンタミネーション（DC オフセットや低域アーティファクト）対策として、ローエンドにハイパスフィルターを入れる際に thEQorange を使用します。この目的では、他のプラグインは使用しません。thEQorange の効果は他の EQ と比較すると一聴瞭然で、あたかも「元からそのような音源であった」かのように自然に処理を行います。DC コンタミネーション問題を thEQorange で適切に対処すると、それまで濁っていた音が驚くほどクリアーになります。</p>
          <p>他の EQ では、処理後に「輪郭」のようなものが感じられ、EQ をかけたことが明確に分かってしまうことがあります。しかし、thEQorange ではそのような問題がなく、処理が非常に自然です。</p>
          <p>さらに、多数のポイントを使用して複雑な EQ カーブを描いた場合、その差は一層明確です。複雑なカーブを用いた際、他の EQ では位相の乱れやリンギング、トランジェントスムージング、IMD の発生、累積スペクトル減衰の遅延、レゾナンスの強調といった副作用が顕著に現れます（特にピアノやドラムでは顕著です）。しかし、thEQorange ではそうした副作用が極めて少なく、他の EQ とは比較にならないほど自然な処理を行います。もちろん、完全に副作用がゼロというわけではありません が、その影響は非常に小さく、私にとってクリニカルな処理には欠かせない EQ です。</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-12 order-lg-1">
        <div class="card-body" style="text-align:center;">
          <img src="/assets/images/jplanding/Nakagawa.jpg" style="border-radius:50%;width:100%;max-width:400px;margin:2rem 0;">
          <h5>中川 統雄（なかがわのりお）<br>作曲家 マスタリングエンジニア</h5>
          <p>個人名義及びプロジェクトによるアルバム 4 枚リリース。代表曲「The Secret of Antikythera」「Cryptobiosis」等。多数のアーティストの作品に関わる。グロマイヤー賞ノミネート、E.ナカミチ賞受賞、日本音楽コンクール作曲部門 2 位ほか</p>
        </div>
      </div>

    </div>
    <div class="space-60"></div>
  </div>
</section>


<section class="showcase-section" style="background:#F0F8FF;">
  <div class="container">
    <div class="space-60"></div>

    <div class="row">

      <div class="col-lg-9 col-md-12">
        <div class="card-body">
          <h3>Naruki Konagaya</h3>
          <h4 class="margin-b-5">Producer/Engineer for Recording and Mixing</h4>
          <p>正直なところ、数年前までは、私にとって Digital EQ は見た目が異なるだけで、どれも同じように思えていました。もちろん、いくつかの有名な Digital EQ の違いをなんとなく感じてはいましたが、それは音質ではなく、ワークフローにおける操作感や、動作の軽さ、手に馴染むか（手癖に近い）といった面での違いでした。音の違いを積極的に聞き取ろうとすることさえ躊躇っていたのです。各 EQ の「色」のようなものは感じていたし、認識もしていましたが、それを気にするほどのレベルに自分が到達していなかったのです。</p>
          <p>Linear Phase EQ (FIR) についてもデメリット含め理解し、どのようなシチュエーションで有用に利用できるか、逆に使用を躊躇うシチュエーションはどういう時か学んでいくうちに、通常の EQ との音の差を気にしなくなったのか、感じづらく分かりづらくなり、さらに EQ を使い込むにつれて、セッションで積極的に Linear Phase EQ を使用することが少なくなっていきました。有名なエンジニアがマスター処理で LPF や HPF を使用する意味を音楽的に語っていたものの、正直なところ、マスター処理において HPF や LPF を使う意義が自分には見いだせなくなっていたのです。デメリットがあまりにも際立って聴こえてしまっていたからです。</p>
          <p>そんな中、数年前に thEQorange の HPF (Low-Cut) を試したとき、思わず笑ってしまいました。それほど、この EQ の実力に驚かされたのです。通常、HPF を積極的に使用すると低域が引っ込み、少し過剰になると Low-end がにじんで不明瞭に処理されてしまいますが、thEQorange は全く違います。極端な超低域 (10Hz〜20Hz) を処理するだけで、新たな次元が見えてきます。必ず、極低域がしっかり確認できる視聴環境で試してください。</p>
          <p>さらに、LPF もマスター処理において積極的に使用する意義が見えてきました。余計な高周波を処理することで、クリアなマスターサウンドが表現できるようになりますが、通常の EQ でこれを行うとステレオイメージや音源の Depth/Dimension に影響が出てしまい、マスター処理で LPF を有効にすることなんて、thEQorange を利用するまで本当にありえないことでした。しかし、thEQorange ではそのようなデメリットがほとんど感じられないレベルで処理が可能です。</p>
          <p>この EQ は単なる Linear Phase EQ (FIR) ではありません。再帰フィルター (IIR) と Forward-Backward フィルターを組み合わせ、アーティファクトを極限まで排除した特別な EQ なのです。このため、thEQorange は Linear Phase EQ でありながら、積極的かつ極端な Q 設定、Boost/Attenuate、HPF、LPF の利用を同時に行うことが可能です。この動作は通常の Linear Phase EQ のセオリーに反するものです。</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-12">
        <div class="card-body" style="text-align:center;">
          <img src="/assets/images/jplanding/Naruki.jpg" style="border-radius:50%;width:100%;max-width:400px;margin:2rem 0">
          <h5>Naruki (小長谷 成希) <br>Producer / Engineer</h5>
          <p>海外の映像音楽などを主に、国内でもバンド、アーティストなどのプロデュースからレコーディングやミックス、マスタリングまでを手掛ける。近年はプラグインの制作に携わることが多く、アメリカ、イギリス、ドイツ、中国などグローバルに活動。</p>
        </div>
      </div>
    </div>

    <div class="space-60"></div>
  </div>
</section>

<div class="container">
  <div class="space-60"></div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card border-light">
        <div class="card-body">
          <div class="center-title">
            <h3>Other line-up</h3>
            <h4 class="margin-b-5">thEQred, thEQblue, SantaCruzEQ</h4>
            <p style="text-align:center;">
              用途に応じて複数の製品がラインナップされています。<br>
              それぞれの使用用途を簡単に見ていきましょう。
            </p>
          </div>
          <div class="space-30"></div>

          <div class="row">
            <div class="col-lg-5 col-md-12 order-lg-2">
              <a href="/theqred/" target="_blank"><%= image_tag "product-theqred.png", alt: "thEQred", class: "img-fluid center-img" %></a>
            </div>
            <div class="col-lg-7 col-md-12 order-lg-1 card-body">
              <a href="/theqred/" target="_blank"><h4 class="margin-b-5"><strong style="font-size:200%; vertical-align: middle;">☞</strong>&nbsp;thEQred</h4></a>
              <ol class="om">
                <li>thEQred は美的イコライゼーション向けに設計されています。</li>
                <li>thEQred は周波数ドメインでのみ動作しますが、Linear Phase の姉妹機である thEQorange よりも少しソフトな印象を持つサウンドです。</li>
                <li>thEQorange は「外科的」な作業のための EQ として設計されていますが、thEQred はさらなる音楽性の追求を目指した追加の EQ になります。</li>
                <li>thEQred は美的作業、つまり時間領域に影響を与えずに素材のサウンドを改善する芸術的なイコライゼーションに最適です。</li>
                <li>thEQorange と同様にどちらも Linear Phase であるため thEQred は thEQblue のようにサウンドに特徴を残しません。</li>
                <li>thEQred では特別な補正が適用され、アナログ EQ とまったく同じように聴こえ、滑らかなアナログサウンドが得られます。</li>
              </ol>
            </div>
          </div>

          <div class="space-60"></div>

          <div class="row">
            <div class="col-lg-5 col-md-12">
              <a href="/theqblue/" target="_blank"><%= image_tag "product-theqblue.png", alt: "thEQblue", class: "img-fluid center-img" %></a>
            </div>
            <div class="col-lg-7 col-md-12 card-body">
              <a href="/theqblue/" target="_blank"><h4 class="margin-b-5"><strong style="font-size:200%; vertical-align: middle;">☞</strong> thEQblue</h4></a>
              <ol class="om">
                <li>Linear Phase EQ 以外をお探しの場合は thEQblue を選択するとよいでしょう</li>
                <li>thEQblue はクラシックな最小位相イコライザーアーキテクチャを 1 つのパッケージにまとめた最も完全なコレクションです。</li>
                <li>伝説的なアナログイコライザー回路の正確で理想的な例と、進歩的な新しいモデルが得られます。</li>
                <li>ヴィンテージ、モダン、エクスペリメンタルなど、thEQblue はすべてのミキシングおよびマスタリングエンジニアが操作できる音響サンドボックスです</li>
                <li>アナログのしがらみを伴うモデルやシミュレーションではなく、thEQblue にはアナログから受け継いだノイズ、歪み、その他の二次的影響はありません。</li>
                <li>thEQblue に革新的な新技術を追加しました。<a href="/fidef/" target="_blank"><strong>FiDef</strong></a> と呼ばれるこの技術は、アナログの最高峰が醸し出す言葉では言い表せない美しさをプラスします。</li>
              </ol>
            </div>
          </div>

          <div class="space-60"></div>
          <div class="row">
            <div class="col-lg-5 col-md-12 order-lg-2">
            <a href="/santacruzeq/" target="_blank"><%= image_tag "product-santacruzeq.png", alt: "SantaCruzEQ", class: "img-fluid center-img" %></a>
            </div>
            <div class="col-lg-7 col-md-12 order-lg-1 card-body">
              <a href="/santacruzeq/" target="_blank"><h4 class="margin-b-5"><strong style="font-size:200%; vertical-align: middle;">☞</strong> SantaCruzEQ</h4></a>
              <ol class="om">
                <li>SantaCruzEQ はクラシックなイコライザーアーキテクチャの完全なコレクションを 1 つのパッケージにまとめたものです。</li>
                <li>伝説的なアナログイコライザー回路の正確で理想的な例と、革新的な新しいモデルが組み合わされています。</li>
                <li>SantaCruzEQ は優れた忠実度、強化されたワークフロー、視覚疲労の軽減がより高品質なツールセットの特徴であるという信念に基づいて構築されています。</li>
                <li>12 種類のイコライザーアーキテクチャはすべて、+6dB のゲインでまったく同じベル形状になるように正規化されています。</li>
                <li>この Q または品質係数の正規化は MAAT 独自の機能であり、当社のアーキテクチャをアナログの前身と区別するものです。</li>
                <li>この正規化により、SantaCruzEQ のさまざまな EQ アーキテクチャを簡単に比較できます。</li>
              </ol>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="space-60"></div>
</div>