---
title: "Promotional campaign for Japanese friends"
layout: "data-spy"
---

<style type="text/css">
  body {
    font-feature-settings: "palt";
  }
  .card-body p, .card-body li {
    text-align: justify;
  }
  .center-important {
    text-align: center !important;
  }
</style>


<section id="home" class="dzsparallaxer auto-init dzsparallaxer use-loading loaded dzsprx-readyall" style="position: relative; height: 400px; padding-top: 100px;" data-options="{  mode_scroll: &quot;normal&quot; }">
  <div class="divimage dzsparallaxer--target " data-src="../assets/images/bg2-21817afa.jpg" style="width: 100%; height: 130%; background-image: url(&quot;../assets/images/bg2-21817afa.jpg&quot;); transform: translate3d(0px, -59.9999px, 0px);">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-7 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1 style="font-weight:600;">Promotional campaign for Japanese friends</h1>
                  <p class="lead"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="showcase-section">
  <div class="container">
    <div class="space-60"></div>

    <div class="center-title">
      <h3><strong><em>Finally, we are releasing the Japanese Manual for you</em></strong></h3>
      <p>ついに、私達 MAAT Digital 製品から待望の日本語マニュアルが発表されます！<br>thEQorange の日本語マニュアルが制作されることになり、その記念として日本の皆さんへ特別な感謝を送りたいと思います。<br>この特別な機会に是非、我々の製品についてチェックしてください！</p>
    </div>

    <div class="space-30"></div>
  </div>
</section>


<sectionclass="showcase-section">
  <div class="divimage" style="background-image: url(/assets/images/bg1.jpg);background-attachment: fixed;">
    <div class="space-60"></div>

    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-5 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1>thEQorange — 最高のリニアフェーズイコライザー</h1>
                  <p class="lead">妥協のないリニアフェイズを</p>
                </div>
                </div>
                <div class="col-md-7">
                  <%= image_tag "product-theqorange.png", alt: "thEQorange", class: "img-fluid center-img" %>
                </div>

                <div class="space-60"></div>

                <div class="col-md-7 ml-auto mr-auto align-self-center">
                  <iframe style="width: 100%;aspect-ratio: 16 / 9;box-shadow: 0 0 5px #333;" src="https://www.youtube.com/embed/wefNJ0iA_uU?si=a_BwABu05ztogrt5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="col-md-5">
                  <div class="hero-static">
                  <h2>何故、thEQorange を選択する必要があるのか</h2>
                  <p class="lead">thEQorange の実力を聴く</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="space-60"></div>
  </div>
</section>


<div class="container">
  <div class="space-60"></div>

  <div class="row">
    <div class="col-lg-12 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body center-important">
        <h3>thEQorange is one of the best Digital EQ</h3>
        <div class="space-30"></div>
        <h4>世界最強のデジタル EQ の実力を篤と(とくと)ご覧あれ</h4>
        <p>thEQorange は単なる Digital EQ でもなければ、単なる Linear Phase EQ でもありません。それは使用してみればすぐに気付かされ、その実力にすぐに驚かされるでしょう。<br></p>
        <div class="space-30"></div>
        <h4>MAAT Digital 製品初のマニュアル日本語化</h4><p>ついに MAAT Digital 製品の thEQorange のマニュアルが日本語化されました。この機会に是非、我々の製品についてチェックしてください。<br></p>
        <p><strong style="font-size:200%; vertical-align: middle;">☞</strong>&nbsp;<a href="" target="_blank">Buy Now: thEQorange</a><br>
        <strong style="font-size:200%; vertical-align: middle;">☞</strong>&nbsp;<a href="" target="_blank">Subscribe Now: thEQorange</a></p>
        <div class="space-30"></div>
        <h4>MAAT Digital は無償提供のプラグインも配布しています。</h4><p>私たちの 2 つの無償配布製品でさえ、あなたにとって所持する価値のあるものです。<br></p><p><strong style="font-size:200%; vertical-align: middle;">☞</strong>&nbsp;2BUSControl: ステレオバスマスター用のユニバーサル・メータープラグイン<br>
        <strong style="font-size:200%; vertical-align: middle;">☞</strong>&nbsp;GŌN: ステレオバスマスター用の無料のユニバーサル視覚化プラグイン</p>
      </div>
    </div>
  </div>

  <div class="space-60"></div>
</div>


<section class="showcase-section" style="background:#FFF8F0;">
  <div class="container">
    <div class="space-60"></div>
    <div class="row">

      <div class="col-lg-3 col-sm-6">
        <div class="card-body">
          <img src="/assets/images/jplanding/Nakagawa.jpg" style="border-radius:50%;width:100%;margin:2rem 0;">
          <h5 style="text-align:center;">中川 統雄（なかがわのりお）<br>作曲家 マスタリングエンジニア</h5>
          <p style="text-align:center;">個人名義及びプロジェクトによるアルバム4枚リリース。代表曲「The Secret of Antikythera」「Cryptobiosis」等。多数のアーティストの作品に関わる。グロマイヤー賞ノミネート、E.ナカミチ賞受賞、日本音楽コンクール作曲部門2位ほか</p>
        </div>
      </div>

      <div class="col-lg-9 col-sm-6">
        <div class="card-body">
          <h3>中川 統雄</h3>
          <h4>Composer, Pianist, Mastering Engineer</h4>
          <p>thEQorange は他の EQ とは一線を画す卓越した EQ で、その理由は多岐にわたります。まず、IIR ベースのリニアフェイズ設計を採用しているため、一般的な FIR フィルターの欠点であるリンギング (フィルターが原因で発生する音の残響や波打ち現象) が極めて少ないのが特徴です。また、FIR フィルターによるリニアフェイズ EQ では、周波数分解能と時間領域での精度の両立が難しい場合がありますが、IIR による高度なリニアフェイズ EQ である thEQorange は、この二つを非常に高い次元で両立しています。</p>
          <p>さらに、thEQorange はトランジェントスムージングの問題にも対応しており、他のリニアフェイズ EQ ではトランジェントが丸められ、鋭さが失われがちですが、thEQorange ではその影響が極めて少なく、特にトランジェントが重要な音源においても音の鮮明さを保ちます。これにより、ミキシングやマスタリング作業において高い信頼性を持ちます。</p>
          <p>また、内部処理には高精度な 80bit が採用されており、IIR フィルター特有のフィードバックループによる計算誤差の蓄積やノイズを極限まで抑えています。これにより、他のEQでは得られない透明な音質を実現しています。</p>
          <h4>使用感</h4>
          <p>私はまず、DC コンタミネーション (DC オフセットや低域アーティファクト) 対策として、ローエンドにハイパスフィルターを入れる際に thEQorange を使用します。この目的では、他のプラグインは使用しません。thEQorange の効果は他の EQ と比較すると一聴瞭然で、あたかも「元からそのような音源であった」かのように自然に処理を行います。DC コンタミネーション問題を thEQorange で適切に対処すると、それまで濁っていた音が驚くほどクリアーになります。</p>
          <p>他の EQ では、処理後に「輪郭」のようなものが感じられ、EQ をかけたことが明確に分かってしまうことがあります。しかし、thEQorange ではそのような問題がなく、処理が非常に自然です。</p>
          <p>さらに、多数のポイントを使用して複雑な EQ カーブを描いた場合、その差は一層明確です。複雑なカーブを用いた際、他の EQ では位相の乱れやリンギング、トランジェントスムージング、IMD の発生、累積スペクトル減衰の遅延、レゾナンスの強調といった副作用が顕著に現れます (特にピアノやドラムでは顕著です)。しかし、thEQorange ではそうした副作用が極めて少なく、他の EQ とは比較にならないほど自然な処理を行います。もちろん、完全に副作用がゼロというわけではありません が、その影響は非常に小さく、私にとってクリニカルな処理には欠かせないEQです。</p>
        </div>
      </div>

    </div>
    <div class="space-60"></div>
  </div>
</section>


<section class="showcase-section" style="background:#F0F8FF;">
  <div class="container">
    <div class="space-60"></div>

    <div class="row">
      <div class="col-lg-9 col-sm-6">
        <div class="card-body">
          <h3>Naruki Konagaya</h3>
          <h4>Producer/Engineer for Recording and Mixing</h4>
          <p>正直なところ、数年前では、私にとって Digital EQ というものは見た目が違うだけで全て同じようなものに見えていました。もちろん、いくつかの有名な Digital EQ の違いについてはなんとなく感じていましたが、音ではなく、その実際のワークフロー上の動作的な違い、動作の軽さや手を伸ばしやすい (手癖に近い) かどうか、などばかりに囚われており、音の違いを聞くことすら躊躇っていました。もちろん、各 EQ の色のようなものは感じていましたし、知っていましたが、差を気にするレベルに自分自身が到達していませんでした。</p>
          <p>もちろん、Linear Phase EQ (FIR) についてもどういうものか理解し、何が有用で何が良くないのか、そしてそれらを理解すればするほどに、通常の EQ の差を感じられなくなり、また使えば使うほど、Linear Phase EQ を積極的にセッションで利用することが無くなりました。しかし、有名なエンジニアはマスター処理に LPF や HPF を使う意味を音楽的に語っていましたが、正直なところ、自分はマスター処理をするとき、HPF や LPF を使う意味がわからなくなっていたのです。デメリットが聞こえすぎるのです。</p>
          <p>数年前に thEQorange の PHF (Low-Cut) を試したとき、笑いが止まりませんでした。それくらい、この EQ の実力に驚かされたのです。通常、PHF を積極的に利用すると低域が引っ込み、少しでもやりすぎると Low-end が滲み、不明瞭に処理されますが、thEQorange は全く違います。極端な極超低域 (10Hz~20Hz) を処理するだけで新しい極地が見えてきます。必ず、低域がよく確認できる視聴環境で試してください。</p>
          <p>また、LPF もマスター処理において積極的に使う意味が見出せました。余計な高周波を処理するだけでクリアなマスターを表現するために利用できたりしますが、通常の EQ でこれを行うと、ステレオイメージや音源の Depth/Dimension 表現に影響を与えます。しかし、thEQorange ではそのようなデメリットは存在しないと言ってもいいレベルで処理が可能です。</p>
          <p>この EQ は単なる Linear Phase EQ (FIR) ではありません。再起フィルター (IIR) と Forward-Backforward フィルターを駆使した、極限までアーティファクトを排除した特別な EQ なのです。このため、thEQorange は Linear Phase EQ ではありながら、積極的、または極端な Q 設定と Boost/Attenuate を同時に行うことができます。この動作は通常の Linear Phase EQ のセオリーに反します。</p>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="card-body">
          <img src="/assets/images/jplanding/Naruki.jpg" style="border-radius:50%;width:100%;margin:2rem 0">
          <h5 style="text-align:center;">Naruki (小長谷 成希) <br>Producer / Engineer</h5>
          <p style="text-align:center;">海外の映像音楽などを主に、国内でもバンド、アーティストなどのプロデュースからレコーディングやミックス、マスタリングまでを手掛ける。近年はプラグインの制作に携わることが多く、アメリカ、イギリス、ドイツ、中国などグローバルに活動。</p>
        </div>
      </div>
    </div>

    <div class="space-60"></div>
  </div>
</section>

<div class="container">
  <div class="space-60"></div>

  <div class="row">
    <div class="col-lg-12 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3>Other line-up</h3>
          <h4>thEQred, thEQblue, SantaCruzEQ</h4>
          <p>用途に応じて複数の製品がラインナップされています。</p><p>それぞれの使用用途を簡単に見ていきましょう。</p>
          <div class="space-60"></div>

          <div class="row">
            <div class="col-lg-7 col-sm-6">
              <a href="/theqred/" target="_blank"><h4><strong style="font-size:200%; vertical-align: middle;">☞</strong>&nbsp;thEQred</h4></a>
              <ol class="om">
                <li>thEQred は美的イコライゼーション向けに設計されています。</li>
                <li>thEQred は周波数ドメインでのみ動作しますが、Linear Phase の姉妹機である thEQorange よりも少しソフトな印象を持つサウンドです。</li>
                <li>thEQorange は「外科的」な作業のための EQ として設計されていますが、thEQred はさらなる音楽性の追求を目指した追加の EQ になります。</li>
                <li>thEQred は美的作業、つまり時間領域に影響を与えずに素材のサウンドを改善する芸術的なイコライゼーションに最適です。</li>
                <li>thEQorange と同様にどちらも Linear Phase であるため thEQred は thEQblue のようにサウンドに特徴を残しません。</li>
                <li>thEQred では特別な補正が適用され、アナログ EQ とまったく同じように聴こえ、滑らかなアナログサウンドが得られます。</li>
              </ol>
            </div>
            <div class="col-lg-5 col-sm-6">
              <a href="/theqred/" target="_blank"><%= image_tag "product-theqred.png", alt: "thEQred", class: "img-fluid center-img" %></a>
            </div>

            <div class="space-60"></div>

            <div class="col-lg-5 col-sm-6">
              <a href="/theqblue/" target="_blank"><%= image_tag "product-theqblue.png", alt: "thEQblue", class: "img-fluid center-img" %></a>
            </div>
            <div class="col-lg-7 col-sm-6">
              <a href="/theqblue/" target="_blank"><h4><strong style="font-size:200%; vertical-align: middle;">☞</strong> thEQblue</h4></a>
              <ol class="om">
                <li>Linear Phase EQ 以外をお探しの場合は thEQblue を選択するとよいでしょう</li>
                <li>hEQblue はアティテュードを持つ thEQred として考えるとよいでしょう。</li>
                <li>thEQblue はクラシックな最小位相イコライザー アーキテクチャを 1 つのパッケージにまとめた最も完全なコレクションです。</li>
                <li>伝説的なアナログイコライザー回路の正確で理想的な例と、進歩的な新しいモデルが得られます。</li>
                <li>ヴィンテージ、モダン、エクスペリメンタルなど、thEQblue はすべてのミキシングおよびマスタリングエンジニアが操作できる音響サンドボックスです</li>
                <li>アナログのしがらみを伴うモデルやシミュレーションではなく、thEQblue にはアナログから受け継いだノイズ、歪み、その他の二次的影響はありません。</li>
                <li>thEQblue に革新的な新技術を追加しました。<a href="/fidef/" target="_blank"><strong>FiDef</strong></a> と呼ばれるこの技術は、アナログの最高峰が醸し出す言葉では言い表せない美しさをプラスします。</li>
              </ol>
            </div>

            <div class="space-60"></div>

            <div class="col-lg-7 col-sm-6">
              <a href="/santacruzeq/" target="_blank"><h4><strong style="font-size:200%; vertical-align: middle;">☞</strong> SantaCruzEQ</h4></a>
              <ol class="om">
                <li>SantaCruzEQ はクラシックなイコライザーアーキテクチャの完全なコレクションを 1 つのパッケージにまとめたものです。</li>
                <li>伝説的なアナログイコライザー回路の正確で理想的な例と、革新的な新しいモデルが組み合わされています。</li>
                <li>SantaCruzEQ は優れた忠実度、強化されたワークフロー、視覚疲労の軽減がより高品質なツールセットの特徴であるという信念に基づいて構築されています。</li>
                <li>SantaCruzEQ では、6 種類 (SantaCruzEQ6) または 12 種類 (SantaCruzEQ12) のアーキテクチャスタイルから最大 6 つのセクションを呼び出すことができます。</li>
                <li>12 種類のイコライザーアーキテクチャはすべて、+6dB のゲインでまったく同じベル形状になるように正規化されています。</li>
                <li>この Q または品質係数の正規化は MAAT 独自の機能であり、当社のアーキテクチャをアナログの前身と区別するものです。</li>
                <li>この正規化により、SantaCruzEQ のさまざまな EQ アーキテクチャを簡単に比較できます。</li>
              </ol>
            </div>
            <div class="col-lg-5 col-sm-6">
              <a href="/santacruzeq/" target="_blank"><%= image_tag "product-santacruzeq.png", alt: "SantaCruzEQ", class: "img-fluid center-img" %></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="space-60"></div>
</div>