---
title: "Advisory Board"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="row">

    <div class="col-sm-12">
      <div class="center-title">
        <h2>Meet our creative team</h2>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 margin-b-30">
      <div class="feedback-box">
        <div class="margin-b-30 text-center">
          <%= image_tag 'team-musialik.jpg', alt: "", class: "rounded-circle margin-b-20" %>
          <h4 class="text-capitalize margin-b-5">Dr. Christoph Musialik</h4>
          <p class="text-muted">DSP Genius</p>
        </div>
        <p>
          Dr. Musialik is highly respected as one of the very top DSP or Digital Signal Processing specialists in the world. His algorithms
          are embedded in tools from SSL through Waves to Cadac. In 2008, Christoph Musialik was presented with the AES Fellowship
          Award for outstanding contributions in the development of advanced digital signal processing tools used in the
          restoration and filtering of audio signals. He is current Chair of the AES DSP board. The benchmark algorithms
          he created for Algorithmix will by licensed by MAAT to be transformed into modern, state of the art, cross–platform
          audio tools. Dr. Musialik actively advises the MAAT team in all areas of DSP optimization, so that both the licensed
          Algorithmix code and proprietary MAAT coding will fulfill our customer’s highest expectations and standards.
        </p>
      </div>

    </div>
    <div class="col-lg-4 col-md-6 margin-b-30">
      <div class="feedback-box">
        <div class="margin-b-30 text-center">
          <%= image_tag 'team-kessler.jpg', alt: "", class: "rounded-circle margin-b-20" %>
          <h4 class="text-capitalize margin-b-5">Ralph Kessler</h4>
          <p class="text-muted">Principal, Pinguin Ingenieurbüro</p>
        </div>
        <p>
          Mr. Kessler is an exceptional audio engineer as well as mastering engineer, with more than 30 years of experience. Kessler
          is considered one of the leading audio metering experts, having developed the legendary Pinguin Meter, the most
          musical audio meters on the market. In addition, Kessler is a specialist in auralization, 3D audio, and the creation
          of high resolution impulse responses. Mr. Kessler supports the MAAT team in all these areas with his in–depth technical
          knowledge and industry acumen.
        </p>
      </div>

    </div>
    <div class="col-lg-4 col-md-6 margin-b-30">
      <div class="feedback-box">
        <div class="margin-b-30 text-center">
          <%= image_tag 'team-schult.jpg', alt: "", class: "rounded-circle margin-b-20" %>
          <h4 class="text-capitalize margin-b-5">Roger Schult</h4>
          <p class="text-muted">Master Analog Designer</p>
        </div>
        <p>
          Mr. Schult has led a double life, as a generalist electronics engineer designing for 3 rd party clients, and as an electrical
          engineer focused on his own analog audio creations. His contract development work spans a broad range of applications,
          from microprocessor-controlled alarm systems and ultrasonic sensors for distance measurement on the road and under
          water, to designs of fiber optic systems for data transmission and control. His passion being music, he is known
          worldwide for his vacuum tube electronics for musicians, and his pristine quality, solid state analog pieces for
          mastering engineers. Schult will bring a practiced, in depth perspective to MAAT’s group of exceptional advisors.
        </p>
      </div>

    </div>
  </div>
</div>
