---
title: "Bye Bye to ’25"
layout: "data-spy"
---

<style>
  img.center-img {
    max-height: 280px;
  }
  img.button-svg {
    width: 70px;
  }
  ol.om {
    list-style-type: upper-roman;
  }
</style>



<section id="home" class="dzsparallaxer auto-init dzsparallaxer use-loading"
  style="position: relative; height: 300px; padding-top: 100px;" data-options='{  mode_scroll: "normal" }'>

  <div class="divimage dzsparallaxer--target " data-src="<%= url_for 'assets/images/bg2.jpg' %>"
      style="width: 100%; height: 130%; background-image: url()">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-7 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1 style="font-weight:600"><%= current_page.data.title %></h1>
                  <p class="lead"></p></div>
              </div>
              <div class="col-md-5">
                <!--%= image_tag 'logo-sspro.jpg', alt: "Bye Bye to ’25 Contest", class: "img-fluid center-img" %-->
                <!--%= image_tag 'logo-wgd.png', alt: "Secret Santa Madness", class: "img-fluid center-img" %-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="container">
  <div class="space-40"></div>

    <div class="center-title">
      <h3><strong><em>It’s The Bye Bye to ’25 Contest! It’s Been EXTENDED!</em></strong></h3>
        <p>Our name may not be familiar to most, but we at MAAT have quietly helped to define quality on the modern pro audio landscape.<br>
        Now’s the time for your chance to grab some tasty and tasteful DSP for your most demanding jobs… for free!
        </p>
    </div>

    <div class="row">
      <div class="col-lg-8 col-sm-6">
        <div class="card border-light mb-3">
          <div class="card-body">
            <h3>How To Enter</h3>
            <h4>It’s easy…just sign up!</h4>
              <p>Simply sign up at the bottom of our Home page. That’s it! Look for the <strong>Stay Up To Date & Get 10% Off!</strong> opt–in field at bottom right of the Home page. On December 1st, we’ll draw the winner’s name from our opt–in database.<br>
              <strong style="font-size:200%; vertical-align: middle;">☞</strong>&nbsp;<a href="https://www.maat.digital/" target="_blank">Subscribe Now To Enter</a>
              <h3>OFFICIAL CONTEST RULES</h3>
              <h4>The MAAT “Bye Bye to ’25” Newsletter Giveaway - November–December 2025</h4>
              <h5>1. SPONSOR</h5>
              <p>This contest is sponsored by MAAT GmbH, Zunftmeisterstr. 26, 45468 Muelheim an der Ruhr, Germany ("Sponsor").
              </p>
              <h5>2. ELIGIBILITY</h5>
              <p>This contest is open to all individuals aged 18 years or older at the time of entry. Employees, officers, and directors of MAAT GmbH, AudioOcean, and their immediate family members (spouse, parents, children, and siblings) and household members of each are not eligible to participate. Void where prohibited by law.
              </p>
              <h5>3. CONTEST PERIOD</h5>
              <p>The contest begins at 12:00:01 AM CET on November 10, 2025 and ends at 11:59:59 PM CET on December 31, 2025 (the "Contest Period").
              </p>
              <h5>4. HOW TO ENTER</h5>
              <p>NO PURCHASE NECESSARY. A PURCHASE WILL NOT INCREASE YOUR CHANCES OF WINNING.<br>
To enter, visit the MAAT website Home page and subscribe to the MAAT newsletter by providing a valid email address during the Contest Period. Each email address may be entered only once. Multiple entries from the same email address will be disqualified.<br>
Existing newsletter subscribers are automatically entered into the contest and need not re-subscribe.
              </p>
              <h5>5. WINNER SELECTION</h5>
              <p>One (1) winner will be selected by random drawing from all eligible entries received during the Contest Period. The drawing will be conducted on or about December 2, 2025 by Sponsor or its designated representative.<br>
The odds of winning depend on the total number of eligible entries received.
              </p>
              <h5>6. WINNER NOTIFICATION</h5>
              <p>The winner will be notified by email to the address provided at entry within five (5) business days of the drawing. The winner must respond within seven (7) days of notification to claim the prize. If the winner does not respond within this timeframe, or if the notification email is returned as undeliverable, the prize will be forfeited and an alternate winner may be selected.<br>
The winner's name may be announced on MAAT's website, social media channels, and in future newsletters.
              </p>
              <h5>7. PRIZE</h5>
              <p>The prize consists of one (1) product of the winner's choice from MAAT's current product catalog. The approximate retail value varies depending on the product selected, ranging from €29 to €499 EUR.<br>
The prize will be delivered as a software license via email. No cash or prize substitution is permitted except at Sponsor's sole discretion. The prize is non-transferable. Any and all taxes, fees, and other costs associated with prize acceptance and use are the sole responsibility of the winner.
              </p>
              <h5>8. GENERAL CONDITIONS</h5>
              <p>By entering, participants agree to be bound by these Official Rules and the decisions of the Sponsor, which are final and binding in all respects.<br>
By accepting the prize, winner grants Sponsor permission to use winner's name, likeness, and entry for promotional purposes without further compensation, except where prohibited by law.<br>
Sponsor is not responsible for lost, late, incomplete, invalid, unintelligible, or misdirected entries, which will be disqualified; or for technical, hardware, software, or telephone malfunctions, lost or unavailable network connections, or failed, incorrect, incomplete, inaccurate, garbled, or delayed electronic communications.<br>
Sponsor reserves the right to cancel, suspend, or modify the contest if fraud, technical failures, or any other factor beyond Sponsor's reasonable control impairs the integrity or proper functioning of the contest, as determined by Sponsor in its sole discretion.
              </p>
              <h5>9. LIMITATION OF LIABILITY</h5>
              <p>By participating, entrants agree to release and hold harmless Sponsor and its parent companies, subsidiaries, affiliates, directors, officers, employees, and agents from any and all liability for any injuries, loss, or damage of any kind arising from or in connection with the contest or any prize won.
              </p>
              <h5>10. DISPUTES</h5>
              <p>Except where prohibited, all issues and questions concerning the construction, validity, interpretation, and enforceability of these Official Rules, or the rights and obligations of entrants and Sponsor in connection with the contest, shall be governed by and construed in accordance with the laws of Germany, without giving effect to any choice of law or conflict of law rules.<br>
Any legal proceedings arising out of this contest shall be brought exclusively in the courts of Muelheim an der Ruhr, Germany.
              </p>
              <h5>11. PRIVACY</h5>
              <p>All personal information collected in connection with this contest will be handled in accordance with MAAT GmbH's Privacy Policy and applicable data protection laws, including the General Data Protection Regulation (GDPR). By entering, participants consent to the collection, use, and disclosure of their personal information for the purposes of administering this contest. Participant's personal information becomes the property of the Sponsor.<br>
Participants have the right to access, correct, or delete their personal data, and may withdraw their newsletter subscription at any time without affecting their contest entry. To correct or delete their personal data, participants must send an email request to contact@maat.digital.
              </p>
              <h5>12. WINNER'S LIST</h5>
              <p>For the name of the winner, available after December 9, 2025, send an email request to contest@maat.digital.
              </p>
              <h5>13. OFFICIAL RULES</h5>
              <p>For a copy of these Official Rules, send a request to the address listed in Section 12.<br>
This contest is in no way sponsored, endorsed, administered by, or associated with any social media platform.
              </p>
              
              
            </div>
          </div>
        </div>
      </div>


  <div class="space-60"></div>
</div>
