---
title: "Contact Us"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
      
  <div class='row'>
    <div class="col-lg-6 col-md-7 margin-b-40">
      <h3 class="margin-b-30">Feel free to contact us!</h3>

        <div class="col-lg-9 col-md-2 margin-b-40">
          <h4>How Can We Help?</h4>
          <p class="margin-b-0">
          Do you have a support issue or product question? We are here to help!<br>
          Be sure to provide the details we’ll need to answer your question or solve your problem.<br>
          &nbsp;
          </p>
          <h6>Customer Service E–mail</h6>
          <p class="margin-b-0">
          support@maatinc.zohodesk.com<br>
          &nbsp;
          </p>
        </div>

    <div  id="affiliates" class="col-lg-9 col-md-2 margin-b-40">
	    <hr>
      <br>
      <h4>Affiliates</h4>
      <p class="margin-b-0">
      Would you like to earn a 15 to 20% commission as a MAAT affiliate? It’s free to join, easy to sign up and requires no technical knowledge. Plus, there’s no contractual obligation on your part! So, what are you waiting for?<br>
      &nbsp;
      </p>
      <h6>The Loopmasters, Loopcloud & Plugin Boutique Affiliate Program</h6>
      <p class="margin-b-0">To learn more, visit the <%= link_to 'Loopmasters Affiliates', 'https://www.loopmasters.com/affiliates', target: '_blank' %> page.<br>
      &nbsp;
      </p>
    </div>

    <div class="col-lg-6 col-md-5 margin-b-40">
      <hr>
      <br>
      <h4>General Inquiries</h4>
      <p class="margin-b-0">
      Do you have a question about MAAT or a general question?<br>
      &nbsp;
      </p>
      <h6>General E–mail</h6>
      <p class="margin-b-0">
      contact@maat.digital<br>
      &nbsp;
      </p>
      <h6>Address</h6>
      <p class="margin-b-0">
      MAAT GmbH<br>
      Zunftmeisterstr. 26<br>
      5468 Mülheim a.d.R. DE<br>
      VAT: 46/763/04377
      </p>
      <br>
      <hr>
    </div>
  </div>

  <div class='space-50'></div>
</div>
