---
title: "Contact Us"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  
  <div class='row'>
    <div class="col-lg-6 col-md-7 margin-b-40">
      <h3 class="margin-b-30">Feel free to contact us!</h3>
    
       <div class="col-lg-9 col-md-2 margin-b-40">
      <h4>How Can We Help?</h4>
      <p class="margin-b-0">
        Do you have a support issue or product question? We’re here to help…<br>
        Be sure to provide the details we’ll need to answer your question or solve your problem.
      </p>
      <h4>Customer Service E–mail</h4>
      <p class="margin-b-0">
        support@maat.digital
      </p>
      <hr>
    </div> 

    <div class="col-lg-6 col-md-5 margin-b-40">
      <h4>Address</h4>
      <p class="margin-b-0">
        Do you have a question about MAAT Incorporated or a general question?
      </p>
      <h4>General E–mail</h4>
      <p class="margin-b-0">
        contact@maat.digital
      </p>
      <h4>Address</h4>
      <p class="margin-b-0">
        MAAT Inc.<br>
        101 Cooper St<br>
        Santa Cruz CA 95060 USA
      </p>
      <hr>
    </div>
  </div>

  <div class='space-50'></div>
</div>