---
title: "Copy Protection"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>Copy Protection</h2>
    <p>Preserving Your Investment</p>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <p class="lead mb0">
      Yes, we all know that copy protection is a pain in the butt for everyone, for both you and us as well.</br>
      We have experience with Wibu-Systems, PACE (iLOK) and SafeNet copy protection systems, and are users for many more proprietary and home–grown examples. After several years of using Wibu, we decided to build a modern, cloud–based system to proetc our software and make it as easy as possible for our customers.
    </p>

    <p>
      For all of our products now have this cloud protection built in. There are no drivers to install, no utilities to “manage” your account and no need for dongles. Whether your on the internet, or in the woods far from ’net and cell service, we’ve got you covered.
    </p>

    <p>
      even though we don’t use them these days, our CodeMeter <a href='https://www.maat.digital/dongle/' target='_blank'>CmStick</a> dongles are still the best way to license any other Wibu–protected products you may own. They”re portable, plus incredibly small and tough.
    </p>

    <h3>Floating Server Licenses:</h3>
    <p>
      If you have a bigger studio complex and ’Net–connected machines, we can offer floating licenses on request. If you have 7 studios but you need not more than 5 licenses at any given time, you can have all of our tools on all systems and our server would monitor the instances as they’re used. Please ask sales@maat.digital for details.
    </p>

    <h3>Why Copy Protection Is Important For You:</h3>
    <h5>
      Good copy protection gives you two major advantageous:
    </h5>

    <ol class="margin-b-40">
      <li><strong>Your investment is protected.</strong> We offer high performance, high value products with extraordinary audio quality based on decades of research. Our thEQ family is an example. By investing in these products, you acquire an advantage that your competitors don’t possess. Having weak copy protection empowers pirates to undermine your competitive advantage. For this reason, we make sure that just our customers have access to our tools.
      </li>
      <li><strong>Your investment is maintained.</strong> In order to maintain a high quality DSP company, we need to pay high end, world leading DSP specialists. Pretty quickly, this leads to a six-figure burn rate! Our personnel are not only the backbone of our company, they’re the financial backbone of their families. Fraud kills jobs and communities in the creative digital world, and by using the best available copy protection, we’ll have the capacity to maintain your investment so it will continue to pay you back for decades to come.
      </li>
    </ol>

  </div>
</div>
