---
title: "Educational Pricing"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>Educational Pricing</h2>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <p class="lead mb0">
      MAAT is happy to announce a half price educational discount program for
      teaching staff and full time audio engineering students with 50% off list
      on our site.
    </p>
    <p class="lead mb0">
      RSPhaseShifter and DRMeter MkII are great tools to incorporate into your
      audio engineering education and curriculum. We also invited you to use our
      manuals, which provide in depth discussions of the background and best
      practices for each product.
    </p>
  </div>

  <div class="space-60"></div>
  <div class="center-title">
    <h3>How To</h3>
    <p>Access to our 50% rebate voucher requires proof of eligibility.</p>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <h4>For teaching staff:</h4>

    <p>Please provide a short list of the topics you are teaching. Sorry, no
      vouchers quantum physics or English Lit teachers.</p>

    <ul class="margin-b-20">
      <li>A link to a University Website which refers to you as teacher / lecturer / professor</li>
      <li>A written confirmation of the secretary or director of the school</li>
    </ul>

    <h4>For eligible students:</h4>

    <p>Please provide your field of study, start and end dates for your studies,
      and degree or name of your completion (e.g. Bachelor of Arts)</p>

    <ul class="margin-b-20">
      <li>Scan of your valid student ID</li>
      <li>Confirmation of your enrollment</li>
    </ul>

    <p>If the above conditions apply to you, please
      <a href='mailto:support@maat.digital?Subject=EDU%20Program'>e–mail</a>
      eligible proof to, along with a list of products you would like to purchase.
      Please be patient as we process your request, we’ll return a voucher code to
      you via e–mail.<br>
      <em><strong>Thanks for your interest in MAAT, and we look forward to making
      entertainment a better sounding place!</strong></em></p>

    <p>Once you have it all up, go ahead and make it live. I’ll adjust it once it’s
      up…Thanks!</p>

    <div class="space-60"></div>
