---
title: "Educational Pricing"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>Educational Pricing</h2>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <p class="lead mb0">
      MAAT is happy to announce an educational discount program for teaching staff and full time audio engineering students. Active teaching staff, please tell us about your program at <%= mail_to 'marcom@maat.digital' %> for special NFR licenses. Provide us with a short list of the audio engineering topics you are teaching, and a link to a website for your degree–granting program which refers to you as a teacher, lecturer or professor. <em>Got audio labs?</em> Together let’s arrange a site license for all your teaching machines.
    </p>
    <p class="lead mb0">
      2BC multiCORR, RSPhaseShifter, MAAT<em>go</em>, DRMeter MkII, DROffline MkII and select equalizers are all excellent tools to incorporate into your audio engineering education and curriculum. We also invited you to use our manuals, which provide in depth discussions of best practices for each product, as well as the technical background theory that drives our applications.
    </p>
    <p class="lead mb0">
      MAAT was founded on the belief that, by offering higher fidelity signal processing and metering that speeds your workflows and promote sane dynamics, we all can make the audio world a better place. Care to join us? We’d love to work with you and hear what you think.
    </p>
  </div>

  <div class="space-60"></div>
  <div class="center-title">
    <h3>Students</h3>
    <p>Access to our 50% rebate voucher requires proof of eligibility.
    </p>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <h3>Eligible students:</h3>
    <p>Full time audio engineering students, enjoy 50% off the list price shown on our site for RSPhaseShifter, 2BC multiCORR, and MAAT<em>go</em>, along with the entire DR and DR2 families; DRMeter and DRMeter MkII plus DROffline and DROffline MkII…see below.
    </p>
    <p>First, please sign up for our newsletter so we can keep you up to date. See the “Stay Up To Date & Get 10% Off!”
” field at bottom right…Then, provide us with all of the following information:</p>
    
    <ul class="margin-b-20">
      <li>Your explicit field of study</li>
      <li>Start and end dates for your studies</li>
      <li>Degree name or title (e.g. Bachelor of Arts)
      <li>Scan of your valid student ID</li>
      <li>Confirmation of your enrollment</li>
    </ul>

    <p><a href='mailto:marcom@maat.digital?Subject=Student%20EDU%20Program'>E–mail</a> us with the above eligibility proof, along with a list of the products you would like to purchase. Please be patient as we process your request. We will return a coupon code to you via e–mail as soon as we can.</p>
    <p><em><strong>Thanks for your interest in MAAT and, together, we look forward to making entertainment a better sounding place!</strong></em></p>

    <div class="space-60"></div>
