---
title: "Educational Pricing"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>Educational Pricing</h2>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <p class="lead mb0">
      MAAT is happy to announce a half price educational discount program for
      teaching staff and full time audio engineering students, with 50% off the list
      price shown on our site.
    </p>
    <p class="lead mb0">
      RSPhaseShifter and DRMeter MkII, and DROffline MkII are great tools to incorporate into your
      audio engineering education and curriculum. We also invited you to use our
      manuals, which provide in depth discussions of best
      practices for each product, as well as the background theory that drives our applications.  
    </p>
  </div>

  <div class="space-60"></div>
  <div class="center-title">
    <h3>How To</h3>
    <p>Access to our 50% rebate voucher requires proof of eligibility.</p>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <h4>For teaching staff:</h4>

    <p>Please provide a short list of the audio engineering topics you are teaching. Sorry, no
      vouchers for quantum physics or English Lit teachers.</p>

    <ul class="margin-b-20">
      <li>A link to a University Website which refers to you as a teacher, lecturer or professor</li>
      <li>A written confirmation from the secretary or director of the school or program</li>
    </ul>

    <h4>For eligible students:</h4>

    <p>Please provide the following:</p>
    
    <ul class="margin-b-20">
      <li>Your field of study</li>
      <li>Start and end dates for your studies</li>
      <li>Degree name or title (e.g. Bachelor of Arts)
      <li>Scan of your valid student ID</li>
      <li>Confirmation of your enrollment</li>
    </ul>

    <p>If the above Teacher or Student conditions apply to you, simply
      <a href='mailto:support@maat.digital?Subject=EDU%20Program'>e–mail</a> us 
      the above eligibilty proof, along with a list of the products you would like to purchase.
      Please be patient as we process your request, we’ll return a voucher code to
      you via e–mail as soon as we can.</p>
      
    <p><em><strong>Thanks for your interest in MAAT and, together, we look forward to making
      entertainment a better sounding place!</strong></em></p>

    <div class="space-60"></div>
