---
title: "Educational Pricing"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>Educational Pricing</h2>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <p class="lead mb0">
      MAAT is happy to announce an educational discount program for audio engineering teaching staff plus full and part time audio engineering students. Active teaching staff, please tell us about your program at <%= mail_to 'marcom@maat.digital' %> for special NFR licenses. Provide us with a short list of the audio engineering topics you are teaching, and a link to a website for your degree–granting program which refers to you as a teacher, lecturer or professor.
    </p> 
    <p class="lead mb0"><em>Got audio labs?</em> Together let’s arrange a site license for all your teaching machines.
    </p>
    
    <hr>

  </div>

  <div class="space-60"></div>
  <div class="center-title">
    <h3>Students</h3>
    <p>Access to our rebate voucher requires proof of eligibility.
    </p>
  </div>

    <p class="lead mb0">The following products are all excellent tools to incorporate into your audio engineering education and curriculum. We also invited you to use our manuals, which provide in depth discussions of best practices for each product, as well as the technical background theory that drives our applications.
    </p>
    <h3>Eligible audio engineering students
    </h3>
    <p class="lead mb0">Enjoy 30 - 50% off the list price shown in our store.
    </p>
    <p class="lead mb0"><em>Full time audio engineering students</em>: <strong>50% OFF</strong> — <em>Part time students</em>: <strong>30% OFF</strong>
    </p>
    <p class="lead mb0"><strong>Choose from:</strong>
      <ul class="margin-b-20">
        <li>DRMeter MkII</li>
        <li>DROffline MkII</li>
        <li>2BC multiCORR</li>
        <li>RSPhaseShifter</li>
        <li>MAAT<em>go</em></li>
        <li>LINpro</li>
        <li>SantaCruzEQ6</li>
      </ul>
    </p>

    <p class="lead mb0"><strong>First</strong>, please sign up for our newsletter so we can keep you up to date. See the “Stay Up To Date & Get 10% Off!” field at bottom right…Then, provide us with all of the following information:</p>
    <p class="lead mb0"><strong>Next</strong>, we will need from you:
    <ul class="margin-b-20">
      <li>Your explicit field of study</li>
      <li>Start and end dates for your studies</li>
      <li>Degree name or title (e.g. Bachelor of Arts, MFA, et cetera)
      <li>Scan of your current student ID</li>
      <li>Confirmation of your enrollment</li>
    </ul>
    </p>

    <p class="lead mb0"><strong>Last step</strong>: <a href='mailto:support@maatinc.zohodesk.com?Subject=Student%20EDU%20Program'>e–mail</a> us with the above eligibility proof, along with a list of the products (see above) you would like to purchase. Please be patient as we process your request. We will return a coupon code to you via e–mail once your eligibility has been established.</p>
	
    <div class="space-60"></div>
    <div class="center-title">
      <h3>Audio Educators</h3>
      <p class="lead mb0">We offer more advanced products, in addition to those listed above, for use in your curriculum. Please <a href='mailto:support@maatinc.zohodesk.com?Subject=EDU%20Program%20For%20Teachers'>e–mail</a> us with information about the audio classes you are teaching, along with a web page listing you as a teacher or other evidence that you are on staff.</p>
    
    <div class="center-title">
    </div>

	  <div class="space-60"></div>
    <p class="lead mb0">MAAT was founded on the belief that, by offering higher fidelity signal processing and metering that speeds your workflows and promote sane dynamics, we all can make the audio world a better place. Care to join us? We’d love to work with you and hear what you think.
    </p>
	  <p class="lead mb0"><em>Thanks for your interest in MAAT and, together, we look forward to making entertainment a better sounding place!</em></p>

    <div class="space-60"></div>

