---
title: "Imprint"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>MAAT GmbH</h2>
  </div>

  <div class="container">
    <div class="space-10"></div>




    <h3>Imprint</h3>
    <p class="lead mb0">
    Responsibility for this website:
    </p>
    <p> style="margin-left: 24px;">MAAT GmbH<br>
    Zunftmeisterstraße 26<br>
    45468 Mülheim a.d.R. DE
    <br>
    <p>Amtsgericht: Hamburg HRB 37170<br>
    Geschäftsführer/MD: Friedemann Tischmeyer<br>
    Phone: +49 160 5874347<br>
    Email: contact@maat.digital<br>
    Website: www.maat.digital<br>
    </p>



    <h3>Terms of Use</h3>
    <p class="lead mb0">
    Conditions & Terms of Service/Use (AGB/GTC)
    <br>
    MAAT GmbH, Zunftmeisterstr. 26, 45468 Mülheim a.d.R.
    <br>
    Managing Director: Friedemann Tischmeyer · HRB 152229 District Court Hamburg
    <br>
    Version: Status 01. January 2023
    <br>
    <h4>1. Scope</h4>
    <p class="lead mb0">
    (1) These General Terms and Conditions (hereinafter referred to as: GTC) apply to all, including by telephone or other electronic means (FaceTime, Skype, Zoom et cetera) – concluded contracts between us:
    <br>
    MAAT GmbH, Zunftmeisterstr. 26, 45468 Mülheim a.d.R.
    <br>
    and you as our customer. The terms and conditions apply regardless of whether you are a consumer, entrepreneur or merchant.
    </p>
    <p class="lead mb0">
    (2) All agreements made between you and us in connection with the contract of sale or seminar registration arise in particular from these conditions of sale, our written order confirmation and our declaration of acceptance (confirmation of registration).
    <br>
    (3) Decisive is the version of the GTC valid at the time any contract is concluded.
    <br>
    (4) We do not accept deviating conditions of the customer. This also applies if we do not expressly object to the inclusion.
    </p>

    <h4>2. Conclusion of Contract</h4>
    <p class="lead mb0">
    (1) The presentation and promotion of our products and services on our websites, brochures or within advertisements (eg on Facebook) does not constitute a binding offer to conclude a contract with us.
    <br>
    (2) We will confirm the receipt of your orders and orders via e-mail or website. In such an e-mail there is still no binding acceptance of an order, unless in addition to the confirmation of receipt the binding acceptance is expressed at the same time.
    <br>
    (5) If delivery of the product(s) you have ordered is not possible, for example for technical reasons, we will refrain from a binding acceptance. In this case, a contract is not concluded.
    </p>

    <h4>3. Dispute resolution</h4>
    <p class="lead mb0">
    (1) We do not take part in online dispute resolutions at consumer arbitration boards.
    <br>
    (2) Liability for Contents
As service providers, we are liable for own contents of these websites according to Sec. 7, paragraph 1 German Telemedia Act (TMG). However, according to Sec. 8 to 10 German Telemedia Act (TMG), service providers are not obligated to permanently monitor submitted or stored information or to search for evidences that indicate illegal activities.
    <br>
    Legal obligations to removing information or to blocking the use of information remain unchallenged. In this case, liability is only possible at the time of knowledge about a specific violation of law. Illegal contents will be removed immediately at the time we get knowledge of them.
    <br>
    (3) Liability for Links
Our offer includes links to external third party websites. We have no influence on the contents of those websites, therefore we cannot guarantee for those contents. Providers or administrators of linked websites are always responsible for their own contents.
    <br>
    The linked websites had been checked for possible violations of law at the time of the establishment of the link. Illegal contents were not detected at the time of the linking. A permanent monitoring of the contents of linked websites cannot be imposed without reasonable indications that there has been a violation of law. Illegal links will be removed immediately at the time we receive knowledge of them.
    </p>
    <h4>(4) Copyright</h4>
    <p class="lead mb0">
    Contents and compilations published on these websites by the providers are subject to German copyright laws. Reproduction, editing, distribution as well as the use of any kind outside the scope of the copyright law require a written permission of the author or originator. Downloads and copies of these websites are permitted for private use only.
The commercial use of our contents without permission of the originator is prohibited.
    <br>
    Copyright laws of third parties are respected as long as the contents on these websites do not originate from the provider. Contributions of third parties on this site are indicated as such. However, if you notice any violations of copyright law, please inform us. Such contents will be removed immediately.
    </p>
    <p class="lead mb0">
    ©2025 MAAT GmbH | All rights reserved
    </p>
  </div>
<div>
