---
title: "Investor Relations"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>Investor Relations</h2>
    <p>Support MAAT Inc.</p>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <p class="lead mb0">MAAT Incorporated offers attractive investment opportunities in high tech verticals, accelerating growth in our marketing, research, product development, infrastructure and manpower.</p>

    <div class="space-30"></div>
  </div>

  <div class="space-90"></div>
</div>

<div class="container">
  <div class="center-title">
    <h2>MAAT Labs GmbH</h2>
  </div>

  <div class="row align-items-center">
    <div class="col-md-7 margin-b-30">
      <p class="lead mb0">
        MAAT Labs GmbH is MAAT Incorporated’s wholly owned research and development subsidiary, situated in Hamburg, Northern Germany. Leveraging our CTO’s three decades of product development experience for the top names in pro audio, MAAT Labs’ mandate is twofold:<br>
        <ul>
        <li>DSP software development for in–house and OEM licensing</li>
        <li>Design of extreme fidelity mastering hardware</li>
        </ul>
      </p>
      <p class="lead mb0">
        MAAT Labs offers three key differentiators not found in most large organization and start ups:<br>
        <br>
        &nbsp; &nbsp; &#10025; Speed of execution<br>
        &nbsp; &nbsp; &#10025; Unwavering commitment<br>
        &nbsp; &nbsp; &#10025; A proven library of ready–made code modules
      </p>
    </div>
    <div class="col-md-4 ml-auto mr-auto margin-b-30">
      <%= image_tag "MAAT-LabsGmbH.jpg", alt: "MAAT Labs GmbH", class: "img-fluid center-img" %>
    </div>
  </div>

    <p>Interested? <a href="mailto:investor_relations@maat.digital">Contact</a> us for details and to learn how we can work together.</p>

  <p>
    MAAT Labs GmbH.<br>
    Grossmannstrasse 213<br>
    20539 Hamburg<br>
    <br>
    Amtsgericht Hamburg HRB 152456<br>
    CEO: Friedemann Tischmeyer
    
  </p>

  <p>Stay tuned for an informative video and more images showing off our new research facility!</p>

  <div class="space-60"></div>
</div>
