---
title: "Investor Relations"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>Investor Relations</h2>
    <p>Support MAAT Inc</p>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <p class="lead mb0">
      MAAT Incorporated offers Convertible Notes, on attractive terms, with the aim of accelerating growth through investments
      into marketing, research and development, infrastructure and manpower.
    </p>
    <ul class="list">
      <li><i class="ion-checkmark"></i>Minimum Investment Tranche: $50k (first come, first served)</li>
      <li><i class="ion-checkmark"></i>20% discount (on stock conversion rate)</li>
      <li><i class="ion-checkmark"></i>4% interest (to be converted into stock)</li>
      <li><i class="ion-checkmark"></i>Cap negotiable (increasing over time)</li>
    </ul>

    <div class="space-30"></div>

    <h3>Conversion either on</h3>

    <ul class="list">
      <li><i class="ion-checkmark"></i>Maturity date: 12/2019</li>
      <li><i class="ion-checkmark"></i>Qualified Series A Round (estimated for Q1 / 2019)</li>
    </ul>

    <div class="space-30"></div>

    <p>
      MAAT Inc. is estimated to be cash flow–positive by the end of Q2 2017</br>
      Contact : investor_relations@maat.digital
    </p>
  </div>

  <div class="space-90"></div>
</div>




<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>MAAT Labs GmbH</h2>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <p class="lead mb0">
MAAT Labs GmbH is MAAT Incorporated´s wholly own research and development subsidiary, situated in the beautiful Black Forest region of Southern Germany.
In addition to DSP software development, MAAT Labs will also create high end mastering hardware, based on our CTO’s thirty years of hardware development experience.
    </p>

     <p>
      MAAT Labs GmbH.<br>
        Klettgaustrasse 21<br>
        79761 Waldshut-Tiengen<br>
        Amtsgericht Freiburg HRB 716111<br>
        www.maat.digital<br>
        CEO: Friedemann Tischmeyer
    </p>
    
   <p>  Stay tuned for an informative video and more images showing off our new research facility! </p>
    

  </div>

  <div class="space-90"></div>
</div>








