---
title: "Welcome KVR Member!"
layout: "minimal"
---

<div class="container">
  <div class="row" style="margin-top:60px;">
    <div class="col-lg-12 col-sm-12" style="padding:0;">
      <a href="https://www.maat.digital/"><%= image_tag "landing/1912-MAAT-KVR-Ad.jpg", alt: "Sound…Simply Better", class: "full-img" %></a>
    </div>
  </div>

</div>