---
title: "Login"
layout: "page-misc"
---

<div class="display-table">
  <div class="verticle-middle">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-lg-3">
          <div class="misc-box">
            <h3 class="margin-b-0 text-center">Login to your account!</h3>
            <hr>
            <form role="form" class="margin-b-20">
              <div class="form-group">
                <label for="email">User Name</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
              </div>
              <div class="checkbox">
                <div class="pull-right">
                  <a href="#">Forget password?</a>
                </div>
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>
              <div class="text-center">
                <input type="button" value="Login to your account"
                    class="btn btn-lg btn-primary btn-block">
              </div>
            </form>
            <p>Don't have an account? <a href='/register'>Sign Up here</a></p>
          </div>
          <span class="copyright">All rights reserved. © 2017 MAAT Inc. </span>
        </div>
      </div>
    </div>
  </div>
</div>
