---
title: "Money Back Guarantee"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>15 Days — 100% Money Back</h2>
    <p>We Want You To Be Happy</p>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <p class="lead mb0">
      We offer all hardware customers a 15 day, 100% money back guarantee from date of delivery! We offer all software customers a 15 day, 100% money back guarantee from purchase date!
    </p>
    <p>For hardware, simply package it up as securely as received. Then, send it off and e-mail us at support@maat.digital, providing a tracking number for us to reference. The unit must be received by us in good working condition in order for us to issue a refund.
    </p>
    <p>
      For software, you simply need to deactivate your license, which returns it to us. In the case of offline licenses, this can be confirmed by a receipt through the specific licensing utility from Wibu–Systems installed on your host computer. Simply send your customer number and order number to support@maat.digital,
      and include how you want to receive your refund. We will check the
      returned license and refund you after the license have been successfully
      deleted. Please allow us up to 5 business days to process your refund
      request. Though we accept Money Back requests without any stated reason,
      we would appreciate it if you let us know why you are returning your
      license. This helps us to further enhance the quality of our products.
    </p>

    <p>
      <strong>Terms:</strong> Our Money Back Guarantee is limited to products being purchased directly through our website. The guarantee excludes:
    </p>

    <ol class="margin-b-40">
      <li>3rd party purchases through resellers</li>
      <li>purchases based on subscription, rental or installment purchase
        models</li>
      <li>trial versions of a product; Trials are available to allow you to test
        our products in depth before purchasing</li>
    </ol>
  </div>
</div>
