---
title: "Privacy Policy"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>MAAT Inc.</h2>
    <p>Privacy Policy</p>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <p class="lead mb0">
      This Privacy Policy (“Policy”) describes how MAAT Inc. and its affiliates
      (“Company” or “we” or “our”) treat information collected or provided in
      connection with an end user’s (“you” or “your or “user”) use of the
      services provided via our website at maat.digital and our digital audio
      products (“Audio Products”) (such uses collectively, the “Service”).
      Please note that your use of the Service constitutes your acceptance of
      this Policy as set forth below:
    </p>

    <ol class="margin-b-40">
      <li>Effective Date; Changes.</li>
      <p>
        This Policy applies to all information collected by or provided to us in
        connection with the Service. When we make any material changes to this
        Policy, we will change the Effective Date above and will inform you by
        e-mail sent to the address associated with your Service account and/or
        through the Service the next time you login. We will treat your
        continued use of the Service following such notice as your acceptance of
        the changes.
      </p>

      <li>Third Parties. </li>
      <p>
        The Service may contain, and we may send to registered users, offers
        from third parties or links to third-party websites. This Policy does
        not apply to information that you may provide to or that may be
        collected by third parties. We encourage you to request that such third
        parties provide you with their applicable privacy policies and other
        terms and conditions before engaging with or making a purchase from such
        third parties.
      </p>

      <li>Collected Information.</li>
      <p>
        <ul>
          <li>Information You Submit. When you use the Service (including via use
          of Audio Products), we collect the information you provide in any
          applicable form. This information includes personally identifiable
          information such as (to the extent applicable) your e-mail address,
          name, address and telephone number. When we refer to “personally
          identifiable information” in this Policy, we mean information that we
          can directly associate with a specific person or entity without
          additional information. To the extent you decline to share certain
          personally identifiable information with us, we may not be able to
          provide some or all of the features and functionalities found on the
          Service.</li>

          <li>Information Collected Automatically. When you use the Service, we
          automatically gather certain non-personally identifiable information
          from you. This includes usage information, such as information on when,
          how often and for how long you use the Service and the content you
          submit and view. This also includes the personal computer on which
          Audio Products are installed such as make and model, hardware
          components, installed operating system, drivers and software
          applications, system registry settings and configuration of any of the
          foregoing, which may be transmitted in the background from Audio
          Products to our servers when an Internet connection is present. As
          described below, we collect this information through several means,
          including server logs, cookies and other online tracking mechanisms. We
          may associate such non-personally identifiable information with the
          personally identifiable information that you provide in connection with
          the Service. But if we do so, we will treat the combined information as
          personally identifiable information. </li>

          <li>Analytics Services. We use certain third party services to assist us
          in analysis, auditing, research, and reporting regarding the Site. These
          third parties may use web logs or web beacons, and they may set and
          access cookies on your computer or other device. In particular, we may
          use Google Analytics, Mixpanel, Intercom and/or other similar services
          to help collect and analyze certain information for the purposes
          discussed in this Policy. You may opt out of the use of cookies by
          Google Analytics at https://tools.google.com/dlpage/gaoptout.</li>
        </ul>
      </p>

      <li>Use of Information.</li>
      <p>
        We use the personally identifiable and non-personally identifiable
        information that we collect about you as follows:
        <ul>
          <li>We will use submitted information for the purposes for which you
          provided the information, including, for example, to respond to a
          question that you e-mail to us. We also use submitted information and
          collected information as necessary to provide the features and
          functionality of the Service to you.</li>
          <li>We may send you e-mails regarding updates or modifications to the
          Service.</li>
          <li>We may send you marketing and promotional emails with respect to
          our products and services (to the extent you do not opt out of such
          emails). </li>
          <li>We may analyze collected information relating to your use of the
          Service in order to help us improve the Service and develop and
          improve other products and services. </li>
          <li>We may use submitted information and collected information to help
          troubleshoot problems, provide you with required notices, enforce our
          End User License Agreement for Audio Products and/or Terms of Use for
          our website or to alert you to changes in our policies or agreements
          that may affect your use of the Service.</li>
          <li>We may combine personally identifiable information collected
          through the Service with other information that we collect about you
          in other contexts—such as our communications with you via e-mail,
          phone or postal mail. We will handle such combined information in
          accordance with this Policy.</li>
        </ul>
      </p>

      <li>Disclosure of Information. </li>
      <p>
        We disclose the personally identifiable and non-personally identifiable
        information that we collect about you as follows:
        <ul>
          <li>We may provide advertisers and other third parties with
          aggregated, non-personally identifiable information about our user
          base and its usage patterns.</li>
          <li>We may disclose personally identifiable information to third-party
          partners in furtherance of our business arrangements with them,
          including without limitation to jointly offer a product or service to
          you or create interoperability between our products and services and
          the products and services of such partners. </li>
          <li>The Company uses contractors and third-party service providers to
          provide the Service to our users and to help us provide services in
          connection with the Service. Such third parties may receive
          information from us for use for such purposes.</li>
          <li>We may report aggregated, de-identified data relating to activity
          on this Service to third parties or the general public. We may combine
          such data with data obtained from third-party sources in order to
          generate such reports. </li>
          <li>We will use and disclose information where we, in good faith,
          believe that the law or legal process (such as a court order, search
          warrant or subpoena) requires us to do so; to investigate, prevent, or
          take action regarding illegal activities, suspected fraud, or
          violations of our terms and conditions; or in other circumstances
          where we believe is necessary to protect the rights or property of
          Company, our users, and third parties.</li>
        </ul>
      </p>

      <li>Viewing, Amending and Deleting Information.</li>
      <p>
        To delete all data associated with your account, please e-mail us at
        support@maat.digital. Please note that while changes to your profile
        information are reflected promptly in active user databases, our servers
        may retain previously provided information.
      </p>

      <li>Choices Regarding Third-Party Offers.</li>
      <p>
        To the extent we send you commercial e-mails regarding third-party
        marketing or promotional materials, we will give you the ability to
        opt-out of receiving such e-mails in accordance with applicable law.
        We will not provide your personally identifiable information to third
        parties for their own marketing purposes without your consent.
      </p>

      <li>Online Behavioral Advertising. </li>
      <p>
        The Service may enable third-party tracking mechanisms to collect your
        non-personally identifiable information for use in online behavioral
        advertising. For example, third parties may use the fact that you
        visited the Service to send online ads for Company services to you on
        non-Company websites. In addition, our third-party advertising networks
        might use information about your use of the Site to help target
        non-Company advertisements based on your online behavior in general.
        For information about behavioral advertising practices, including
        privacy and confidentiality, visit the Network Advertising Initiative
        website at http://www.networkadvertising.org/understanding-online-advertising
        or the Digital Advertising Alliance website at www.aboutads.info.</br>
        The use of online tracking mechanisms by third parties is subject to
        those third parties’ own privacy policies, and not this Policy. If you
        prefer to prevent third parties from setting and accessing cookies on
        your computer, you may set your browser to block cookies. Additionally,
        you may remove yourself from the targeted advertising of companies
        within the Network Advertising Initiative by opting out at
        http://www.networkadvertising.org/choices/, or of companies
        participating in the Digital Advertising Alliance program by opting out
        at www.aboutads.info/choices. Like many websites, the Site does not
        currently respond to “do not track” browser headers, but you can limit
        tracking through these third-party programs by taking the steps
        discussed above.
      </p>

      <li>Security. </li>
      <p>
        The personally identifiable information we collect about you is stored
        in limited access servers. We will maintain reasonable safeguards to
        protect the security of these servers and your personally identifiable
        information. Howe    ver, no security measures are 100% effective and we
        cannot guarantee the security of your personally identifiable
        information.
      </p>

      <li>Transfer As Corporate Asset.</li>
      <p>
        In the event of a merger, sale of capital stock or assets,
        reorganization, consolidation or similar transaction involving Company,
        the information we possess (including personally identifiable
        information) shall be transferred as a corporate asset to the acquiring
        entity, provided that such entity will continue to handle such
        information in accordance with this Policy.
      </p>

      <li>Transfer to the U.S. or other Countries. </li>
      <p>
        The Company is established in and uses facilities in the United States.
        Your information will be stored and processed in the United States or
        other countries where Company has facilities. By using the Service, you
        consent to the transfer of information outside of your country, even if
        your country has more rigorous data protection standards.
      </p>

      <li>Children Under 13. </li>
      <p>
        The Company does not knowingly collect information from children under
        13 and the Service is intended for adults over the age of 18. If you are
        a parent and believe that your child under the age of 13 has used the
        Service and provided personally identifiable information to us through
        the Service, please contact us at support@autoreach.io and we will work
        to delete that Service account and any such personally identifiable
        information.
      </p>

      <li>California Residents - Your California Privacy Rights. </li>
      <p>
        If you are a resident of California, you have the right to request a
        list of third parties to whom we have disclosed your personally
        identifiable information for their direct marketing purposes during the
        preceding year, pursuant to California Civil Code Section 1798.83. To
        make such a request, please send an email to support@autoreach.io or
        write to us at: 2610 Greenwich Street, San Francisco CA 94123. We are
        only required to respond to one request per customer each year.
      </p>

    </ol>
  </div>
</div>
