---
title: "Register"
layout: "page-misc"
---

<div class="display-table">
  <div class="verticle-middle">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-lg-3">
          <div class="misc-box">
            <h3 class="margin-b-0 text-center">Create new account!</h3>
            <p class="text-center">Sign Up Today...</p>
            <hr>
            <form role="form" class="margin-b-20">
              <div class="form-group">
                <label for="name">Your name</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> You have read &amp; agree to the
                  <a href="/terms" target="blank">Terms of service</a>.
                </label>
              </div>
              <div class="text-center">
                <input type="button" value="Create my account"
                    class="btn btn-lg btn-default btn-block">
              </div>
            </form>
          </div>
          <span class="copyright">All rights reserved. © 2017 MAAT Inc. </span>
        </div>
      </div>
    </div>
  </div>
</div>
