---
title: "Steinberg - Fall 2019 Promotion"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>Special Pricing</h2>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <p class="lead mb0">
      MAAT is happy to announce a limited time discount program inconjuction with our friends at Steinberg Media Technologies!
    </p>
    <p class="lead mb0">
      Sub 1.  
    </p>
    <p class="lead mb0">
      MAAT was founded on the belief that, by offering higher fidelity signal processing and metering that speeds your workflows and promote sane dynamics, we all can make the audio world a better place.  
    </p>
  </div>

  <div class="space-60"></div>
  <div class="center-title">
    <h3>H3 </h3>Number One
    <p>Sub Two</p>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <h4>H4</h4>

    <p>Sub Three</p>

    <ul class="margin-b-20">
      <li>List 1</li>
      <li>List 2</li>
    </ul>

    <h4>H4</h4>

    <p>Sub Four</p>
    
    <ul class="margin-b-20">
      <li>List 1</li>
      <li>List 2</li>
      <li>List 3</li>
      <li>List 4</li>
    </ul>

    <p>Closing Paragraph.</p>
      
    <p><em><strong>Thanks for your interest in MAAT and, together, we look forward to making entertainment a better sounding place!</strong></em></p>

    <div class="space-60"></div>
