---
title: "Steinberg - Fall 2019 Promotion"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>Special Pricing</h2>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <p class="lead mb0">
      MAAT is happy to announce a limited time discount program inconjuction with our friends at Steinberg Media Technologies!
    </p>
    <p class="lead mb0">
      MAAT was founded on the belief that, by offering higher fidelity signal processing and metering that speeds your workflows and promote sane dynamics, we all can make the audio world a better place.  
    </p>
  </div>

  <div class="space-60"></div>
  <div class="left-title">
    
    <h3>thEQorange</h3>
    <p>A linear phase EQ with unparalleled clarity. For mastering ears, and other discerning engineers.</p>
    <p>thEQorange is a full featured 80 bit two–pass, time domain mastering equalizer. It provides exceptionally low distortion and ripple, not normally achievable with frequency domain linear phase methods. Its complex internal architecture, sophisticated signal windowing, and applied calculation precision all contribute to its exceptionally natural sound and exacting fidelity.
    <br>
        <em><strong>Note: 3-Series CmStick Dongle Required</strong></em>
    <br>
        Perpetual License, MSRP: $989 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=14296093&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a>
    <br>
        Annual Subscription, MSRP: $119 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=18897082&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a>
    </p>
     
    <h3>thEQblue</h3>
    <p>Beautiful analog architectures, twelve in all, that will take your work out of the ordinary.</p>
    <p>thEQblue is a collection of twelve 80 bit minimum phase equalizer architectures derived from reverse engineering a variety of well respected hardware EQs. thEQblue are idealized digital versions, with no noise, distortion or other secondary effects inherited from analog. Series and Parallel architectures are available as are all the features and fidelity our thEQ family is known for.
    <br>
        <em><strong>Note: 3-Series CmStick Dongle Required</strong></em>
    <br>
        thEQblue12, MSRP: $389 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=24243526&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a>
    <br>
        thEQblue6, MSRP: $239 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=24243616&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a>
     </p>
     
    <h3>three</h3>
    <p>subhead.</p>
    <p>description.
    <br>
        product1, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    <br>
        product2, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    </p>
    
    <h3>four</h3>
    <p>subhead.</p>
    <p>description.
    <br>
        product1, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    <br>
        product2, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    </p>
    
    <h3>five</h3>
    <p>subhead.</p>
    <p>description.
    <br>
        product1, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    <br>
        product2, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    </p>
     
    <h3>six</h3>
    <p>subhead.</p>
    <p>description.
    <br>
        product1, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    <br>
        product2, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    </p>
     
    <h3>seven</h3>
    <p>subhead.</p>
    <p>description.
    <br>
        product1, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    <br>
        product2, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    </p>
     
    <h3>eight</h3>
    <p>subhead.</p>
    <p>description.
    <br>
        product1, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    <br>
        product2, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    </p>
     
    <h3>nine</h3>
    <p>subhead.</p>
    <p>description.
    <br>
        product1, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    <br>
        product2, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    </p>
     
    <h3>ten</h3>
    <p>subhead.</p>
    <p>description.
    <br>
        product1, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    <br>
        product2, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    </p>
     
    <h3>eleven</h3>
    <p>subhead.</p>
    <p>description.
    <br>
        product1, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    <br>
        product2, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    </p>
     
    <h3>twelve</h3>
    <p>subhead.</p>
    <p>description.
    <br>
        product1, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    <br>
        product2, MSRP: $NN <a href="LINK" target="_blank">— 50% Off, Buy Now</a>
    </p>
     
  </div>

  <div class="container">
    <div class="space-10"></div>

    <h4>H4</h4>

    <p>Sub Three</p>

    <ul class="margin-b-20">
      <li>List 1</li>
      <li>List 2</li>
    </ul>

    <h4>H4</h4>

    <p>Sub Four</p>
    
    <ul class="margin-b-20">
      <li>List 1</li>
      <li>List 2</li>
      <li>List 3</li>
      <li>List 4</li>
    </ul>

    <p>Closing Paragraph.</p>
      
    <p><em><strong>Thanks for your interest in MAAT. Together with you and Steinberg, we look forward to making entertainment a better sounding place!</strong></em></p>

    <div class="space-60"></div>
