---
title: "Steinberg - 50% Off Fall Promotion"
image: "bg2.jpg"
height: "small"
---

<div class="container">
  <div class="space-60"></div>

  <div style="text-align: center;">
    <%= image_tag 'logo-steinberg.png', alt: "Steinberg - Fall 2019 Promotion", class: "", style: "width:40%" %>
  </div>

  <div class="space-60"></div>

  <div class="center-title">
    <h2>Use Discount Coupon code: <strong><em>Steinberg-CustomerAdvantage</em></strong></h2>
    <h3>Redeem the coupon when you check out.</h3>
  </div>

  <div class="center-title">
    <p class="lead mb0">Announcing a limited time discount program<br>in conjuction with our friends at Steinberg Media Technologies</p>
    <!--p></p-->
  </div>

  <div class="center-title">
    <h4>The MAAT Arsenal — Peerless Performance On Sale!</h4>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">thEQorange</h3>
          <p class="card-text">A linear phase EQ with unparalleled clarity. For mastering ears, and other discerning engineers.</p>
          <p class="card-text">thEQorange is a full featured 80 bit two–pass, time domain mastering equalizer. It provides exceptionally low distortion and ripple, not normally achievable with frequency domain linear phase methods. Its complex internal architecture, sophisticated signal windowing, and applied calculation precision all contribute to its exceptionally natural sound and exacting fidelity. <a href="https://www.maat.digital/theqorange/" target="_blank">Learn more…</a></p>
          <p class="card-text">
            <em><strong>Note: 3-Series CmStick Dongle Required</strong></em><br>
            Perpetual License, MSRP: $989 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=14296093&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a><br>
            Annual Subscription, MSRP: $119 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=18897082&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <p class="card-text">IMAGE HERE</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">thEQblue</h3>
          <p class="card-text">Beautiful analog architectures, twelve in all, that will take your work out of the ordinary.</p>
          <p class="card-text">thEQblue is a collection of twelve 80 bit minimum phase equalizer architectures derived from reverse engineering a variety of well respected hardware EQs. thEQblue are idealized digital versions, with no noise, distortion or other secondary effects inherited from analog. Series and Parallel architectures are available as are all the features and fidelity our thEQ family is known for. <a href="https://www.maat.digital/theqblue/" target="_blank">Learn more…</a></p>
          <p class="card-text">
            <em><strong>Note: 3-Series CmStick Dongle Required</strong></em><br>
            thEQblue12, MSRP: $389 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=24243526&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a><br>
            thEQblue6, MSRP: $239 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=24243616&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <p class="card-text">IMAGE HERE</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">SantaCruzEQ</h3>
          <p class="card-text">Beautiful analog architectures, six or twelve, in an affordable package.</p>
          <p class="card-text">An entry level version of thEQblue with the same great sound, SantaCruzEQ is the light but mighty sonic sandbox for every mixing and mastering engineer to mess around in. Six Sections of fully parametric EQ, with either six [SantaCruzEQ6] or twelve [SantaCruzEQ12] of our “Blue” Architectures available. <a href="https://www.maat.digital/santacruzeq/" target="_blank">Learn more…</a></p>
          <p class="card-text">
            SantaCruzEQ12, MSRP: $259 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=26263784&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a><br>
            SantaCruzEQ6, MSRP: $189 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=24499639&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <p class="card-text">IMAGE HERE</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">DRMeter MkII</h3>
          <p class="card-text">The only universal Loudness metering solution, from the guys who helped pave the way for Loudness normalization.</p>
          <p class="card-text">DRMeter MkII is the first Loudness metering plug–in designed for general use and specifically for music production. It’s the only comprehensive Loudness meter that displays channel–specific trends and events by augmenting the mandated mono measurement with classic L/R metering. DRMeter MkII is also the first real time plug–in to offer official integrated DR<em>i</em> Dynamic Range measurement, along with PSR and RMS. <a href="https://www.maat.digital/drm2/" target="_blank">Learn more…</a></p>
          <p class="card-text">DRMeter MkII, MSRP: $129 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=4710518&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <p class="card-text">IMAGE HERE</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">DROffline MkII</h3>
          <p class="card-text">The background batch measurement companion to our official DRMeter MkII plug-in.</p>
          <p class="card-text">The companion application to DRMeter MkII, DROffline MkII batch measurement app is the only software that automatically measures all mandated R128 parameters in the background, along with official (integrated) DRi and a wide range of key metrics. 24 different measurements, including DR<em>i</em> Dynamic Range and PSR are available, along with print quality reporting. <a href="https://www.maat.digital/dro2/" target="_blank">Learn more…</a></p>
          <p class="card-text">DROffline MkII, MSRP: $49 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=4734803&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <p class="card-text">IMAGE HERE</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">2BC multiCORR</h3>
          <p class="card-text">A multiband correlation meter with essential metering and monitoring functions.</p>
          <p class="card-text">Get a 360° overview of phase behavior, plus monitor controls for total aural awareness. 2BC multiCORR includes 31 bands of correlation, plus stereo balance, stereo correlation and five essential monitor controls: Left–Only, Right–Only, L+R, L-R and Flip. <a href="https://www.maat.digital/2bcmulticorr/" target="_blank">Learn more…</a></p>
          <p class="card-text">2BC multiCORR, MSRP: $49 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=21939842&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <p class="card-text">IMAGE HERE</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">RSPhaseShifter</h3>
          <p class="card-text">Great sounding alignment, made easy.</p>
          <p class="card-text">The only digital implementation of Roger Schult/German Audio Lab’s Phase Shifter W2324 pure analog hardware, RSPhaseShifter is the quick, simple and higher fidelity solution for any situation where you need to creatively control tonality, power spectrum and harmonic content through phase manipulation. <a href="https://www.maat.digital/rsphaseshifter/" target="_blank">Learn more…</a></p>
          <p class="card-text">RSPhaseShifter, MSRP: $99 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=4710517&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <p class="card-text">IMAGE HERE</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">DRMeter</h3>
          <p class="card-text">Accept no fakes, this is the only official DRMeter.</p>
          <p class="card-text">A universal metering plug–in for the stereo master bus, DRMeter is a modern recreation of the legendary TT DR Meter. DRMeter offers two essential options for metering, plus specialized measurement for estimating DR Dynamic Range. DR is visually displayed as a real time bar meter plus corresponding numeric fields. Sample Peak Program and RMS amplitude are also shown as nested meters and numeric readouts. <a href="https://www.maat.digital/drmeter/" target="_blank">Learn more…</a></p>
          <p class="card-text">DRMeter, MSRP: $35 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=4710515&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <p class="card-text">IMAGE HERE</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">DROffline</h3>
          <p class="card-text">The value priced measurement utility for official DR<em>i</em>.</p>
          <p class="card-text">The entry level batch measurement companion application to the DRMeter real time DR estimator plug-in. Offering essential options for musically justified, file–based metering, DROffline includes official DR<em>i</em> Dynamic Range, plus SPPM Peak and RMS amplitude measurements. One file can be evaluated, or an entire directory can be batch measured in the background. <a href="https://www.maat.digital/droffline/" target="_blank">Learn more…</a></p>
          <p class="card-text">DROffline, MSRP: $15 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=4710516&QTY=1&CART=1&CARD=1&__c=1" target="_blank">— 50% Off, Buy Now</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <p class="card-text">IMAGE HERE</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">LINearise</h3>
          <p class="card-text">The devil is in the details…</p>
          <p class="card-text">LINearise is the final link between production and delivery. Offering optional word length reduction and three dither spectra tailored to both analog and digital delivery of assets, LINearise is highly adjustable to help create your own signature “sound.” In addition to TPD and weighted TPD, LINearise features VPD™, Variable Probability Density, an exclusive feature that allows you to dial in the dither spectrum anywhere between rectangular and Gaussian distribution. <a href="https://www.maat.digital/linearise/" target="_blank">Learn more…</a></p>
          <p class="card-text">LINearise, MSRP: $19 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=26364053&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <p class="card-text">IMAGE HERE</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">GON</h3>
          <p class="card-text">More than a pretty face.</p>
          <p class="card-text">A high resolution facsimile of the audio engineer’s original visualization tool, the GON goniometer offers choice of “phosphor” display colors, plus clipping indication, gain and focus controls. <a href="https://www.maat.digital/gon/" target="_blank">Learn more…</a></p>
          <p class="card-text">GON, MSRP: $0 <a href="https://www.maat.digital/support/#installers" target="_blank">— Free, Get It Now</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <p class="card-text">IMAGE HERE</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">MtG</h3>
          <p class="card-text">Taking the drudgery out of dialog editing.</p>
          <p class="card-text">Streamlining workflows for spoken word production, MtG automatically fills gaps, of any length, in edited speech tracks. The plug–in supplies smoothly looped room tone, with controls for visualizing and defining loop fills, along with gain controls to seamlessly integrate the looped audio into the material. <a href="https://www.maat.digital/mtg/" target="_blank">Learn more…</a></p>
          <p class="card-text">MtG, MSRP: $99 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=26363853&QTY=1&CART=1&CARD=1" target="_blank">— 50% Off, Buy Now</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <p class="card-text">IMAGE HERE</p>
        </div>
      </div>
    </div>
  </div>

  <div class="center-title">
    <p><em><strong>MAAT was founded on the belief in higher fidelity signal processing and metering that speeds your workflows and promote sane dynamics. Oh yeah, enjoy the ride.<br>Thanks for your interest in MAAT. Together with you and Steinberg, we look forward to making entertainment a better sounding place!</strong></em></p>
  </div>

  <div class="space-60"></div>
</div>
