---
title: "Supported"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>Tested & Approved</h2>
    <p>for the best user experience</p>
  </div>

  <div class="row">
    <div class="col-md-4 margin-b-40">
      <div class="faq-box">
        <h4>Ableton Live</h4>
        
      </div>
    </div>
    <div class="col-md-4 margin-b-40">
      <div class="faq-box">
        <h4>Cubase</h4>
        
      </div>
    </div>
    <div class="col-md-4 margin-b-40">
      <div class="faq-box">
        <h4>Logic</h4>
        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 margin-b-40">
      <div class="faq-box">
        <h4>Nuendo</h4>
        
      </div>
    </div>
    <div class="col-md-4 margin-b-40">
      <div class="faq-box">
        <h4>Sequoia</h4>
        
      </div>
    </div>
    <div class="col-md-4 margin-b-40">
      <div class="faq-box">
        <h4>Studio One</h4>
        
      </div>
    </div>
    <div class="col-md-4 margin-b-40">
      <div class="faq-box">
        <h4>Wavelab</h4>
        
      </div>
    </div>
  </div>

  <div class="space-50"></div>
</div>

<div class="container">
  <div class="center-title">
    <h2>Reports & Questions</h2>
    <p>If you recognize any problems in conjunction with our products please
    report as detailed as possible (OS, DAW &amp; version, basic information
    about used computer - CPU - RAM, description of problem so that we can
    simulate the problem) to: <%= mail_to 'support@maat.digital' %>
  </div>

  <div class="space-90"></div>
</div>

<div class="container">
  <div class="center-title">
    <h2>FAQs</h2>
    <p>Will be complimented as soon questions appear</p>
  </div>

  <div class="space-90"></div>
</div>
