---
title: "Terms & Conditions"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>MAAT Inc.</h2>
    <p>Terms of Use</p>
  </div>

  <div class="container">
    <div class="space-10"></div>

    <p class="lead mb0">
      Thank you for using the MAAT Inc. (“Company" or “we” or “our” or “us”)
      website at maat.digital (“Site”). These Terms of Use (“Agreement”) govern
      your browsing, viewing and other use of the Site. If you are viewing this
      on your mobile device, you can also view this Agreement via a web browser
      at maat.digital/terms.
    </p>

    <p><strong>
      BEFORE USING THE SITE, PLEASE READ THIS AGREEMENT CAREFULLY.  By CLICKING
      ON “ACCEPT” or otherwise using the site, you acknowledge that you have
      read, understood, and agree to be bound by thIS AGREEMENT, INCLUDING THE
      PROVISIONS OF SECTION 10 UNDER WHICH YOU AGREE TO ARBITRATE CERTAIN CLAIMS
      INSTEAD OF GOING TO COURT AND AGREE NOT TO BRING OR PARTICIPATE IN CLASS
      ACTIONS CLAIMS.  If you do not agree to ALL OF THE TERMS AND CONDITIONS OF
      THIS AGREEMENT, THEN please do not CLICK “ACCEPT” or otherwise use THE
      SITE.
    </strong></p>

    <p>
      IF THE INDIVIDUAL ENTERING INTO THIS AGREEMENT IS DOING SO ON BEHALF OF A
      COMPANY OR OTHER LEGAL ENTITY, SUCH INDIVIDUAL REPRESENTS THAT HE OR SHE
      HAS THE REQUISITE AUTHORITY TO BIND SUCH ENTITY, ITS AFFILIATES AND ALL
      USERS WHO ACCESS OUR SITES THROUGH SUCH ENTITY’S ACCOUNT TO THESE TERMS
      AND CONDITIONS, IN WHICH CASE THE TERMS “YOU” OR “YOUR” SHALL REFER TO
      SUCH ENTITY, ITS AFFILIATES AND USERS ASSOCIATED WITH IT. YOU UNDERSTAND
      AND AGREE THAT YOUR RELATIONSHIP WITH COMPANY IS LIMITED TO BEING A SITE
      USER, AND NOT AN EMPLOYEE, AGENT, JOINT VENTURER OR PARTNER OF COMPANY FOR
      ANY REASON, AND YOU ACT EXCLUSIVELY ON YOUR OWN BEHALF AND FOR YOUR OWN
      BENEFIT, AND NOT ON BEHALF OF OR FOR THE BENEFIT OF COMPANY.
    </p>

    <p>
      <strong>Note for Children. </strong>
      The Sites are not for persons under the age of 18. If you are under 18
      years of age, then please do not use the Sites. By clicking the "I Agree"
      button or by otherwise using or registering an account for the Sites, you
      represent that you are at least 18 years of age.</br>
      The Company’s Privacy Policy, at maat.digital/privacy (the “Privacy
      Policy”), describes the collection, use and disclosure of data and
      information (including usage data) by the Company in connection with the
      Site. The Privacy Policy, as may be updated by the Company from time to
      time in accordance with its terms, is hereby incorporated into this
      Agreement, and you hereby agree to the collection, use and disclosure
      practices set forth therein.
    </p>

    <ol class="margin-b-40">
      <li>Representations and Warranties. </li>
      <p>
        You represent, warrant and covenant that, in connection with this
        Agreement or the Site, you will not and will not attempt to: (i) violate
        any laws, third party rights or our other policies; (ii) re-join or
        attempt to use the Site if the Company has banned or suspended you;
        (iii) defraud the Company or another user; or (vi) use another user’s
        account or allow another person to use your user account. Any illegal
        activities undertaken in connection with the Site may be referred to the
        authorities.
      </p>

      <li>Ownership; Proprietary Rights.</li>
      <p>
        As between you and the Company, the Company owns all worldwide right,
        title and interest, including all intellectual property and other
        proprietary rights, in and to the Site, all content available in
        connection therewith and all usage and other data generated or collected
        in connection with the use thereof (the “Company Materials”). You agree
        not to license, distribute, copy, modify, publicly perform or display,
        transmit, publish, edit, adapt, create derivative works from, or
        otherwise make any unauthorized use of the Company Materials. You agree
        not to reverse engineer, decompile, disassemble or otherwise attempt to
        discover the source code, algorithm or programs underlying the Company
        Materials. The Company reserves the right to modify or discontinue the
        Site or any version(s) thereof at any time in its sole discretion, with
        or without notice.
      </p>

      <li>Third Party Sites. /li>
      <p>
        The Site may include advertisements or other links that allow you to
        access web sites or other online services that are owned and operated by
        third parties. You acknowledge and agree that the Company is not
        responsible and shall have no liability for the content of such third
        party sites and services, products or services made available through
        them, or your use of or interaction with them.
      </p>

      <li>Third-Party Services.</li>
      <p>
        The Site may include features or functionality that interoperate with
        online services operated by third parties (such services, “Third-Party
        Services”), pursuant to agreements between Company and the operators of
        such Third-Party Services (such agreements, “Third-Party Agreements” and
        such operators, “Operators”) or through application programming
        interfaces or other means of interoperability made generally available
        by the Operators (“Third-Party APIs”) which Company does not control.
        Third-Party Agreements and Third-Party APIs (and the policies, terms and
        rules applicable to Third-Party APIs) may be modified, suspended or
        terminated at any time. Company shall have no liability with
        respect to any such modification, suspension or termination. You are
        responsible for ensuring that your use of the Site in connection with
        any Third-Party Service complies with all agreements, policies, terms
        and rules applicable to such Third-Party Service.
      </p>

      <li>Prohibited Uses.</li>
      <p>
        As a condition of your use of the Site, you will not use the Site for
        any purpose that is unlawful or prohibited by this Agreement. You may
        not use the Site in any manner that in our sole discretion could damage,
        disable, overburden, impair or interfere with any other party’s use of
        it. You may not obtain or attempt to obtain any materials or information
        through any means not intentionally made available through the Site. You
        agree not to scrape or otherwise use automated means to access or gather
        information from the Site, and agree not to bypass any robot exclusion
        measures we may put into place. In addition, you agree not to use false
        or misleading information in connection with your user account, and
        acknowledge that we reserve the right to disable any user account with
        a profile which we believe (in our sole discretion) is false or
        misleading (including a profile that impersonates a third party).
      </p>

      <li>Additional Terms.</li>
      <p>
        When you use certain features or materials on the Site, or participate
        in a particular promotion, event or contest through the Site, such use
        or participation may be subject to additional terms and conditions
        posted on the Site. Such additional terms and conditions are hereby
        incorporated within this Agreement, and you agree to comply with such
        additional terms and conditions with respect to such use or
        participation.
      </p>

      <li>Termination.</li>
      <p>
        You agree that the Company, in its sole discretion and for any or no
        reason, may terminate this Agreement or your use of the Site, at any
        time and without notice. The Company may also in its sole discretion and
        at any time discontinue providing the Site, or any part thereof, with or
        without notice. You agree that the Company shall not be liable to you or
        any third-party for any such termination. Sections 1 through 2 and 6
        through 13 will survive any termination of this Agreement.
      </p>

      <li>Disclaimers; No Warranties.</li>
      <p>
        THE SITE AND ANY MEDIA, INFORMATION OR OTHER MATERIALS MADE AVAILABLE IN
        CONJUNCTION WITH OR THROUGH THE SITE ARE PROVIDED “AS IS” AND WITHOUT
        WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT
        PERMISSIBLE PURSUANT TO APPLICABLE LAW, THE COMPANY AND ITS LICENSORS,
        SITE PROVIDERS AND PARTNERS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED,
        INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY
        RIGHTS. THE COMPANY AND ITS LICENSORS, SITE PROVIDERS AND PARTNERS DO
        NOT WARRANT THAT THE FEATURES AND FUNCTIONALITY OF THE SITE WILL BE
        UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE
        SITE OR THE SERVERS THAT MAKE AVAILABLE THE FEATURES AND FUNCTIONALITY
        THEREOF ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. CERTAIN STATE
        LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES. IF THESE LAWS APPLY
        TO YOU, SOME OR ALL OF THE FOREGOING DISCLAIMERS, EXCLUSIONS, OR
        LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.
      </p>

      <li>Indemnification.</li>
      <p>
        You agree to indemnify and hold the Company and its affiliated
        companies, and each of their officers, directors and employees, harmless
        from any claims, losses, damages, liabilities, costs and expenses,
        including reasonable attorney’s fees, (any of the foregoing, a “Claim”)
        arising out of or relating to your use or misuse of the Site, breach of
        this Agreement or infringement, misappropriation or violation of the
        intellectual property or other rights of any other person or entity,
        provided that the foregoing does not obligate you to the extent the
        Claim arises out of the Company’s willful misconduct or gross
        negligence. The Company reserves the right, at our own expense, to
        assume the exclusive defense and control of any matter for which you are
        required to indemnify us and you agree to cooperate with our defense of
        these claims.
      </p>

      <li>Limitation of Liability and Damages.</li>
      <p>
        10.UNDER NO CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE,
        SHALL THE COMPANY OR ITS AFFILIATES, CONTRACTORS, EMPLOYEES, OFFICERS,
        DIRECTORS, AGENTS, OR THIRD PARTY PARTNERS, LICENSORS OR SITE PROVIDERS,
        BE LIABLE TO YOU FOR ANY SPECIAL, INDIRECT, INCIDENTAL, CONSEQUENTIAL,
        OR EXEMPLARY DAMAGES THAT ARISE OUT OF OR RELATE TO THE SITE, INCLUDING
        YOUR USE THEREOF, OR ANY OTHER INTERACTIONS WITH THE COMPANY, EVEN IF
        THE COMPANY OR A COMPANY AUTHORIZED REPRESENTATIVE HAS BEEN ADVISED OF
        THE POSSIBILITY OF SUCH DAMAGES. APPLICABLE LAW MAY NOT ALLOW THE
        LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL
        DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU, IN
        WHICH CASE THE COMPANY’S LIABILITY WILL BE LIMITED TO THE EXTENT
        PERMITTED BY LAW. IN NO EVENT SHALL THE TOTAL LIABILITY OF COMPANY OR
        ITS AFFILIATES, CONTRACTORS, EMPLOYEES, OFFICERS, DIRECTORS, AGENTS, OR
        THIRD PARTY PARTNERS, LICENSORS OR SITE PROVIDERS TO YOU FOR ALL
        DAMAGES, LOSSES, AND CAUSES OF ACTION ARISING OUT OF OR RELATING TO THIS
        AGREEMENT OR YOUR USE OF THE SITE EXCEED FIVE U.S. DOLLARS.
      </p>

      <li>Arbitration. </li>
      <ul>
        <li style="list-style-type:none;">11.1 Agreement to Arbitrate.</li>
        <p>
          This Section 11 is referred to herein as the “Arbitration Agreement.”
          The parties that any and all controversies, claims, or disputes
          between you and Company arising out of, relating to, or resulting from
          this Agreement, shall be subject to binding arbitration pursuant to
          the terms and conditions of this Arbitration Agreement, and not any
          court action (other than a small claims court action to the extent the
          claim qualifies and other than claims for injunctive or other
          equitable relief). The Federal Arbitration Act governs the
          interpretation and enforcement of this Arbitration Agreement.
        </p>

        <li style="list-style-type:none;">11.2 Class Action Waiver. </li>
        <p>
          THE PARTIES AGREE THAT EACH PARTY MAY BRING CLAIMS AGAINST THE OTHER
          ONLY ON AN INDIVIDUAL BASIS AND NOT AS A PLAINTIFF OR CLASS MEMBER IN
          ANY PURPORTED CLASS OR REPRESENTATIVE ACTION OR PROCEEDING. UNLESS
          BOTH PARTIES AGREE OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE OR
          JOIN MORE THAN ONE PERSON'S OR PARTY'S CLAIMS AND MAY NOT OTHERWISE
          PRESIDE OVER ANY FORM OF A CONSOLIDATED, REPRESENTATIVE, OR CLASS
          PROCEEDING. ALSO, THE ARBITRATOR MAY AWARD RELIEF (INCLUDING MONETARY,
          INJUNCTIVE, AND DECLARATORY RELIEF) ONLY IN FAVOR OF THE INDIVIDUAL
          PARTY SEEKING RELIEF AND ONLY TO THE EXTENT NECESSARY TO PROVIDE
          RELIEF NECESSITATED BY THAT PARTY'S INDIVIDUAL CLAIM(S).
        </p>

        <li style="list-style-type:none;">11.3 Procedures. </li>
        <p>
          11.3 Arbitration will be conducted by a neutral arbitrator in
          accordance with the American Arbitration Association's ("AAA") rules
          and procedures (the "AAA Rules"), as modified by this Arbitration
          Agreement. If there is any inconsistency between the AAA Rules and
          this Arbitration Agreement, the terms of this Arbitration Agreement
          will control unless the arbitrator determines that the application of
          the inconsistent Arbitration Agreement terms would not result in a
          fundamentally fair arbitration. The arbitrator must also follow the
          provisions of this Agreement as a court would, including without
          limitation, the limitation of liability provisions in Section 10. You
          may visit http://www.adr.org for information on the AAA and
          http://www.adr.org/fileacase for information on how to file a claim
          against the Company.
        </p>

        <li style="list-style-type:none;">11.4 Venue.</li>
        <p>
          The arbitration shall be held in the county in which you reside or at
          another mutually agreed location. If the value of the relief sought is
          $10,000 or less, you or Company may elect to have the arbitration
          conducted by telephone or based solely on written submissions, which
          election shall be binding on each party, but subject to the
          arbitrator's discretion to require an in-person hearing if the
          circumstances warrant. Attendance at any in-person hearing may be made
          by telephone by either or both parties unless the arbitrator requires
          otherwise.
        </p>

        <li style="list-style-type:none;">11.5 Governing Law. </li>
        <p>
          The arbitrator will decide the substance of all claims in accordance
          with the laws of the State of California, without regard to its
          conflicts of laws rules, and will honor all claims of privilege
          recognized by law. The arbitrator shall not be bound by rulings in
          prior arbitrations involving different Site users, but is bound by
          rulings in prior arbitrations involving you to the extent required by
          applicable law.
        </p>

        <li style="list-style-type:none;">11.6 Costs of Arbitration.</li>
        <p>
          Payment of all filing, administration, and arbitrator fees
          (collectively, the "Arbitration Fees") will be governed
          by the AAA's Rules. Each party will be responsible for all other fees
          it incurs in connection with the arbitration, including without
          limitation, all attorney fees.
        </p>

        <li style="list-style-type:none;">11.7 Confidentiality. </li>
        <p>
          All aspects of the arbitration proceeding, and any ruling, decision or
          award by the arbitrator, will be strictly confidential for the benefit
          of all parties.
        </p>

        <li style="list-style-type:none;">11.8 Severability.</li>
        <p>
          If a court decides that any term or provision of this Arbitration
          Agreement other than Section 11.2 is invalid or unenforceable, the
          parties agree to replace such term or provision with a term or
          provision that is valid and enforceable and that comes closest to
          expressing the intention of the invalid or unenforceable term or
          provision, and this Arbitration Agreement shall be enforceable as so
          modified. If a court decides that any of the provisions of Section
          11.2 is invalid or unenforceable, then the entirety of this
          Arbitration Agreement shall be null and void. The remainder of this
          Agreement will continue to apply.</p>
      </ul>

      <li>Miscellaneous.</li>
      <p>
        The Company may make modifications, deletions and/or additions to this
        Agreement (“Changes”) at any time. Changes will be effective: (i) thirty
        (30) days after the Company provides notice of the Changes, whether such
        notice is provided through the Site user interface, is sent to the
        e-mail address associated with your account or otherwise; or (ii) when
        you opt-in or otherwise expressly agree to the Changes or a version of
        this Agreement incorporating the Changes, whichever comes first. Under
        this Agreement, you consent to receive communications from the Company
        electronically. This Agreement shall be governed by and construed in
        accordance with the laws of the State of California, without giving
        effect to any principles of conflicts of law. You agree that any action
        at law or in equity arising out of or relating to this Agreement or the
        Site that is not subject to arbitration under Section 11 shall be filed
        only in the state or federal courts in the State of California (or a
        small claims court of competent jurisdiction) and you hereby consent and
        submit to the personal jurisdiction of such courts for the purposes of
        litigating any such action. Notwithstanding the foregoing, either party
        may petition any court of competent jurisdiction for injunctive or other
        equitable relief. The failure of any party at any time to require
        performance of any provision of this Agreement shall in no manner affect
        such party’s right at a later time to enforce the same. A waiver of any
        breach of any provision of this Agreement shall not be construed as a
        continuing waiver of other breaches of the same or other provisions of
        this Agreement. If any provision of this Agreement shall be unlawful,
        void, or for any reason unenforceable, then that provision shall be
        deemed severable from this Agreement and shall not affect the validity
        and enforceability of any remaining provisions. This Agreement, and any
        rights and licenses granted hereunder, may not be transferred or
        assigned by you, but may be assigned by the Company without restriction.
        This is the entire agreement between us relating to the subject matter
        herein and shall not be modified except in a writing, signed by both
        parties, or by a change to this Agreement made by the Company as set
        forth herein.
      </p>

      <li>More Information; Complaints.</li>
      <p>
        The services hereunder are offered by MAAT Inc., email:
        support@maat.digital, address: 101 Cooper St, Santa Cruz CA 95060. If
        you are a California resident, we are required to inform you that you
        may reach the Complaint Assistance Unit of the Division of Consumer
        Sites of the California Department of Consumer Affairs via mail at 1625
        North Market Blvd., Suite N112, Sacramento, CA 95834 or telephone at
        (916) 445-1254 or (800) 952-5210. Hearing impaired users can reach the
        Complaint Assistance Unit at TDD (800) 326-2297 or TDD (916) 322-1700.
      </p>
    </ol>

  </div>
</div>
