---
title: "Upgrade Your Product"
image: "bg2.jpg"
layout: "layout_upgrade"
---

<hr>

<section class="showcase-section grey-bg">
  <div class="space-90"></div>
    <div class="container">

      <h2>Product Name</h2>
      <p>This is a placeholder for a product blurb.</p>

    </div>
  </div>
  <div class="space-30"></div>
</section>


<div id="product-upgrades" class="container">
  <div id="drm" style="margin-top:60px;">
    <h2>DRMeter to DRMeter MkII</h2>
    <p>Verify your previous purchase of DRMeter to upgrade at a special price.</p>

    <div class="form-row align-items-center mb-3">
      <div class="input-group">
        <span class="input-group-addon border-secondary">Your license code</span>
        <input type="text" class="form-control border-secondary" placeholder="xxxxx" maxlength="5" style="text-align: center;">
        <span class="input-group-addon border-secondary"> - </span>
        <input type="text" class="form-control border-secondary" placeholder="xxxxx" maxlength="5" style="text-align: center;">
        <span class="input-group-addon border-secondary"> - </span>
        <input type="text" class="form-control border-secondary" placeholder="xxxxx" maxlength="5" style="text-align: center;">
        <span class="input-group-addon border-secondary"> - </span>
        <input type="text" class="form-control border-secondary" placeholder="xxxxx" maxlength="5" style="text-align: center;">
        <span class="input-group-addon border-secondary"> - </span>
        <input type="text" class="form-control border-secondary" placeholder="xxxxx" maxlength="5" style="text-align: center;">
        <button class="input-group-addon btn btn-primary verify" data-verify="drm">Verify Purchase</button>
      </div>
    </div>
    <div class="lead">Your coupon code is: <code>---</code></div>
  </div>

  <div id="dro" style="margin-top:60px;margin-bottom:60px;">
    <h2>DROffline to DROffline MkII</h2>
    <p>Verify your previous purchase of DROffline to upgrade at a special price.</p>

    <div class="form-row align-items-center mb-3">
      <div class="input-group">
        <span class="input-group-addon border-secondary">Your license code</span>
        <input type="text" class="form-control border-secondary" placeholder="xxxxx" maxlength="5" style="text-align: center;">
        <span class="input-group-addon border-secondary"> - </span>
        <input type="text" class="form-control border-secondary" placeholder="xxxxx" maxlength="5" style="text-align: center;">
        <span class="input-group-addon border-secondary"> - </span>
        <input type="text" class="form-control border-secondary" placeholder="xxxxx" maxlength="5" style="text-align: center;">
        <span class="input-group-addon border-secondary"> - </span>
        <input type="text" class="form-control border-secondary" placeholder="xxxxx" maxlength="5" style="text-align: center;">
        <span class="input-group-addon border-secondary"> - </span>
        <input type="text" class="form-control border-secondary" placeholder="xxxxx" maxlength="5" style="text-align: center;">
        <button class="input-group-addon btn btn-primary verify" data-verify="dro">Verify Purchase</button>
      </div>
    </div>
    <div class="lead">Your coupon code is: <code>---</code></div>
  </div>
</div>

<script type="text/javascript">

  $('button.verify').on('click',function(evt){
    var product = $(this).attr('data-verify');
    var license = [];

    $(this).parent().children('input').each(function(idx) {
      license.push($(this).val());
    });

    $.ajax({
    type: "GET",
      url: "<%= data.site.api.upgradecheck.url %>",
      data: {
        "product": product,
        "key": license.join('-')
      },
      success: function (response) {
        $("div#" + product + " .lead code").text(response);
      },
      error: function (error) {
        $("div#" + product + " .lead code").text(error.statusText + ": " + error.responseText);
      },
      dataType: "json"
    });
  });

</script>
