---
title: "Product Upgrades"
image: "bg2.jpg"
---

<div class="container">
  <div id="thEQb6" style="margin-top:60px;">
    <h2>Upgrade thEQblue6 to 12</h2>
    <p>Verify your previous purchase of thEQblue to upgrade at a special price.</p>

    <form data-product-id="1760000103" onsubmit="alert(1)">
      <div class="form-row align-items-center">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="verify" class="sr-only">Your license code</label>
            <input type="text" class="form-control" id="verify" placeholder="Your license code" aria-required="true" aria-invalid="true">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Verify Purchase</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div id="SCEQ6" style="margin-top:30px;">
    <h2>SantaCruzEQ6 to 12</h2>
    <p>Verify your previous purchase of SantaCruz to upgrade at a special price.</p>

    <form data-product-id="1760000103">
      <div class="form-row align-items-center">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="verify" class="sr-only">Your license code</label>
            <input type="text" class="form-control" id="verify" placeholder="Your license code" aria-required="true" aria-invalid="true">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Verify Purchase</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div id="DRM" style="margin-top:60px;">
    <h2>DRMeter to DRMeter MkII</h2>
    <p>Verify your previous purchase of DRMeter to upgrade at a special price.</p>

    <form data-product-id="1760000103">
      <div class="form-row align-items-center">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="verify" class="sr-only">Your license code</label>
            <input type="text" class="form-control" id="verify" placeholder="Your license code" aria-required="true" aria-invalid="true">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Verify Purchase</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div id="DRO" style="margin-top:60px;">
    <h2>DROffline to DROffline MkII</h2>
    <p>Verify your previous purchase of DROffline to upgrade at a special price.</p>

    <form data-product-id="1760000103">
      <div class="form-row align-items-center">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="verify" class="sr-only">Your license code</label>
            <input type="text" class="form-control" id="verify" placeholder="Your license code" aria-required="true" aria-invalid="true">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Verify Purchase</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
