---
title: "Upgrade Your Product"
image: "bg2.jpg"
# layout: "layout_upgrade" X4MUE+TZ1CD-0VQ74-FTIF7-00584
fastspring:
  drm: "maat-drmetermk2-perpetual-license"
  dro: "maat-drofflinemk2-perpetual-license"
---

<div class="container">
  <div id="drm" style="margin-top:45px;">
    <h1>Move Up to More…</h1>
    <p>Level up your MAAT license at a nice price…</p>
    <p>Note that this Upgrade page only works for licenses that cover single products. Many of our licenses unlock multiple products, and cannot be upgraded from this page. If you would like to upgrade your product and receive an “error: No coupon found” message, simply e–mail us a note and you Product Key at: <%= mail_to 'support@maatinc.zohodesk.com' %> and we can help.</p>
  </div>
</div>

<hr>

<section class="grey-bg mt-5 pt-4 pb-2 border border-top-1 border-bottom-0">
  <div class="container">
    <h3>Upgrade DRMeter</h3>
    <p>The advanced DRMeter MkII is the one R128, A/85, DR<em>i</em> and PSR meter for all of us. Upgrade your basic DRMeter license to DRMeter MkII and save 20%.</p>
    <p>To upgrade, use the last five digits of your DRMeter Product Key as the COUPON CODE during <%= link_to 'DRMeter MkII', 'https://www.maat.digital/drm2/', target: '_blank' %> checkout.
  </div>
</section>

<section class="grey-bg mt-5 pt-4 pb-2 border border-top-1 border-bottom-0">
  <div class="container">
    <h3>Upgrade DROffline</h3>
    <p>DROffline MkII is the advanced R128/A85 measurement app with FLAC and ALAC file support, and over 20 other parameters plus a whole lot more. Upgrade your basic DROffline license to DROffline MkII and save 20%.</p>
    <p>To upgrade, use the last five digits of your DROffline Product Key as the COUPON CODE during <%= link_to 'DROffline MkII', 'https://www.maat.digital/dro2/', target: '_blank' %>checkout.
  </div>
</section>

<hr>
<p></p>
