<div class="cta-skin">
  <div class="container text-center">
    <h2> 2BC multiCORR</h2>
    <p><strong>Price: $49</strong></p>

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-xl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Purchase Now </button>
         <div class="dropdown-menu dropdown-hack" aria-labelledby="btnGroupDrop1">
          <button data-fsc-item-path-value='<%= current_page.data.fastspring %>' data-fsc-action="Add, Checkout" class="btn btn-xl btn-primary"> Buy It Now <i class="ion-play"></i></button>
         </div>
      </div>

      <div class="btn-group">
          <a href="https://www.maat.digital/support/#installers" class="btn btn-xl btn-white-omas-special-style-border">Not Released Yet!</a>
      </div>
      
    </div>
  </div>
</div>
