<div class="cta-skin">
  <div class="container text-center">
    <h2>2BC multiCORR</h2>
    <p><strong>Price: $49</strong></p>

        <div class="btn-group">
          <button data-fsc-item-path-value='<%= current_page.data.fastspring %>' data-fsc-action="Add, Checkout" class="btn btn-xl btn-primary"> Buy It Now <i class="ion-play"></i></button>
        </div>

        <div class="btn-group">
          <a href="https://www.maat.digital/support/#installers" class="btn btn-xl btn-white-omas-special-style-border"> Try It Now </a>
        </div>
      
    </div>
  </div>
</div>
